{% block content %}
    <a href="{% url 'graficos:ver_grafico' grafico_id=graf_datos.id %}">
        <div id="chart-{{graf_datos.nombre}}" class="grafico"></div>
    </a>
{% endblock %}

{% load grafic_tags %}

{% block custom_script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                
                {{graf_datos.cabecera|safe}}
                
                {% for linea in graf_datos.obtener_datos %}
                    {% ct_showlinea linea as linea_str %}
                    ,{{linea_str|safe}}
                {% endfor %}

            ]);

            var options = {
                title: '{{graf_datos.verbose_name}}',
                curveType: 'function',
                legend: { position: 'bottom' 
            }
        };

            var chart = new google.visualization.LineChart(document.getElementById('chart-{{graf_datos.nombre}}'));
            chart.draw(data, options);
        }
    </script>


    <style>
        {% if graf_datos.alto %}
            .grafico {
                height: {{graf_datos.alto}}px;
            }
        {% endif %}
    </style>
{% endblock %}