{% extends 'base_graficos.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Graficos</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Publico</th>
                        <th>Ultima Actualizacion</th>
                        <th>Valores a Mostrar</th>
                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grafico in graficos %}
                        <tr>
                            <td>
                                <a href="{% url 'graficos:lista_tipo' tipo_id=grafico.tipo %}">
                                    {{grafico.get_tipo_display}}
                                </a>
                            </td>
                            <td>{{grafico.verbose_name}}</td>
                            <td>
                                {% if grafico.publico %}
                                    <img class="iconsx2" src="/static/img/icons/public.png" alt="Es Publico">
                                {% else %}
                                    <img class="iconsx2" src="/static/img/icons/private.png" alt="Es Privado">
                                {% endif %}
                            </td>
                            <td>{{grafico.update}}</td>
                            <td>
                                {% for dato in grafico.cabecera%}
                                    {% if forloop.first %}
                                        <ul>
                                    {% endif %}
                                        <li>{{dato}}</li>
                                    {% if forloop.last %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            <td><a href="{% url 'graficos:ver_grafico' grafico_id=grafico.id %}" target="_blank">(Detalle)</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}