{% block content %}
    <div id="mapa" class="mapa_seguimiento"></div>
{% endblock %}

{% load grafic_tags %}

{% block custom_script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {
        "packages":["map"],
        "mapsApiKey": "{{gmkey}}"
    });
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([

            ['Lat', 'Long', 'Name'],
            
            {% for posicion in geoposiciones %}
                [{{posicion.latitud|stringformat:".5f"}}, {{posicion.longitud|stringformat:".5f"}}, "{{posicion.fecha}}<br>{{posicion.aclaracion}}"],
            {% endfor %}

        ]);

        var map = new google.visualization.Map(document.getElementById('mapa'));
        map.draw(data, {
          showTooltip: true,
          showInfoWindow: true
        });
      }

    </script>
{% endblock %}