{% block content %}
    <a href="{% url 'graficos:ver_grafico' grafico_id=graf_datos.id %}">
        <div id="chart-{{graf_datos.nombre}}" class="grafico"></div>
    </a>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
                {{graf_datos.cabecera|safe}}
                
                {% for dato in graf_datos.obtener_datos %}
                    ,['{{dato.fila}}', {{dato.valor|floatformat:"0" }}]
                {% endfor %}

            ]);

        var options = {
          title: '{{graf_datos.verbose_name}}',
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart-{{graf_datos.nombre}}'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}