{% extends 'base_graficos.html' %}

{% load static %}
{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h2><b>{{grafico.verbose_name}}</b></h2>
                    <div class="col-md-8">
                        <hr>
                        <p><b>Ultima Actualizacion:</b> {{grafico.update}}</p>
                        <p><b>Tipo:</b> {{grafico.get_tipo_display}}</p>
                        <p><b>Es Publico:</b>
                            {% if grafico.publico %}
                                Publicado
                            {% else %}
                                Privado
                            {% endif %}
                        </p>
                        <p><b>Columnas a Mostrar:</b>
                            {% for columna in grafico.columnas.all %}
                                <li>{{columna.orden}} {{columna.nombre}}</li>
                            {% endfor %}
                        </p>
                        <hr>
                        {% include 'lineas.html' with graf_datos=grafico %}
                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            <li><a href="{% url 'graficos:mod_grafico' grafico_id=grafico.id %}">Editar Grafico</a></li>
                            {% if grafico.publico %}
                                <li><a href="{% url 'graficos:cambiar_estado' grafico_id=grafico.id  %}">Hacer Privado</a></li>
                            {% else %}
                                <li><a href="{% url 'graficos:cambiar_estado' grafico_id=grafico.id  %}">Hacer Publico</a></li>
                            {% endif %}
                            <hr>
                            <li><a href="{% url 'graficos:crear_columna' grafico_id=grafico.id  %}">Agregar Columna</a></li>
                            <li><a href="{% url 'graficos:crear_dato' grafico_id=grafico.id  %}">Agregar Dato</a></li>
                            <li><a href="{% url 'graficos:reniciar_datos' grafico_id=grafico.id  %}">Reiniciar Datos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    {% for columna in grafico.columnas.all %}
                        <br>
                        <h4>
                            <b>Columna:</b> {{columna.nombre}}
                            <a href="{% url 'graficos:mod_columna' grafico_id=grafico.id columna_id=columna.id %}">
                                <img class="icons" src="{% static '/img/icons/change.png' %}">
                            </a>
                        </h4>
                        <div class="col-md-12">
                            <table class="listado">
                                <thead>
                                    <tr>
                                        <th>Fila</th>
                                        <th>Valor</th>
                                        <th>Modificar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dato in columna.datos.all %}
                                        <tr>
                                            <td>{{dato.fila}}</td>
                                            <td>{{dato.valor}}</td>
                                            <td>
                                                <a href="{% url 'graficos:mod_dato' grafico_id=grafico.id dato_id=dato.id %}">
                                                    <img class="icons" src="{% static '/img/icons/change.png' %}">
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}