{% extends 'base_tareas.html' %}

{% load static %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Tareas Creadas</h2>
            </div>
            <div class="col-sm-4">
                <ul class="menu_botones">
                    <li><a href="{% url 'tareas:crear_tarea' %}">Crear Tarea</a></li>
                    {% if terminada %}
                        <li><a href="{% url 'tareas:lista_tareas' %}">Ver Tareas en Progreso</a></li>
                    {% else %}
                        <li><a href="{% url 'tareas:lista_terminadas' %}">Ver Tareas Terminadas</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
        <div>
            <table class="listado table" id="table">
                <thead>
                    <tr>
                        <th>Subcomite</th>
                        <th>Nombre</th>
                        <th>Prioridad</th>
                        <th>Inicio</th>
                        <th>Fecha Limite</th>
                        <th>Horas Restantes</th>
                        <th>Ultimo Cambio</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea in tareas %}
                        <tr>
                            <td data-title="Subcomite: ">{{tarea.subcomite}}</td>
                            <td data-title="Nombre: ">{{tarea.nombre}}</td>
                            <td data-title="Prioridad: ">{{tarea.get_prioridad_display}}</td>
                            <td data-title="Inicio: ">{{tarea.begda}}</td>
                            <td data-title="Fecha Limite: ">{{tarea.endda}}</td>
                            {% with tarea.hrs_restantes as hrs %}
                                <td data-title="Horas Restantes: " class="
                                    {% if hrs < 0 %}
                                        tiempo_negativo
                                    {% elif hrs < 12 %}
                                        tiempo_limitado
                                    {% else %}
                                        tiempo_disponible
                                    {% endif %} 
                                    "> 
                                    {{hrs}} Horas
                                </td>
                            {% endwith %}
                            <td data-title="Ultimo Cambio: ">{{tarea.get_last_event}}</td>
                            <td><a href="{% url 'tareas:ver_tarea' tarea_id=tarea.id %}" target="_blank">(Ver Detalle)</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}