{% extends 'base_tareas.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Tareas:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.ver_tarea %}
                                <li><a href="{% url 'tareas:lista_tareas'  %}">Lista de Tareas</a></li>
                            {% endif %}
                            {% if perms.operadores.crear_tarea %}
                                <li><a href="{% url 'tareas:crear_tarea'  %}">Crear Tarea</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'users/info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}