{% extends 'base/base.html' %}

{% load static %}

{% block custom_head %}
    
{% endblock %}

{% block content %}
    <div id="chart" style="width: 75%%; height: 650px"></div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        {% for cierre in cierres %}
            {% if forloop.first %}
                ['Fecha',
                {% for detalle in cierre.detalles.all %}
                    '{{detalle.get_tipo_display}}',
                {% endfor %}
                ],
            {% endif %}
            ['{{cierre.mes_cierre}}/{{cierre.ano_cierre}}', 
                {% for detalle in cierre.detalles.all %}
                    {{detalle.monto|floatformat:"0"}},
                {% endfor %}
            ],
            {% if forloop.last %}
                ]);
            {% endif %}
        {% endfor %}
        

        var options = {
          title: 'Historico de Cierres',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}
