{% extends 'base/base.html' %}
{% load humanize %}
{% load static %}

{% block custom_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_management.css' %}" />
{% endblock %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <br>      
                    <h2>Defina los permisos de cada rol
                        <a href="{% url 'core:crear_grupo' app_name=app_name %}">
                            <img class="iconsx2" src="{% static '/img/icons/add_role.png' %}" alt="Agregar Grupo">
                        </a>
                    </h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            {% for grupo in grupos %}
                                <div class="col-sm-4 grupo">
                                    <h3 class="grupo">{{grupo.name}}
                                    <a href="{% url 'core:delete_grupo' app_name=app_name grupo_id=grupo.id %}">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}" alt="Eliminar">
                                    </a>
                                </h3>
                               
                                {% for permiso in permisos %}
                                    <input type="checkbox" id="{{grupo.id}}-{{permiso.id}}" name="{{grupo.id}}-{{permiso.id}}" value="{{grupo.id}}-{{permiso.id}}"
                                        {% if permiso in grupo.permissions.all %}checked{% endif %}
                                    >
                                    <label for="{{grupo.id}}-{{permiso.id}}">{{permiso.name|title}}</label><br>
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <button type="submit">Configurar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
{% endblock %}