{% extends 'base_informacion.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 formulario_custom">
                <form method="post" enctype="multipart/form-data">
                    <h2><b>Ingrese sus Datos</b></h2>
                    {% csrf_token %}
                    <!-- Mostramos errores -->
                    <p>{{ form.non_field_errors }}</p>
                    <p class="campo"><label>Numero de Documento:</label> {{form.num_doc}}</p>
                    <p class="campo"><label>Apellido:</label> {{form.apellido}}</p>
                    <br>
                    <button type="submit">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}