<!DOCTYPE html>
<html>
    <head>
        <title>ImprimirCredencial</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        {% load static %}
        <link href="{% static 'css/constantes.css' %}" rel="stylesheet">
        <link href="{% static 'css/permisos/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/permisos/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row tarjeta">
                <div class="col-sm-6">
                    <img class="foto" src="{{permiso.individuo.get_foto}}">
                </div>
                <div class="col-sm-6">
                    <img class="foto" src="{{permiso.individuo.get_qr}}">
                </div>
                <div class="row cuerpo">
                    <p style="text-align:center;">{{permiso.individuo.apellidos}}, {{permiso.individuo.nombres}}</p>
                    <p style="text-align:center;">{{permiso.individuo.num_doc}}</p>
                    <h2><b>Domicilio Actual:</b> {{permiso.individuo.domicilio_actual.calle}} {{permiso.individuo.domicilio_actual.numero}}</h2>
                    <h2>{{permiso.individuo.domicilio_actual.localidad.nombre}}</h2>
                    {% if permiso.aprobar %}
                        <p><b>Validez:</b> {{permiso.begda|date:"d/m/Y H:i"}} a {{permiso.endda|date:"d/m/Y H:i"}}</p>
                    {% endif %}
                    <h2 style="text-align:center;"><b>{{permiso.aclaracion}}</b></h2>
                </div>
            </div>
            <a class="no-print" onclick='window.print();return false;'>Imprimir</a>
            <a class="no-print" href="javascript:history.back()">Volver</a>
        </div>
    </body>
</html>