{% extends 'base/base.html' %}
{% load form_tags %}

{% block custom_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic_form.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Contacto</h1>
            <hr>
            <div class="col-sm-6">
                {% if form %}
                    {% include "extras/generic_form-nobase.html" %}
                {% else %}
                    <div class="resultado row">
                        <div class="col-sm-8">
                            <h2>La consulta fue enviada con exito!</h2>
                            <p>Por favor revise su correo electronico, le hemos enviado un mail para validar el mismo.</p>
                            <p>Le responderemos cuanto antes!</p>
                        </div>
                        <div class="col-sm-4">
                            <img style="width:90%;" src="{% static 'img/icons/check.png' %}">
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <h1>Por dudas o consultas:</h1> 
                <p>Acercarte a las oficinas de Casa Central en la Nueva Terminal o comunícate al teléfono: <b>388 – 4983338</b> o <b>388 – 154580879</b> en los horarios de <b>Lunes a Viernes de 07:00 a 19:00 hs</b> de corrido.</p>
                <p>También en nuestras oficinas de gestión en los distintos puntos de la provincia:</p>
                <ul>
                    <li>PALPALA: Oficinas de la Municipalidad de Pálpala</li>
                    <li>PERICO: Av. Malvinas argentinas esq. éxodo</li>
                    <li>LIBERTADOR: Av. wolman esq. alma fuerte (dirección de transporte)</li>
                    <li>SAN PEDRO: Calle Alberdi n° 441</li>
                    <li>HUMAHUACA: Santa fe prolongación Entre Ríos (detrás del hotel de turismo)</li>
                    <li>LA QUIACA: Av. España esq. San Juan n° 300</li>
                    <li>MONTERRICO: Terminal de ómnibus</li>
                    <li>ABRA PAMPA: Sarmiento esq. Senador Bustamante</li>
                    <li>EL CARMEN: Calle Sarmiento n° 66</li>
                    <li>TILCARA: Calle Padilla s/n (media cuadra del hotel de turismo)</li>
                    <li>FRAILE PINTADO: Calle Gorriti esq. Francisco Algañaras</li>
                </ul>

                <h1>Desarrollado por:</h1>
                <ul>
                    <li><b>Direccion de Unificacion Informatica</b> Director Marcos Federico Mandrille</li>
                    <li><b>Consultas <u>Tecnicas</u></b></li>
                    <lu>
                        <li><b>Email:</b> <a href="mailto:mmandrille@jujuy.gob.ar" target="_blank">mmandrille@jujuy.gob.ar </a></li>
                        <li><b>Dirección:</b> Sarmiento 174, 3E</li>
                        <li><b>Telefonico:</b>
                            <ul>
                                <li>Telefono Fijo: +54 0388 – 4239400</li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}