{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Seguimiento Epidemiologico</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Individuo</th>
                        <th>Telefono</th>
                        <th>Situacion</th>
                        <th>Domicilio</th>
                        <th>Localidad</th>
                        <th>Fecha</th>
                        <th>Alta Realizada</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for individuo in individuos %}
                        <tr>
                            <td>{{individuo.num_doc}}</td>
                            <td>{{individuo.apellidos}}, {{individuo.nombres}}</td>
                            <td>{{individuo.telefono}}</td>
                            <td>{{individuo.situacion_actual}}</td>
                            <td>{{individuo.domicilio_actual.calle}} {{individuo.domicilio_actual.numero}}</td>
                            <td>{{individuo.domicilio_actual.localidad.nombre}}</td>
                            <td>{{individuo.seguimiento_actual.fecha|date}}</td>
                            <td>{{individuo.seguimiento_actual.aclaracion}}</td>
                            <td>
                                <a class="nolink" href="/archivos/informacion/altas/{{individuo.num_doc}}.pdf" target="_blank">
                                    <img class="icons" src="{% static '/img/icons/history.png' %}">
                                </a>
                                <a class="nolink" href="{% url 'informacion:ver_individuo' individuo_id=individuo.id %}" target="_blank">
                                    <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}