{% extends 'base_seguimiento.html' %}

{% load static %}
{% load auditar_tags %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Lista de Controladores</b></h2>
            <a class="botoncito" href="{% url 'seguimiento:agregar_vigia' %}">
                Habilitar nuevo Vigilante
                <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
            </a>
            <div class="col-md-12">
                <table class="listado" id="table">
                    <thead>
                        <tr>
                            <th>Tipo Vigia</th>
                            <th>Aclaracion</th>
                            <th>Operador</th>
                            <th>Telefono</th>
                            <th>Ultimo Ingreso</th>
                            <th>Controlados</th>
                            <th>Alertas Activas</th>
                            <th>Estado</th>
                            <th>Ver Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vigia in vigias %}
                            <tr>
                                <td>{{vigia.get_tipo_display}}</td>
                                <td>
                                    {% if vigia.aclaracion %}
                                        {{vigia.aclaracion}}
                                    {% endif %}
                                </td>
                                <td>{{vigia}}</td>
                                <td>{{vigia.operador.telefono}}</td>
                                <td>{{vigia.operador.usuario.last_login}}</td>
                                <td>{{vigia.controlados.count}}/{{vigia.max_controlados}}</td>
                                <td>{{vigia.alertas}}</td>
                                <td>
                                    {% if vigia.activo %}
                                        <img class="icons" src="/static/img/icons/check.png">
                                    {% else %}
                                        <img class="icons" src="/static/img/icons/wrong.png">
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'seguimiento:ver_panel' vigia_id=vigia.id %}" target="_blank">
                                        <img class="icons" src="/static/img/icons/control_panel.png" alt="Panel de Control">
                                    </a>
                                    <a href="{% url 'seguimiento:mod_vigia' vigia_id=vigia.id %}">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    <a href="{% url 'seguimiento:del_vigia' vigia_id=vigia.id %}">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                    </a>
                                    <a class="nolink"  href="{% ct_auditar_obj_url vigia %}">
                                        <img class="icons" src="{% static '/img/icons/question.png' %}">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}