{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Lista de Controladores</b></h2>
            <a class="botoncito" href="{% url 'seguimiento:agregar_vigia' %}">
                Habilitar nuevo Vigilante
                <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
            </a>
            <div class="col-md-12">
                <table class="listado" id="table">
                    <thead>
                        <tr>
                            <th>Tipo Vigia</th>
                            <th>Operador</th>
                            <th>Telefono</th>
                            <th>Ultimo Ingreso</th>
                            <th>Cantidad Controlados</th>
                            <th>Alertas Activas</th>
                            <th>Ver Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vigia in vigias %}
                            <tr>
                                <td>{{vigia.get_tipo_display}}</td>
                                <td>{{vigia}}</td>
                                <td>{{vigia.operador.telefono}}</td>
                                <td>{{vigia.operador.usuario.last_login}}</td>
                                <td>{{vigia.controlados.count}}</td>
                                <td>{{vigia.alertas_activas}}</td>
                                <td>
                                    <a href="{% url 'seguimiento:ver_panel' vigia_id=vigia.id %}" target="_blank">
                                        <img class="icons" src="/static/img/icons/control_panel.png" alt="Panel de Control">
                                    </a>
                                    <a href="{% url 'seguimiento:mod_vigia' vigia_id=vigia.id %}">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    <a href="{% url 'seguimiento:del_vigia' vigia_id=vigia.id %}">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}