{% extends 'base_seguimiento.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Seguimiento:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.seguimiento %}
                                {% if es_vigia %}
                                    <li><a href="{% url 'seguimiento:mi_panel' %}">Ver Mi Panel de Control</a></li>
                                {% endif %}
                                {% if perms.operadores.seguimiento_admin %}
                                    <hr>
                                    <h3>Seguimiento Epidemiologico</h3>
                                    <li><a href="{% url 'seguimiento:lista_vigias' %}">Lista de Vigilantes Habilitados</a></li>
                                    <li><a href="{% url 'seguimiento:situacion_vigilancia' %}">Situacion General</a></li>
                                    <li><a href="{% url 'seguimiento:lista_sin_vigias' %}">Listado de Individuos Sin Seguimiento</a></li>
                                    <li><a href="{% url 'seguimiento:lista_seguimientos' %}">Listado de Individuos Bajo Seguimiento</a></li>
                                    <hr>
                                    <h3>Altas Realizadas</h3>
                                    <li><a href="{% url 'seguimiento:esperando_alta_seguimiento' %}">Individuos para Alta de Seguimiento</a></li>
                                    <li><a href="{% url 'seguimiento:altas_realizadas' %}">Altas Realizadas</a></li>
                                    <hr>
                                    <h3>Administracion de Tests:</h3>
                                    <li><a href="{% url 'seguimiento:ranking_test' %}">Ranking para Test</a></li>
                                    <li><a href="{% url 'seguimiento:esperando_test' %}">Esperando Realizacion y Resultado de Test</a></li>
                                    <li><a href="{% url 'seguimiento:test_realizados' %}">Test Realizados</a></li>
                                    <hr>
                                    <h3>Otras Listas:</h3>
                                    <li><a href="{% url 'seguimiento:lista_sin_telefono' %}">Listado de Individuos sin Telefono</a></li>
                                    <li><a href="{% url 'seguimiento:lista_autodiagnosticos' %}">Listado de Autodiagnosticos</a></li>
                                    <li><a href="{% url 'seguimiento:lista_aislados' %}">Listado de Todos los Aislados</a></li>                                    <hr>
                                {% endif %}
                                {% if perms.operadores.operativos %}
                                    <h3>Cazador 360</h3>
                                    <li><a href="{% url 'seguimiento:situacion_operativos' %}">Situacion Operativos</a></li>
                                    <li><a href="{% url 'seguimiento:lista_operativos' %}">Lista de Vehiculos Habilitados</a></li>
                                {% endif %}
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <hr>
                                <h3>Uso Bajo Supervision:</h3>
                                <li><a href="{% url 'admin:index' %}">Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}