{% extends 'base_seguimiento.html' %}

{% load static %}
{% load seguimiento_tags %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col-sm-8">
                <h2><b>Panel de {{vigia}}</b></h2>
                <p><b>{{vigia.get_tipo_display}}</b></p>
            </div>
            <div class="col-sm-4 situacion_vigia">
                <br>
                {% if vigia.activo %}
                    <div class="vigia_activo">
                        ACTIVO: Asignacion Automatica
                {% else %}
                    <div class="vigia_inactivo">
                        DESACTIVADO: Sin Asignacion Automatica
                {% endif %}
                        {% if perms.operadores.seguimiento_admin or vigia.tipo == "EM" %}
                            <a class="nolink" href="{% url 'seguimiento:mod_estado_vigia' vigia_id=vigia.id %}">
                                <img class="icons" src="{% static '/img/icons/switch.png' %}" alt="Modificar">
                            </a>
                        {% endif %}
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7">
                <h3>Alertas Activas ({{individuos.count}})</h3>
                <table class="listado" id="table">
                    <thead>
                        <tr>
                            <th>Retraso</th>
                            <th>Individuo</th>
                            <th>Domicilio</th>
                            <th>Telefono</th>
                            <th>Ultimo Seguimiento</th>
                            <th>Fecha</th>
                            <th>Operador</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for individuo in individuos %}
                            <tr id="{{individuo.id}}" class="{% ct_color_alerta individuo.seguimiento_actual %}">
                                <td><b>{% ct_horas_desde individuo.seguimiento_actual.fecha %}hrs</b></td>
                                <td>
                                    {{individuo.apellidos}}, {{individuo.nombres}}
                                </td>
                                
                                <td>{{individuo.domicilio_actual}}</td>
                                <td>
                                    {{individuo.telefono}}
                                    <a class="nolink" href="{% url 'informacion:mod_telefono' individuo_id=individuo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}" alt="Modificar">
                                    </a>
                                </td>
                                {% if individuo.seguimiento_actual %}
                                    <td>{{individuo.seguimiento_actual.get_tipo_display}}: {{individuo.seguimiento_actual.aclaracion|safe}}</td>
                                    <td>{{individuo.seguimiento_actual.fecha|date:"d/m H:i"}}</td>
                                    <td>{{individuo.seguimiento_actual.operador}}</td>
                                {% else %}
                                    {% with individuo.seguimientos_actual as seguimiento %}
                                        <td>{{seguimiento.get_tipo_display}}: {{seguimiento.aclaracion|safe}}</td>
                                        <td>{{seguimiento.fecha|date:"d/m H:i"}}</td>
                                        <td>{{seguimiento.operador}}</td>
                                    {% endwith %}
                                {% endif %}
                                <td>
                                    <a class="nolink" href="{% url 'seguimiento:cargar_seguimiento' individuo_id=individuo.id tipo='L' %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/add_call.png' %}">
                                    </a>
                                    <a class="nolink" href="{% url 'informacion:cargar_sintoma' individuo_id=individuo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/doctor.png' %}">
                                    </a>
                                    <a class="nolink" href="{% url 'informacion:cargar_patologia' individuo_id=individuo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/patologia.png' %}">
                                    </a>
                                    {% if vigia.tipo == "VM" %}
                                        <a class="nolink" href="{% url 'informacion:cargar_atributo' individuo_id=individuo.id tipo='AP' %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/crazy.png' %}">
                                        </a>
                                    {% elif vigia.tipo != "AP" %}
                                        <a class="nolink" href="{% url 'informacion:cargar_atributo' individuo_id=individuo.id tipo='VM' %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/crazy.png' %}">
                                        </a>
                                    {% endif %}
                                    <a class="nolink" href="{% url 'seguimiento:ver_seguimiento' individuo_id=individuo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                    <a class="nolink" href="{% url 'seguimiento:fin_seguimiento' vigia_id=vigia.id individuo_id=individuo.id %}">
                                        <img class="icons" src="{% static '/img/icons/exit.png' %}">
                                    </a>
                                    {% if individuo.es_camionero %}
                                        <a href="{% url 'permisos:ver_registros_individuo' individuo_id=individuo.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/camion.png' %}" alt="Circulacion Temporal">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-xl-5">
                <h3>Individuos Controlados ({{vigia.controlados.count}})</h3>
                <a class="botoncito" href="{% url 'seguimiento:agregar_vigilado' vigia_id=vigia.id %}">
                    Asignar Nuevo Individuo
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                </a>
                <table class="listado">
                    <thead>
                        <tr>
                            <th>Individuo</th>
                            <th>Situacion</th>
                            <th>Obra Social</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:small;">
                        {% for individuo in vigia.controlados.all %}
                            <tr>
                                <td>
                                    <b>{{individuo}}</b>
                                </td>
                                <td>
                                    {% with individuo.get_situacion as situacion %}
                                        {{situacion}}<br>
                                        {{situacion.aclaracion|safe}}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% if individuo.tiene_obrasocial %}
                                        <b>{{individuo.get_obrasocial}}</b>
                                    {% else %}
                                        No Tiene
                                        <a class="nolink" href="{% url 'informacion:cargar_atributo' individuo_id=individuo.id tipo='TO' %}" target="_blank">
                                            <img class="icons" src="/static/admin/img/icon-addlink.svg">
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if perms.operadores.individuos %}
                                        <a class="nolink"  href="{% url 'informacion:ver_individuo' individuo_id=individuo.id %}" class="nolink" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/access_card.png' %}">
                                        </a>
                                    {% endif %}
                                    {% if perms.operadores.seguimiento_admin %}
                                        <a class="nolink"  href="{% url 'seguimiento:quitar_vigilado' vigia_id=vigia.id individuo_id=individuo.id %}">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}