{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Tablero de Situacion</b></h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Vigilantes:</h3>
                <table class="listado" id="table">

                    <thead>
                        <tr>
                            <th>Vigilante</th>
                            <th>Tipo</th>
                            <th>Controlados</th>
                            <th>Alertas</th>
                            <th>Totales</th>
                            <th>Semanales</th>
                            <th>Ver Detalle</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for vigia in vigias %}
                            <tr>
                                <td>{{vigia}}</th>
                                <td>{{vigia.get_tipo_display}}</td>
                                <td>{{vigia.cant_controlados}}/{{vigia.max_controlados}}</th>
                                <td>{{vigia.alertas}}</th>
                                <td>{{vigia.total_seguimientos}}</th>
                                <td>{{vigia.semana_seguimientos}}</th>
                                <td>
                                    <a href="{% url 'seguimiento:seguimientos_vigia' vigia_id=vigia.id %}" target="_blank">
                                        <img class="icons" src="/static/img/icons/history.png" alt="Listado">
                                    </a>
                                    <a href="{% url 'seguimiento:ver_panel' vigia_id=vigia.id %}" target="_blank">
                                        <img class="icons" src="/static/img/icons/control_panel.png" alt="Panel de Control">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            <!-- Grafico -->
            <div class="col-sm-6">
                {% include 'lineas.html' with graf_datos=graf_vigilancia %}
            </div>
        </div>
    </div>
{% endblock %}