{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Tablero de Situacion</b></h2>
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Cant. Vigias</th>
                        <th>Activos</th>
                        <th>Controlados</th>
                        <th>Disponibles</th>
                        <th>Llamadas Totales</th>
                        <th>Llamadas Semanales</th>
                        <th>Responsabilidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipo in vigilancias %}
                        <tr>
                            <td>{{tipo.1}}</th>
                            <td>{{tipo.2}}</th>
                            <td>{{tipo.3}}</th>
                            <td>{{tipo.4}}/{{tipo.5}}</th>
                            <td>{{tipo.6}}</th>
                            <td>{{tipo.7}}</th>
                            <td>{{tipo.8}}</th>
                            <td>{{tipo.9|floatformat:2}}%</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <h2><b>Informacion Individualizada</b></h2>
            <!-- cabecera -->
            <ul class="nav nav-tabs" role="tablist">
                {% for tipo in vigilancias %}
                    <li role="presentation" {% if forloop.first %}class="active"{% endif %}><a href="#tab_{{tipo.0}}" aria-controls="#tab_{{tipo.0}}" role="tab" data-toggle="tab">{{tipo.1}}</a></li>
                {% endfor %}
            </ul>
            <!-- Tabs -->
            <div class="col-lg-12">
                <div class="tab-content">
                    {% for tipo in vigilancias %}
                        <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="tab_{{tipo.0}}">
                            <table class="listado" id="table">
                                <thead>
                                    <tr>
                                        <th>Vigilante</th>
                                        <th>Tipo</th>
                                        <th>Aclaracion</th>
                                        <th>Estado</th>
                                        <th>Controlados</th>
                                        <th>Llamadas Totales</th>
                                        <th>Llamadas Semanales</th>
                                        <th>Responsabilidad</th>
                                        <th>Ver Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for vigia in vigias %}
                                        {% if vigia.tipo == tipo.0 %}
                                            <tr>
                                                <td>{{vigia}}</th>
                                                <td>{{vigia.get_tipo_display}}</td>
                                                <td>{{vigia.aclaracion}}</td>
                                                <td>
                                                {% if vigia.activo %}
                                                    <img class="icons" src="/static/img/icons/check.png">
                                                {% else %}
                                                    <img class="icons" src="/static/img/icons/wrong.png">
                                                {% endif %}
                                                </td>
                                                <td>{{vigia.cant_controlados}}/{{vigia.max_controlados}}</th>
                                                <td>{{vigia.total_seguimientos}}</th>
                                                <td>{{vigia.semana_seguimientos}}</th>
                                                <td>{{vigia.responsabilidad|floatformat:2}}</th>
                                                <td>
                                                    <a href="{% url 'seguimiento:seguimientos_vigia' vigia_id=vigia.id %}" target="_blank">
                                                        <img class="icons" src="/static/img/icons/history.png" alt="Listado">
                                                    </a>
                                                    <a href="{% url 'seguimiento:ver_panel' vigia_id=vigia.id %}" target="_blank">
                                                        <img class="icons" src="/static/img/icons/control_panel.png" alt="Panel de Control">
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% comment %} <!-- Grafico -->
            <div class="col-sm-6">
                {% include 'lineas.html' with graf_datos=graf_vigilancia %}
            </div> {% endcomment %}
        </div>
    </div>
{% endblock %}