{% extends 'base_seguimiento.html' %}

{% load static %}
{% load auditar_tags %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <br>
                    <div class="col-sm-1" style="text-align:right;">
                        <img class="fotografia" src="{{individuo.get_foto}}">
                    </div>
                    <div class="col-sm-5">
                        <h2>
                            <b>{{individuo.apellidos}}, {{individuo.nombres}}</b>
                            {% if perms.operadores.individuos %}
                                <a class="nolink"  href="{% url 'informacion:ver_individuo' individuo_id=individuo.id %}">
                                    <img class="icons" src="{% static '/img/icons/change.png' %}">
                                </a>
                            {% endif %}
                        </h2>
                        <!-- ESTADO -->
                        {% if individuo.situacion_actual %}
                            <h4>Estado: <b>{{individuo.situacion_actual}}</b> 
                                <a class="nolink"  href="javascript:PopUp(1);" ><img class="icons" src="{% static '/img/icons/history.png' %}"></a>
                            </h4>
                            {% include 'utils/historial_situaciones.html' %}
                        {% else %}
                            <h4 class="alerta">EL INDIVIDUO NO REGISTRA ESTADO ACTUAL: 
                                <a class="nolink" href="{% url 'informacion:cargar_situacion' individuo_id=individuo.id %}">
                                    CARGAR
                                </a>
                            </h4>
                        {% endif %}
                        {% if individuo.domicilios.exists %}
                            {% with individuo.domicilio_actual as domicilio %}
                                <p>
                                    <b>Domicilio:</b> {{domicilio.calle}} {{domicilio.numero}}, {{domicilio.localidad.nombre}} | {{domicilio.aclaracion}}
                                    <a class="nolink"  href="javascript:PopUp(2);" ><img class="icons" src="{% static '/img/icons/history.png' %}"></a>
                                    {% with individuo.geoposicion as last_geopos %}
                                        {% if last_geopos %}
                                            <a class="nolink"  href="https://www.google.com/maps?q={{last_geopos.latitud|stringformat:".5f"}},{{last_geopos.longitud|stringformat:".5f"}}" target="_blank">
                                                <img class="icons" src="{% static '/img/icons/map.png' %}">
                                            </a>
                                        {% endif %}
                                    {% endwith %}
                                </p>
                            {% endwith %}
                            {% include 'utils/historial_domicilios.html' %}
                        {% else %}
                            <h4 class="alerta">EL INDIVIDUO NO REGISTRA RESIDENCIA ACTUAL:
                                <a class="nolink"  href="{% url 'informacion:cargar_domicilio' individuo_id=individuo.id %}">
                                    CARGAR
                                </a>
                            </h4>
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <h4><b>Contacto:</b></h4>
                        <p>Telefono: <a href="skype:{{individuo.telefono}}?call">{{individuo.telefono}}</a></p>
                        <p>Email: {{individuo.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <h2><b>Seguimientos Realizados</b></h2>
                    <table class="listado" id="table">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Aclaracion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for seguimiento in individuo.seguimientos.all reversed %}
                                <tr>
                                    <td>{{seguimiento.get_tipo_display}}</td>
                                    <td>{{seguimiento.fecha}}</td>
                                    <td>{{seguimiento.aclaracion|safe}}</td>
                                    <td>
                                        <a class="nolink"  href="{% ct_auditar_obj_url seguimiento %}">
                                            <img class="icons" src="{% static '/img/icons/question.png' %}">
                                        </a>
                                        <a class="nolink"  href="{% url 'seguimiento:mod_seguimiento' individuo_id=individuo.id seguimiento_id=seguimiento.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/change.png' %}">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
    