{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="formulario container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <h2>Seleccione los filtros:</h2>
                <div class="col-md-4">
                    <h3 class="filter_name">Estados</h3>
                    <ul>
                        {% for estado in estados %}
                            <li>
                                <input type="checkbox" id="estado" name="estado" value="{{estado.0}}">
                                <label>{{estado.1}}</label>
                            </li>
                        {% endfor %}
                    </ul>
                    <h3 class="filter_name">Conducta:</h3>
                    <ul>
                        {% for conducta in conductas %}
                            <li>
                                <input type="checkbox" id="conducta" name="conducta" value="{{conducta.0}}">
                                <label>{{conducta.1}}</label>
                            </li>
                        {% endfor %}
                    </ul>  
                </div>
                <div class="col-md-4">
                    <h3 class="filter_name">Atributos:</h3>
                    <ul>
                        {% for atributo in atributos %}
                            <li>
                                <input type="checkbox" id="atributo" name="atributo" value="{{atributo.0}}">
                                <label>{{atributo.1}}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="filter_name">Seguimientos:</h3>
                        <ul>
                            {% for seguimiento in seguimientos %}
                                <li>
                                    <input type="checkbox" id="seguimiento" name="seguimiento" value="{{seguimiento.0}}">
                                    <label>{{seguimiento.1}}</label>
                                </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
            <button type="submit">Reporte</button>
        </form>
    </div>
{% endblock %}