{% autoescape off %}
    Bienvenido {{inscripto.apellidos}}, {{incripto.nombres}}:

    Tu inscripcion fue recibida con exito dentro del sistema COE2020:

    Nos indicaste los siguientes datos:
    Identificacion:{{inscripto.get_tipo_doc_display}}  {{inscripto.num_doc}}
    Profesion: {{inscripto.get_profesion_display}}, Matricula: {{inscripto.matricula}}
    Domicilio: {{inscripto.domicilio}}
    Telefono: {{inscripto.telefono}}

    Por favor ingresa a este link para validar tu correo personal y la inscripcion:
    http://coe.jujuy.gob.ar/inscripciones/act/{{inscripto.pk}}/{{token}}


    Muy pronto nos contactaremos con usted!
{% endautoescape %}