{% autoescape off %}
    Su petición ha sido ingresada, y estará bajo supervisión de nuestros operadores.
    Tenga en cuenta que debe llenar sus datos personales para corroborar la información
    suministrada en nuestra BASE DE DATOS.
    

    Nombre Completo: {{peticion.individuo.apellidos}},  {{peticion.individuo.nombres}}
    DNI: {{peticion.individuo.num_doc}}         
    

    A través de este link puede acceder al mismo:
    http://coe.jujuy.gob.ar/{% url 'inscripciones:ver_peticion_persona' token=peticion.token %}
    

    Pronto le avisaremos la aprobación o no, de su pedido.
{% endautoescape %}