{% autoescape off %}   
    
    Su petición ha sido ingresada, y estará bajo supervisión de nuestros operadores.
    Tenga en cuenta que debe llenar los datos del responsable de la organización y de
    cada uno de los afiliados que pertenecen a dicha institución.
    

    CUIT: {{organizacion.cuit}}    
    Denominación: {{organizacion.denominacion}}
    Tipo de Organización: {{organizacion.get_tipo_organizacion_display}}
    Cantidad de Afiliados: {{organizacion.cantidad}}
    Responsable de la Organización: {{organizacion.responsables.nombres}}, {{organizacion.responsables.apellidos}}, {{organizacion.responsables.num_doc}}      
    

    A través de este link puede acceder al mismo:
    http://coe.jujuy.gob.ar/{% url 'inscripciones:ver_peticion_organizacion' token=organizacion.token %}
    

    Pronto le avisaremos la aprobación o no, de su pedido.
    
    
{% endautoescape %}