{% load static %}
{% block content %}
    <meta charset="utf-8">
    <title>{% block title %}Comite Operativo de Emergencias 2020 - Jujuy{% endblock %}</title>
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/constantes.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/menu_botones.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popups.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tareas.css' %}" />
{% endblock %}