{% load menu_tags %}

{% block content %}
    <li><a href="{% url 'core:home' %}">Inicio</a></li>
    <li><a href="{% url 'noticias:ver_noticias' %}">Noticias</a></li>
    <li><a href="{% url 'core:faqs' %}">¿Que es el COE?</a></li>
    <li><a href="{% url 'consultas:consultas' %}">Contacto</a></li>
    {% if user.is_authenticated %}
        {% ct_opciones request.user as opciones %}
        <li>
            <li><a href="{% url 'core:menu' %}">{{user.username|title}}</a>
            <ul class="submenu">
                {% for opcion in opciones %}
                    <li><a href="/{{opcion.1}}">{{opcion.0}}</a></li>
                {% endfor %}
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'wservices:menu' %}">Web Services</a></li>
                {% endif %}
                {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Administrador</a></li>
                {% endif %}
                <li><a href="{% url 'core:home_logout' %}">Cerrar Sesion</a></li>
            </ul>
            <span class="triangle glyphicon glyphicon-triangle-bottom"></span>
        </li>
    {% else %}
        <li><a href="{% url 'core:home_login' %}">Ingresar</a></li>
    {% endif %}
{% endblock %}