{% extends 'base_informacion.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <form method="post">
                            {% csrf_token %}
                            <h1>Titulo: {{ form.titulo }}</h1>
                            <hr>
                            <p>Tipo: {{ form.tipo }}</p>
                            <div class="row">
                                <div class="col-sm-8">
                                    {{ form.cuerpo }}
                                </div>
                                <div class="col-sm-4">
                                    <p>Participes:</p>
                                    {{ form.participes }}
                                    <p>Publicable: {{ form.publica }}</p>
                                </div>
                                <button type="submit">Crear</button>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}