{% extends 'base_actas.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Actas Cargadas</h2>
        </div>
        <div class="row">
        <div>
            <table class="listado table" id="table">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Publica</th>
                        <th>Ver Acta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for acta in actas %}
                        <tr>
                            <td data-title="Titulo: ">{{acta.titulo}}</td>
                            <td data-title="Tipo: ">{{acta.get_tipo_display}}</td>
                            <td data-title="Fecha: ">{{acta.fecha}}</td>
                            <td data-title="Publica: ">{{acta.publica}}</td>
                            <td><a href="{% url 'actas:ver_acta' acta_id=acta.id %}" target="_blank">(Ver Acta)</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}