{% extends 'base_inventario.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Actas:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.menu_actas %}
                                <li><a href="{% url 'actas:listar_actas'  %}">Listar Actas</a></li>
                            {% endif %}
                            {% if perms.operadores.menu_actas %}
                                <li><a href="{% url 'actas:crear_acta'  %}">Cargar Acta</a></li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="col-md-4">
                        {% include 'users/info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}