{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>{{titulo}}</b></h2>
            <div class="col-md-12">
                <table class="listado" id="table">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Fecha Llegada</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Vehiculo</th>
                            <th>Cant. Pasajeros</th>
                            <th>Ver Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingreso in ingresos %}
                            <tr>
                                <td>{{ingreso.get_tipo_display}}</td>
                                <td>{{ingreso.get_estado_display}}</td>
                                <td>{{ingreso.fecha_llegada|date:"d/m/Y H:i"}}</td>
                                <td>{{ingreso.origen}}</td>
                                <td>{{ingreso.destino}}</td>
                                <td>{{ingreso.marca}} {{ingreso.modelo}} {{ingreso.patente}}</td>
                                <td>{{ingreso.individuos.count}}</td>
                                <td>
                                    <a href="{% url 'permisos:ver_ingreso_provincial' token=ingreso.token %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                    <a href="" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}