{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Listado de Registros Fronterizos</b></h2>
            <div class="col-md-12">
                <table class="listado" id="table">
                    <thead>
                        <tr>
                            <th>Actividad</th>
                            <th>Origen</th>
                            <th>Vehiculo</th>
                            <th>Chofer</th>
                            <th>Telefono</th>
                            <th>Destino Circulacion</th>
                            <th>Control Inicial</th>
                            <th>Fecha de Inicio</th>
                            <th>Control Final</th>
                            <th>Fecha de Final</th>
                            <th>Tiempo Permitido</th>
                            <th>Horas Reales</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registro in registros.all reversed %}
                            <tr>
                                {% with registro.circulacion as circulacion %}
                                    <td class="minitexto">{{circulacion.get_tipo_display}}</td>
                                    <td>{{circulacion.origen.nombre}}</td>
                                    <td>{{circulacion.marca}} {{circulacion.modelo}} {{circulacion.patente}}</td>
                                    <td>{{circulacion.chofer}}</td>
                                    <td>{{circulacion.chofer.telefono}}</td>
                                {% endwith %}
                                <td>{{registro.destino.nombre}}</td>
                                <td>{{registro.get_control_inicio_display}}</td>
                                <td>{{registro.fecha_inicio}}</td>
                                {% if registro.control_final %}
                                    <td>{{registro.get_control_final_display}}</td>
                                    <td>{{registro.fecha_final}}</td>
                                {% else %}
                                    <td colspan="2" style="text-align: center;">
                                        AUN NO SALIO
                                    </td>
                                {% endif %}
                                <td>{{registro.tiempo_permitido}}</td>
                                <td>{{registro.tiempo_real|floatformat:2}}hrs</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}