{% extends 'base_informacion.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Permisos:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.permisos %}
                                <h3>Ingreso Provincial</h3>
                                <li><a href="{% url 'permisos:situacion_ingresos' %}">Tablero de Situacion</a></li>
                                <li><a href="{% url 'permisos:lista_ingresos_completos' %}">Ingresos Esperando Aprobacion</a></li>
                                <li><a href="{% url 'permisos:lista_ingresos' %}">Listado de todos los pedidos de Ingresos</a></li>
                                <li><a href="{% url 'permisos:lista_nacion' %}">Listado Para Nacion</a></li>
                                <br>
                                <li><a href="{% url 'permisos:pedir_ingreso_provincial' %}">Pedir Ingreso Provincial a Jujuy</a></li>
                                <hr>
                                <h3>Ingreso de Transporte Temporal</h3>
                                <li><a href="{% url 'permisos:lista_circulaciones' %}">Lista Permisos de Circulacion Temporal</a></li>
                                <br>
                                <li><a href="{% url 'permisos:pedir_circulacion_temporal' %}">Pedir Circulacion Temporal</a></li>
                                <hr>
                                <h3>Permisos Digitales</h3>
                                <li><a href="{% url 'permisos:situacion_restricciones' %}">Niveles de Restriccion</a></li>
                                <li><a href="{% url 'permisos:lista_activos' %}">Listado de Permisos Activos</a></li>
                                <li><a href="{% url 'permisos:lista_vencidos' %}">Listado de Permisos Vencidos</a></li>
                                <li><a href="{% url 'permisos:buscar_permiso' %}">Pedido de Permiso Publico</a></li>
                            {% endif %}
                            {% if perms.operadores.frontera %}
                                <h3>Control de Fronteras</h3>
                                <li><a href="{% url 'permisos:control_circulacion' %}">Control de Ingreso/Egreso</a></li>
                                <li><a href="{% url 'permisos:lista_frontera' %}">Lista de Movimientos Fronterizos</a></li>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <hr>
                                <h3>Uso Bajo Supervision:</h3>
                                <li><a href="{% url 'admin:index' %}">Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'users/info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}