{% extends 'base_inscripciones.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post" enctype="multipart/form-data" autocomplete="off">
                <div class="row">
                    <br>
                    {% csrf_token %}
                    <!-- Mostramos errores -->
                    {% for field in form %}
                        {% if field.errors %}
                            <li>
                                <b>{{ field.label }}: {{ field.errors|striptags }}</b>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <br>
                    <h1><b>{{titulo}}</b></h1>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="bordeado">
                                <p>Este formulario aplica solamente a aquellas personas que por motivos de fuerza mayor deban realizar ingresos temporales a la provincia de jujuy.</p>
                                <p>Para poder realizar el mismo se debe cumplir uno de los siguientes criterios:</p>
                                <ol>
                                    <li>1- Contar con Permiso de Circulacion Nacional</li>
                                    <li>2- Completar el formulario inicial</li>
                                    <li>2- Completar los pasos posteriores (Recibira un Email a su casilla de contacto)</li>
                                    <li>4- Registrarse en la aplicacion COVID-19 (<a href="https://play.google.com/store/apps/details?id=com.ga.covidjujuy_app" target="_blank">instalar</a>)</li>
                                </ol>
                                <hr>
                                <p>La información consignada precedentemente reviste carácter de Declaración Jurada.</p>
                                <p>Su omisión o falsedad procederá al rechazo de la inscripción o la exclusión del registro, sin perjuicio de las sanciones que le pudiera corresponder.</p>
                                <img class="fotos" src="{% static 'img/circulaciontemporal.png' %}">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="bordeado" style="text-align:justify;">
                                <h3><b>Datos del Vehiculo</b></h3>
                                <p><b>Motivo del Ingreso:</b> {{form.tipo}}</p>
                                <p><b>Email de Contacto:</b> {{form.email_contacto}} <i>(A travez del mismo lo contactaremos)</i></p>
                                <p><b>Provincia de Origen:</b> {{form.origen}}</p>
                                <p><b>Destino Final:</b> {{form.destino}}</p>
                                <hr>
                                <p><b>Datos del Vehiculo</b></p>
                                <p><b>Marca:</b> {{form.marca}}</p>
                                <p><b>Modelo:</b> {{form.modelo}}</p>
                                <p><b>Patente:</b> {{form.patente}} <i>(Solo Letras y Numeros, sin espacios ni simbolos)</i></p>
                                <p><b>Titular:</b> {{form.titular}} <i>(Nombre y Apellido / Razon Social)</i></p>
                                <hr>
                                <p><b>Describa lo mejor posible la actividad que realizara:</b></p>
                                {{form.actividad}}
                                <br>
                                <button type="submit">Iniciar Pedido de Ingreso</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}