{% extends 'base_inscripciones.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post" enctype="multipart/form-data" autocomplete="off">
                <div class="row">
                    <br>
                    {% csrf_token %}
                    <!-- Mostramos errores -->
                    {% for field in form %}
                        {% if field.errors %}
                            <li>
                                <b>{{ field.label }}: {{ field.errors|striptags }}</b>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <br>
                    <h1><b>{{titulo}}</b></h1>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="bordeado">
                                <p>Este formulario es para aquellos que desean volver a la provincia en un <b>Vehiculo Particular</b>.</p>
                                <p><b>Si usted Posee un Boleto de Colectivo u Avion la empresa responsable del mismo realizara este tramite.</b></p>
                                <hr>
                                <p><b>Para poder realizar el mismo se debe cumplir los siguientes criterios:</b></p>
                                <ul>
                                    <li>1- Completar el formulario inicial</li>
                                    <li>2- Completar los pasos posteriores (Recibira un Email a su casilla de contacto)</li>
                                    <li>3- Cargar a <b>TODOS</b> los pasajeros del vehiculo incluyendo al Conductor</li>
                                    <li>4- Registrarse en la aplicacion COVID-19 (<a href="https://play.google.com/store/apps/details?id=com.ga.covidjujuy_app" target="_blank">instalar</a>)</li>
                                </ul>
                                <p><b>Importante</b></p>
                                <ul>
                                    <li>Si usted cuenta con <b>Permiso de Circulacion Nacional</b>, y lo carga podemos Aprobar directamente su requerimiento.</li>
                                    <li>Si No cuenta con Permiso de Circulacion Nacional, nosotros tramitaremos el mismo y aprobaremos su pedido cuando nacional lo autorice.</li>
                                </ul>
                                <hr>
                                <p>La información consignada precedentemente reviste carácter de Declaración Jurada.</p>
                                <p>Su omisión o falsedad procederá al rechazo de la inscripción o la exclusión del registro, sin perjuicio de las sanciones que le pudiera corresponder.</p>
                                <img class="fotos" src="{% static 'img/ingresoprovincial.png' %}">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="bordeado" style="text-align:justify;">
                                <h3><b>Datos del Vehiculo</b></h3>
                                <p><b>Email de Contacto:</b> {{form.email_contacto}} <i>(A travez del mismo lo contactaremos)</i></p>
                                <p><b>Fecha ideal de Llegada:</b> {{form.fecha_llegada}}</p>
                                <p><b>Provincia de Origen:</b> {{form.origen}}</p>
                                <p><b>Destino Final:</b> {{form.destino}}</p>
                                <hr>
                                <p><b>Datos del Vehiculo</b></p>
                                <p><b>Marca:</b> {{form.marca}}</p>
                                <p><b>Modelo:</b> {{form.modelo}}</p>
                                <p><b>Patente:</b> {{form.patente}}</p>
                                <hr>
                                <p><b>Aclaraciones Pertinentes:</b></p>
                                {{form.aclaracion}}
                                <br>
                                <button type="submit">Continuar con Pedido de Ingreso</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}