{% extends 'base_informacion.html' %}

{% load static %}
{% load files_tags %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h2><b>Panel de Ingreso Provincial</b></h2>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 style="color:{% if ingreso.estado == 'C' %}red{% elif ingreso.estado == 'E' %}orange{% elif ingreso.estado == 'A' %}green{% else %}black{% endif %};"><b>Estado</b> {{ingreso.get_estado_display}}</h3>
                                <p><b>Tipo:</b> {{ingreso.get_tipo_display}}</p>
                                <p><b>Email de Contacto:</b> {{ingreso.email_contacto}}</p>
                                <p><b>Origen:</b> {{ingreso.origen}}</p>
                                <p><b>Destino:</b> {{ingreso.destino.nombre}}</p>
                                <p><b>Fecha de Llegada Estimada:</b> {{ingreso.fecha_llegada|date:"d/m/Y H:i"}}</p>
                            </div>
                            <div class="col-md-6">
                                <div class="bordeado importante">
                                    {% if ingreso.estado == 'C' %}
                                        <h3>Una vez terminado el ingreso de <b>TODA</b> la infomacion requerida, presione el boton de <b>Finalizar Proceso</b>.</h3>
                                        <br>
                                        <p>Hasta que el estado del pedido de ingreso no se encuentre en <b>Esperando Aprobacion</b> nuestros operadores no lo analizaran.</p>
                                    {% elif ingreso.estado == 'E' %}
                                        <h3>Nuestros Operadores estan analizando su requerimiento</h3>
                                        <br>
                                        <p>En caso de aprobarlo, le enviaremos un correo electronico a la cuenta informada para que descargue su autorizacion.</p>
                                    {% elif ingreso.estado == 'A' %}
                                        <h3>Su pedido fue aprobado</h3>
                                        <br>
                                        <p>Puede descargar la autorizacion, lo esperamos en la fecha y hora de llegada informada.</p>
                                    {% endif %}
                                </div>    
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h3><b>Vehiculo:</b></h3>
                                <p><b>Marca:</b> {{ingreso.marca}}</p>
                                <p><b>Modelo:</b> {{ingreso.modelo}}</p>
                                <p><b>Patente:</b> {{ingreso.patente}}</p>
                            </div>
                            <div class="col-md-4">
                                <p><b>Aclaracion:</b></p>
                                {{ingreso.aclaracion|safe}}
                            </div>
                            <div class="col-md-4">
                                {% if ingreso.tipo == 'C' %}
                                    <p><b>Documento Universal de Transporte</b></p>
                                    {% if ingreso.dut %}
                                        <a href="{{ingreso.dut.url}}">
                                            {% autoescape off %}{% ct_show_file ingreso.dut %}{% endautoescape %}
                                        </a>
                                    {% else %}
                                        <p class="error">Debe cargar el Documento Universal de Transporte <a href="{% url 'permisos:cargar_dut' ingreso_id=ingreso.id %}">Aqui</a></p>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if ingreso.tipo == 'A' %}
                                    <p><b>Plan de Vuelo</b></p>
                                    {% if ingreso.plan_vuelo %}
                                        <a href="{{ingreso.plan_vuelo.url}}">
                                            {% autoescape off %}{% ct_show_file ingreso.plan_vuelo %}{% endautoescape %}
                                        </a>
                                    {% else %}
                                        <p class="error">Si el ingreso se realizara en Avion, debe cargar el Plan de Vuelo Aprobado <a href="{% url 'permisos:cargar_plan_vuelo' ingreso_id=ingreso.id %}">Aqui</a></p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            {% if ingreso.estado == 'C' or ingreso.estado == 'E' %}
                                <li><a href="{% url 'permisos:mod_ingreso_provincial' ingreso_id=ingreso.id %}">Modificar Datos de Ingreso</a></li>
                                {% if ingreso.tipo == 'P' %}
                                    <li><a href="{% url 'permisos:cargar_ingresantes' ingreso_id=ingreso.id %}">Agregar Pasajero</a></li>
                                {% endif %}
                            {% if ingreso.estado == 'C' %}
                                <li><a href="{% url 'permisos:finalizar_ingreso' ingreso_id=ingreso.id %}">Finalizar Proceso</a></li>
                            {% endif %}
                            {% elif ingreso.estado == 'A' %}
                                <li><a href="{% url 'permisos:ver_ingreso_aprobado' token=ingreso.token %}">Imprimir Comprobante</a></li>
                            {% endif %}
                            {% if perms.operadores.permisos %}
                                <hr>
                                <p><b>Operadores</b></p>
                                <li><a href="{% url 'permisos:ingreso_enviar_email' ingreso_id=ingreso.id %}">Enviar Correo Electronico</a></li>
                                {% if ingreso.estado == 'C' or ingreso.estado == 'E' %}
                                    <li><a href="{% url 'permisos:eliminar_ingreso' ingreso_id=ingreso.id %}">Eliminar Ingreso</a></li>
                                {% endif %}
                                {% if ingreso.estado == 'E' %}
                                    <li><a href="{% url 'permisos:aprobar_ingreso' ingreso_id=ingreso.id %}">Aprobar Ingreso</a></li>
                                {% endif %}
                                <li><a href="{% url 'permisos:lista_ingresos' %}">Volver al Listado de Ingresos</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="row"></div>
                    {% if ingreso.tipo == 'P' %}
                        <hr>
                        <h3><b>Cargar Totalidad de Pasajeros en Vehículo:</b></h3>
                        <p><b>Todas las personas que lleguen a Jujuy, deberán realizar la cuarentena en un hotel pago por el pasajero o lugar definido por el COE, sin excepción.</b></p>
                        <table class="listado" id="table">
                            <thead>
                                <tr>
                                    <th>Numero Documento</th>
                                    <th>Nombre y Apellido</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Correo Electronico</th>
                                    <th>Telefono</th>
                                    <th>Domicilio origen</th>
                                    <th>Domicilio Destino</th>
                                    <th>App Instalada</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for individuo in ingreso.individuos.all %}
                                    <tr>
                                        <td>{{individuo.num_doc}}</td>
                                        <td>{{individuo.apellidos}}, {{individuo.nombres}}</td>
                                        <td>{{individuo.fecha_nacimiento}}</td>
                                        <td>{{individuo.email}}</td>
                                        <td>{{individuo.telefono}}</td>
                                        <td>
                                            {% with individuo.domicilio_origen as domicilio_origen %}
                                                {% if domicilio_origen %}
                                                    {{domicilio_origen}}
                                                {% else %}
                                                    <img class="icons" src="/static/img/icons/wrong.png">
                                                {% endif %}
                                            {% endwith %}
                                        </td>
                                        <td>{{individuo.domicilio_actual}}</td>
                                        <td>
                                            {% if individuo.appdata %}
                                                <img class="icons" src="/static/img/icons/check.png">
                                            {% else %}
                                                <img class="icons" src="/static/img/icons/wrong.png">
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'permisos:mod_ingresantes' ingreso_id=ingreso.id individuo_id=individuo.id %}" target="_blank">
                                                <img class="icons" src="{% static 'img/icons/change.png' %}">
                                            </a>
                                            <a href="{% url 'permisos:quitar_ingresante' ingreso_id=ingreso.id individuo_id=individuo.id %}" target="_blank">
                                                <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if falta_app %}
                            <p class="error">Los Pasajeros deben tener la app <b>COVID19 Jujuy</b> Instalada y haberse registrado.</p>
                            <p class="error"><b>Descargar Aqui:</b> <a href="https://play.google.com/store/apps/details?id=com.ga.covidjujuy_app" target="_blank">Google Play</a></p>
                        {% endif %}
                        <hr>
                    {% endif %}
                    {% if ingreso.emails_enviados.exists %}
                        <div class="row">
                            <h3>Emails Enviados al individuo</h3>
                            <table class="listado">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Asunto</th>
                                    <th>Cuerpo</th>
                                    <th>Operador</th>
                                </tr>
                                {% for email in ingreso.emails_enviados.all %}
                                    <tr>
                                        <td>{{email.fecha}}</th>
                                        <td>{{email.asunto}}</th>
                                        <td>{{email.cuerpo}}</td>
                                        <td>{{email.operador}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}