{% extends 'base_permisos.html' %}

{% load static %}
{% load files_tags %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h2><b>Panel de Circulacion Temporal</b></h2>
                        <div class="row">
                            <div class="col-md-3">
                                <h3><b>Vehiculo:</b></h3>
                                <p><b>Marca:</b> {{circulacion.marca}}</p>
                                <p><b>Modelo:</b> {{circulacion.modelo}}</p>
                                <p><b>Patente:</b> {{circulacion.patente}}</p>
                            </div>
                            <div class="col-md-3">
                                <p><b>Actividad:</b> {{circulacion.get_tipo_display}}</p>
                                <hr>
                                {{circulacion.actividad|safe}}
                            </div>
                            <div class="col-sm-3"><!--CHOFER-->
                                <p><b><u>Chofer</u></b></p>
                                <p><b>Documento:</b> {{circulacion.chofer.num_doc}}</p>
                                <p><b>Apellido y Nombre:</b> {{circulacion.chofer.apellidos}}, {{circulacion.chofer.nombres}}</p>
                                <p><b>Fecha de Nacimiento:</b> {{circulacion.chofer.fecha_nacimiento}}</p>
                                <p><b>Telefono:</b> {{circulacion.chofer.telefono}}</p>
                                <p><b>Aplicacion Instalada:</b> 
                                    {% if circulacion.chofer.appdata %}
                                        <img class="icons" src="/static/img/icons/check.png">
                                    {% else %}
                                        <img class="icons" src="/static/img/icons/wrong.png">
                                    {% endif %}
                                </p>
                            </div>
                            {% if circulacion.acompañante %}
                                <div class="col-sm-3"><!--Acompañante-->
                                    <p><b><u>Acompañante</u></b></p>
                                    <p><b>Documento:</b> {{circulacion.acompañante.num_doc}}</p>
                                    <p><b>Apellido y Nombre:</b> {{circulacion.acompañante.apellidos}}, {{circulacion.acompañante.nombres}}</p>
                                    <p><b>Fecha de Nacimiento:</b> {{circulacion.acompañante.fecha_nacimiento}}</p>
                                    <p><b>Telefono:</b> {{circulacion.acompañante.telefono}}</p>
                                    <p><b>Aplicacion Instalada:</b> 
                                        {% if circulacion.acompañante.appdata %}
                                            <img class="icons" src="/static/img/icons/check.png">
                                        {% else %}
                                            <img class="icons" src="/static/img/icons/wrong.png">
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <a class="botoncito" href="{% url 'permisos:iniciar_control_circulacion' circulacion_id=circulacion.id %}">
                            Nuevo Registro
                            <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                        </a>
                        <table class="listado" id="table">
                            <thead>
                                <tr>
                                    <th>Control Inicial</th>
                                    <th>Fecha de Inicio</th>
                                    <th>Pasajeros</th>
                                    <th>Destino Circulacion</th>
                                    <th>Control Final</th>
                                    <th>Fecha de Final</th>
                                    <th>Tiempo Permitido</th>
                                    <th>Horas Restantes</th>
                                    <th>Alarma</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for registro in circulacion.registros.all reversed %}
                                    <tr>
                                        <td>{{registro.get_control_inicio_display}}</td>
                                        <td>{{registro.fecha_inicio}}</td>
                                        <td>
                                            {% for pasajero in registro.pasajeros.all %}
                                                <p style="font-size: smaller;">
                                                    {% if pasajero.individuo %}
                                                        <a href="{% url 'informacion:ver_individuo' individuo_id=pasajero.individuo.id %}" target="_blank">
                                                            {{pasajero.individuo}}
                                                        </a>
                                                    {% else %}
                                                        {{pasajero.num_doc}}
                                                    {% endif %}
                                                    {% if pasajero.inicio %}
                                                        <img class="iconsx0" src="/static/img/icons/in.png" alt="Ingreso">
                                                    {% endif %}
                                                    {% if pasajero.final %}
                                                        <img class="iconsx0" src="/static/img/icons/out.png" alt="Egreso">
                                                    {% endif %}
                                                </p>
                                            {% endfor %}
                                        </td>
                                        <td>{{registro.destino.nombre}}</td>
                                        {% if registro.control_final %}
                                            <td>{{registro.get_control_final_display}}</td>
                                            <td>{{registro.fecha_final}}</td>
                                        {% else %}
                                            <td colspan="2" style="text-align: center;">
                                                <a href="{% url 'permisos:finalizar_control_circulacion' registro_id=registro.id %}" class="nolink">
                                                    <b>Cargar Salida</b>
                                                    <img class="icons" src="/static/img/icons/logout.png" alt="Marcar Egreso">
                                                </a>
                                            </td>
                                        {% endif %}
                                        <td>{{registro.tiempo_permitido}}hrs</td>
                                        <td>{{registro.tiempo_real|floatformat:2}}hrs</td>
                                        <td>{{registro.get_tipo_alarma_display}}</td>
                                        <td>
                                            <a href="{% url 'permisos:ver_registro_circulacion' registro_id=registro.id %}" class="nolink">
                                                <img class="icons" src="/static/img/icons/map.png" alt="Ver Circulacion">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}