{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br>
                <h1><b>Qué es un voluntario y cuál es su función en este Plan</b></h1>
                
                <h2>Qué es el voluntariado?</h2>
                <p>El Voluntariado no es solo un valor ético, una actitud de servicio; es una acción concreta cuyo principal objetivo es el desarrollo positivo de la sociedad, en los más diversos campos.</p>
                <p>El voluntariado es el pilar fundamental de la sociedad civil.</p>
                <p>El Voluntariado Social se debe ejecutar bajo el amparo de la Ley Nacional N° 25.855 y Ley Provincial de Adhesión Nº 5988/16.</p>
                
                <hr>

                <h2>Quiénes son voluntarios?</h2>
                <ul>
                    <li>Las personas físicas que desarrollan, por su libre determinación, de un modo gratuito, altruista y solidario tareas de interés general y beneficio comunitario.</li>
                    <li>No están comprendidas las actuaciones voluntarias aisladas, esporádicas, ejecutadas por razones familiares, de amistad o buena vecindad y aquellas actividades cuya realización no surja de una libre elección o tenga origen en una obligación legal o deber jurídico.</li>
                    <li>La prestación de servicios por parte del voluntario no podrá reemplazar al trabajo remunerado y se presume ajena al ámbito de la relación laboral y de la previsión social.</li>
                </ul>
                
                <hr>

                <h2>Qué hacen los voluntarios del Plan Adultos Mayores COVID19?</h2>
                <p>El voluntario, prioritariamente, va a orientar e insistir en el uso de medidas de cuidado para evitar el contagio de Covid19 y disminuir riesgos de enfermar. El voluntario alentará a los adultos mayores en su propio cuidado, y a todas las familias con adultos mayores a cargo, mediante el cumplimiento de protocolos. Se definirá un número de adultos mayores a los que se deberá monitorear, siendo un nexo con el sistema se salud.</p>
                <p>Según su elección, el Voluntario de este plan podrá realizar otras tareas como las siguientes:</p>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bordeado">
                            <h3><b>ASISTENCIA VIRTUAL (NO PRESENCIAL)</b></h3>
                            <ul>
                                <li>Utilizar dispositivos tecnológicos de comunicación, realizando una escucha activa, orientar y asesorar en circunstancias de su vida diaria</li>
                                <li>Llamar por teléfono conforme lo consensuado previamente con el adulto mayor</li>
                                <li>Escucharlos, en diálogo positivo</li>
                                <li>Contener</li>
                                <li>Aconsejar sobre actividades que pueden realizar</li> 
                                <li>Asesorar sobre síntomas a tener en cuenta y los medios para solicitar ayuda</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="bordeado">
                            <h3><b>ASISTENCIA PRESENCIAL</b></h3>
                            <ul>
                                <li>Acompañamiento que el voluntario brindará en domicilio, sin ingreso al mismo</li>
                                <li>Se presta ayuda en el lugar, manteniendo el distanciamiento social, dando estricto cumplimiento a los protocolos sanitarios preestablecidos y sin ingreso a domicilio</li>
                                <li>Acompañarlos conforme surja del requerimiento del adulto mayor y acuerdo del voluntario</li>
                                <li>Colaborar en la compra y retiro de medicamentos en obras sociales, centros de salud y/o farmacias.</li>
                                <li>Acompañar a los servicios de salud</li>
                                <li>Ayudar en las compras de artículos de primera necesidad en comercios de proximidad</li>
                                <li>Cooperar en el pago de servicios, impuestos y otros.</li>
                                <li>Acompañar en trámites de manera excepcional</li>
                                <li>Paseo de mascotas</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>

                <h2>¿Qué pasos siguen después de mi inscripción?</h2>
                <ol>
                    <li>
                        <p>REBIRÁS UN CORREO ELECTRÓNICO</p>
                        <p>Una vez que te inscribiste, recibirás un correo electrónico confirmando que fue exitosa la carga de tus datos.</p>
                    </li>
                    <li>
                        <p>TENÉS QUE ACCEDER A LA CAPACITACIÓN</p>
                        <p>En el mismo panel donde figuran tus datos, hay 7 links con los módulos de capacitación, los cuales debes tomar obligatoriamente en forma sucesiva desde el primero hasta el séptimo. (No podrás tomar el tercero, sin antes haber tomado el segundo, y así con el resto).</p>
                    </li>
                    <li>
                        <p>TE LLEGARÁ OTRO CORREO</p>
                        <p>Recibirás un nuevo correo electrónico para que elijas un día y horario para cumplimentar tu ALTA como Voluntario (firma de Acuerdo Básico Común y Ficha de Aproximación a tu perfil).</p>
                    </li>
                    <li>
                        <p>COMIENZO DEL VOLUNTARIADO</p>
                        <p>Después de que hayas firmado el Acuerdo Básico Común, recibirás un llamado telefónico para concurrir a los efectos de que conozcas a tu Referente local y se te asignen funciones dentro del plan.</p>
                    </li>
                    <li>
                        <p>FASE DE SEGUIMIENTO</p>
                        <p>Habrá un circuito de comunicación y acompañamiento entre Voluntario-Referente local-Mesa Provincial del Plan Adultos Mayores COVID19.</p>
                    </li>
                    <li>
                        <p>TÉRMINO DEL VOLUNTARIADO</p>
                        <p>El voluntariado puede finalizar por las siguientes razones:</p>
                        <ul>
                            <li>Por finalización del Plan Adultos Mayores</li>
                            <li>Por decisión personal del Voluntario</li>
                            <li>Por determinación del Ministerio de Desarrollo Humano, en base a razones fundadas que inhiban la función del Voluntario.</li>
                        </ul>
                    </li>
                </ol>
                
                <hr>
                
                <p><b>Una vez que se le da la baja al Voluntario, si éste cumplió satisfactoriamente la ejecución del Plan, podrá acceder al Certificado de Voluntario Social que le permite acceder a las medidas de fomento que establece la Ley.</b></p>
            </div>
{% endblock %}