{% extends 'base_inscripciones.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post" enctype="multipart/form-data" autocomplete="off">
                <div class="row">
                    <br>
                    {% csrf_token %}
                    <!-- Mostramos errores -->
                    {% for field in form %}
                        {% if field.errors %}
                            <li>
                                <b>{{ field.label }}: {{ field.errors|striptags }}</b>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <br>
                    <h1><b>PLAN DE ACCIÓN INTEGRAL DE ADULTOS MAYORES COVID-19</b></h1>
                    <div class="col-lg-8 col-lg-offset-2">                    
                        <h3><b>Postulación de Voluntarios de Acompañamiento Social</b></h3>
                        <p>Si Ud. tiene intención de colaborar como Voluntario en el marco de la contingencia por el nuevo Coronavirus (COVID-19), lea y complete el siguiente formulario. Se pone en conocimiento de los Voluntarios Sociales que su incorporación al Plan de Acción Integral del Adulto Mayor Covid-19, se realizará en el marco de la Ley del Voluntariado Social N° 25.855.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bordeado">
                                <img class="fotos" src="{% static 'img/adultos_mayores.jpeg' %}">
                                <p>La información consignada precedentemente reviste carácter de Declaración Jurada. Su omisión o falsedad procederá al rechazo de la inscripción o la exclusión del registro, sin perjuicio de las sanciones que le pudiera corresponder.</p>
                                <p><b>Este formulario sólo es para las personas entre 18 años y 40 años.</b></p>
                            </div>
                            <div class="bordeado">
                                <p><b>Importante:</b></p>
                                <p>Declaro NO estar comprendido/a por ninguno de los grupos de riesgo que se detallan a continuación:</p>
                                <lu>
                                    <li>Personas gestantes</li>
                                    <li>Personas inmunosuprimidas</li>
                                    <li>Personas con enfermedad cardiovascular</li>
                                    <li>Enfermedad pulmonar obstructiva crónica (EPOC)</li>
                                    <li>Enfisema congénito; Displasia broncopulmonar</li>
                                    <li>Bronquiectasias</li>
                                    <li>Fibrosis quística</li>
                                    <li>Asma Moderado o Severo</li>
                                    <li>Insuficiencia renal crónica</li>
                                    <li>Insuficiencia Hepática Crónica</li>
                                    <li>Personas con Diabetes</li>
                                    <li>Personas bajo tratamiento oncológico o diálisis</li>
                                </lu>
                                <p style="text-align:right;">{{form.no_grupo_riesgo}} <b>Confirmar</b></p>
                                <br>
                                <p>Declaro NO encontrarme cumpliendo el aislamiento domiciliario preventivo por haber ingresado en los últimos 14 días a la Provincia de Jujuy, como así también NO habitar con familiares o personas que se encuentren en esa condición.</p>
                                <p style="text-align:right;">{{form.no_aislamiento}} <b>Confirmar</b></p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="bordeado">
                                <h3><b>Datos Personales</b></h3>
                                <p>{{form.tipo_doc}} {{form.num_doc}}</p>
                                <p><b>Documento de Identidad:</b> {{form.frente_dni}}</p>
                                <p><b>Apellido:</b> {{form.apellidos}}</p>
                                <p><b>Nombre:</b> {{form.nombres}}</p>
                                <p><b>Genero:</b> {{form.sexo}}</p>
                                <p><b>Fecha de Nacimiento:</b> {{form.fecha_nacimiento}}</p>
                                <p><b>Nacionalidad:</b> {{form.nacionalidad}}</p>
                                <p><b>Profesion u Oficio:</b> {{form.oficio}}</p>
                                <hr>
                                <p><b>Domicilio</b></p>
                                <p><b>Localidad:</b> {{form.dom_localidad}}</p>
                                <p><b>Calle:</b> {{form.dom_calle}} <b>Numero:</b> {{form.dom_numero}}</p>
                                <p><b>Barrio:</b> {{form.dom_aclaracion}}</p>
                                <hr>
                                <p><b>Contacto</b></p>
                                <p><b>Correo Electronico:</b> {{form.email}}</p>
                                <p><b>Telefono:</b> {{form.telefono}}</p>
                                <hr>
                                <p><b>Cuenta con alguno de estos dispositivos?</b></p>
                                {% for disp in dispositivos %}
                                    <li><input type="checkbox" id="{{disp.0}}" value={{disp.0}} name="dispositivos"> {{disp.1}}</li>
                                {% endfor %}
                                <br>
                                <p><b>Tiene conexion a Internet en su hogar?</b></p>
                                <p><input type="radio" id="internet_si" name="internet" value="si"> Si</p>
                                <p><input type="radio" id="internet_no" name="internet" value="no"> No</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            <br>
                            <button type="submit" style="width:100%;margin-bottom:150px;">Postularse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}