{% extends 'base_inscripciones.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4  col-sm-offset-4">
                <br>
                <h2><b>Sistema de Reclutamiento del COE:</b></h2>
                <p>Gracias por inscribirte a nuestro Centro de Reclutamiento: {{inscripto.individuo.apellidos}}, {{incripto.individuo.nombres}}</p>
                <p><b>En los proximos minutos recibira un mail a: {{inscripto.individuo.email}}.</b></p>
                <p>Por favor haga click el LINK que incluye para que su inscripcion sea Validad.</p>
                <p>Nos contactaremos con usted prontamente!</p>
            </div>
        </div>
    </div>
{% endblock %}