{% extends 'base_inscripciones.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post" enctype="multipart/form-data" autocomplete="off">
                <br>
                {% csrf_token %}
                <!-- Mostramos errores -->
                {% for field in form %}
                    {% if field.errors %}
                        <li>
                            <b>{{ field.label }}: {{ field.errors|striptags }}</b>
                        </li>
                    {% endif %}
                {% endfor %}
                <br>
                <h1><b>Voluntariado Estudiantil - MI PROMO AYUDA 2020</b></h1>
                <h3>Lee las bases y condiciones <a href="">Aqui</a></h3>
                <div class="col-lg-4">
                    <div class="bordeado">
                        <img class="fotos" src="{% static 'img/reclutamiento.jpeg' %}">
                    </div>
                </div>
                <div class="col-lg-8 custom_form_fields">
                    <div class="bordeado" style="text-align:justify;">
                        <h3><b>Datos del Proyecto</b></h3>
                        <p><b>Nombre del Proyecto:</b> {{form.nombre}}</p>
                        <p><b>Documento:</b> {{form.documento}} <i>(Adjuntar archivo respetando del <a href="">Anexo 3</a>)</i></p>
                        <p><b>Descripcion Breve:</b></p>
                        {{form.descripcion}}
                        <hr>
                        <p><b>Datos de la Escuela:</b></p>
                        <p><b>Nombre de la Institucion:</b> {{form.escuela_nombre}}</p>
                        <p><b>Localidad:</b> {{form.escuela_localidad}}</p>
                        <p><b>Telefono:</b> {{form.escuela_telefono}}</p>
                        <hr>
                        <p><b>Datos de Contacto:</b></p>
                        <p><b>Email de Contacto:</b> {{form.email_contacto}} <i>(A travez del mismo lo contactaremos)</i></p>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-4">
                    <br>
                    <button type="submit" style="width:100%;margin-bottom:150px;">Iniciar Proceso</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}