{% extends 'base_inscripciones.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Voluntarios Sociales</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Numero de Documento</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Oficio</th>
                        <th>Domicilio</th>
                        <th>Localidad</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Fecha Inscripcion</th>
                        <th>Estado</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscripto in inscriptos %}
                        <tr>
                            <td>{{inscripto.individuo.num_doc}}</td>
                            <td>{{inscripto.individuo.apellidos}}</td>
                            <td>{{inscripto.individuo.nombres}}</td>
                            <td>{{inscripto.oficio}}</td>
                            {% with inscripto.individuo.domicilio_actual as dom %}
                                <td>{{dom.calle}} {{dom.numero}}, {{dom.aclaracion}}</td>
                                <td>{{dom.localidad.nombre}}</td>
                            {% endwith %}
                            <td>{{inscripto.individuo.telefono}}</td>
                            <td>{{inscripto.individuo.email}}</td>
                            <td>{{inscripto.fecha}}</td>
                            <td>
                                <b>{{inscripto.get_estado_display}}</b>
                                {% if inscripto.tarea_asignada %}
                                    <br>
                                    {{inscripto.tarea_asignada}}
                                {% endif %}
                            </td>
                            <td><a href="{% url 'inscripciones:ver_inscripto' inscripcion_id=inscripto.id num_doc=inscripto.individuo.num_doc %}">Ver Resumen</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}