{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>{{titulo}}</b></h2>
            <div class="col-md-12">
                <table class="listado" id="table">
                    <thead>
                        <tr>                            
                            <th>ESTADO</th>
                            <th>DNI</th>
                            <th>Nombre de la Persona</th>
                            <th>Apellido de la Persona</th>
                            <th>Fecha Pedido</th>                         
                            <th>Destino</th>                     
                            <th>Email de Contacto</th>
                            <th>Telefono</th>
                            <th>Operador</th>
                            <th>Ver Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for peticion in peticiones %}
                            <tr>  
                                <td>{{peticion.get_estado_display}}</td>
                                <td>{{peticion.individuo.num_doc}}</td>
                                <td>{{peticion.individuo.nombres}}</td> 
                                <td>{{peticion.individuo.apellidos}}</td>
                                <td>{{peticion.fecha|date:"d/m/Y"}}</td>                                
                                <td>{{peticion.destino.nombre}}</td>              
                                <td>{{peticion.individuo.email}}</td>
                                <td>{{peticion.individuo.telefono}}</td>                               
                                <td>{{peticion.operador}}</td>
                                <td>
                                    <a href="{% url 'inscripciones:ver_peticion_persona' token=peticion.token %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
