{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>{{titulo}}</b></h2>
            <div class="col-md-12">
                <table class="listado" id="table">
                    <thead>
                        <tr>                            
                            <th>Estado</th>
                            <th>Fecha Peticion Organizacion</th>                         
                            <th>Denominación</th>
                            <th>CUIT</th>
                            <th>Email de Contacto</th>
                            <th>Telefono</th>
                            <th>Operador</th>
                            <th>Ver Detalle</th>
                                                       
                        </tr>
                    </thead>
                    <tbody>
                        {% for petic_org in peticion_org %}
                            <tr>                                
                                <td>{{peticion_org.get_estado_display}}</td>
                                <td>{{peticion_org.fecha|date:"d/m/Y"}}</td>                               
                                <td>{{peticion_org.denominacion}}</td>
                                <td>{{peticion_org.cuit}}</td>
                                <td>{{peticion_org.mail_institucional}}</td>
                                                         
                                <td>
                                    {% if peticion_org.responsables.exists %}
                                        {{peticion_org.responsables.telefono}}
                                    {% endif %}
                                </td>
                                <td>{{peticion_org.operador}}</td>
                                <td>
                                    <a href="{% url 'inscripciones:ver_peticion_persona' token=peticion_org.token %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}