{% extends 'base_inscripciones.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Inscriptos</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado table" id="table">
                <thead>
                    <tr>
                        <th>Profesion</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Localidad</th>
                        <th>Telefono</th>
                        <th>Fecha Inscripcion</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscripto in inscriptos %}
                        <tr>
                            <td data-title="Profesion">
                                <a href="{% url 'inscripciones:lista_filtrada' profesion_id=inscripto.profesion %}">
                                    {{inscripto.get_profesion_display}}
                                </a>
                            </td>
                            <td data-title="Apellido">{{inscripto.apellidos}}</td>
                            <td data-title="Nombre">{{inscripto.nombres}}</td>
                            <td data-title="Localidad">{{inscripto.localidad}}</td>
                            <td data-title="Telefono">{{inscripto.telefono}}</td>
                            <td data-title="Fecha Inscripcion">{{inscripto.fecha}}</td>
                            <td><a href="{% url 'inscripciones:ver_inscripto' inscripto_id=inscripto.id %}">Ver Resumen</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}