{% extends 'base_inscripciones.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Inscripciones:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            <li><a href="{% url 'inscripciones:lista_voluntarios' tipo_inscripto='PS'  %}">Ver Listado de Voluntarios de Salud</a></li>
                            <li><a href="{% url 'inscripciones:lista_voluntarios' tipo_inscripto='VS'  %}">Ver Listado de Voluntarios Sociales</a></li>
                            <li><a href="{% url 'inscripciones:lista_proyectos' %}">Ver Listado de Proyectos Estudiantiles</a></li>
                            
                            <hr>
                            <h3>Inscripciones Publicas</h3>
                            <li><a href="{% url 'inscripciones:inscripcion_salud'  %}">Inscripcion Voluntario de Salud</a></li>
                            <li><a href="{% url 'inscripciones:inscripcion_social'  %}">Inscripcion Voluntario Social</a></li>
                            <li><a href="{% url 'inscripciones:inscripcion_proyecto'  %}">Inscripcion Proyecto Estudiantil</a></li>
                            <li><a href="{% url 'inscripciones:pedir_coca'  %}">Peticion de COCA</a></li>
                            <hr>

                            <h3>Petición de COCA</h3>
                            <li><a href="{% url 'inscripciones:lista_peticiones_personales' estado='E'  %}">Peticiones Personales Esperando Aprobacion</a></li>
                            <li><a href="{% url 'inscripciones:lista_peticiones_personales' %}">Listado de Peticiones Personales</a></li>
                            <li><a href="{% url 'inscripciones:download_peticiones_coca_personal' %}">Descargar Listado de Peticiones Personales</a></li>
                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'inscripciones:aprobar_masivo_personas' %}">Aprobar Personas Masivamente</a></li>
                            {% endif %}
                            <br>
                            <li><a href="{% url 'inscripciones:lista_peticiones_org' estado='E' %}">Peticiones de Organizaciones Esperando Aprobacion</a></li>
                            <li><a href="{% url 'inscripciones:lista_peticiones_org' %}">Listado de Peticiones de Organizaciones</a></li>
                            {% if request.user.is_superuser %}
                                <hr> 
                                <li><a href="{% url 'admin:index' %}">Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
