{% extends 'base_informacion.html' %}

{% load static %}
{% load files_tags %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h2><b>PANEL DE PETICIÓN DE COCA - PERSONAS</b></h2>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <h3 style="color:{% if peticion.estado == 'C' %}red{% elif peticion.estado == 'E' %}orange{% elif peticion.estado == 'A' %}green{% else %}black{% endif %};"><b>Estado</b> {{peticion.get_estado_display}}</h3>
                                <p><b>Nombre Completo:</b> {{peticion.individuo.apellidos}}, {{peticion.individuo.nombres}}</p>
                                <p><b>DNI:</b> {{peticion.individuo.num_doc}}</p>
                                <p><b>Email de Contacto:</b> {{peticion.individuo.email_contacto}}</p>
                                <p><b>Destino del Pedido:</b>{{peticion.destino}}</p>
                                <p>Comunidad Originaria: {{peticion.get_comunidad_display}}</p>
                            </div>
                            <div class="col-md-4">
                                <p><b>Domicilio:</b></p>
                                {% with peticion.individuo.domicilio_actual as domicilio %}
                                    <p>{{domicilio}}</p>
                                {% endwith %}
                                <p><b>Contacto:</b></p>
                                <p><b>Telefono:</b> {{peticion.individuo.telefono}}</p>
                                <p><b>Email:</b> {{peticion.individuo.email}}</p>
                            </div>
                            <div class="col-md-4">
                                <div class="bordeado importante">
                                    {% if peticion.estado == 'C' %}
                                        <h3>Una vez que termine el ingreso de <b>TODA</b> la infomacion requerida, presione el botón de <b> FINALIZAR PROCESO</b>.</h3>
                                        <p>Su PEDIDO será ELIMINADO en {{limite}} horas, si es que no lo finaliza.</p>
                                        <br>
                                        <p>Hasta que el estado del pedido de COCA no se encuentre en <b>Pedido Cargado</b> nuestros operadores no lo analizarán.</p>                                   
                                    {% elif peticion.estado == 'E' %}
                                        <h3>Nuestros Operadores estan analizando su requerimiento</h3>
                                        <br>
                                        <p>En caso de aprobarlo, le enviaremos un correo electronico a la cuenta informada para que descargue su autorizacion.</p>
                                    {% elif peticion.estado == 'A' %}
                                        <h3>Su pedido fue aprobado</h3>
                                        <br>
                                        <p>Puede descargar la autorizacion, lo esperamos en la fecha y hora de llegada informada.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>                            
                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            {% if peticion.estado == 'C' %}
                                <li><a href="{% url 'inscripciones:mod_peticion_persona' peticion_id=peticion.id %}">Modificar Datos</a></li>
                                <li><a href="{% url 'inscripciones:finalizar_peticion' peticion_id=peticion.id %}">Finalizar Proceso</a></li>                                
                            {% endif %}
                                
                            {% if perms.operadores.permisos %}
                                <hr>
                                <p><b>OPERADORES</b></p>
                                <li><a href="{% url 'inscripciones:peticion_enviar_email' peticion_id=peticion.id %}">Enviar Correo Electronico</a></li>
                                <li><a href="{% url 'inscripciones:eliminar_peticion' peticion_id=peticion.id %}">Eliminar Petición</a></li>
                                {% if peticion.estado == 'E'%}
                                    <li><a href="{% url 'inscripciones:aprobar_peticion_persona' peticion_id=peticion.id %}">Aprobar Petición</a></li>
                                {% endif %}                               
                                <li><a href="{% url 'inscripciones:lista_peticiones_personales' %}">Volver al Listado de Peticiones</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="row"></div>                    
                    {% if peticion_id.emails_enviados.exists %}
                        <div class="row">
                            <h3>Emails Enviados al individuo</h3>
                            <table class="listado">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Asunto</th>
                                    <th>Cuerpo</th>
                                    <th>Operador</th>
                                </tr>
                                {% for email in ingreso.emails_enviados.all %}
                                    <tr>
                                        <td>{{email.fecha}}</th>
                                        <td>{{email.asunto}}</th>
                                        <td>{{email.cuerpo}}</td>
                                        <td>{{email.operador}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}
