{% extends 'base_inscripciones.html' %}

{% load static %}
{% load files_tags %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <h2><b>{{proyecto.nombre}}</b></h2>
                            <div class="row">
                                <div class="col-lg-4">
                                    <p><b>Documento/Propuesta:</b> <a href="{{proyecto.documento.url}}">Descargar Aqui.</a></p>
                                    <p><b>Email:</b> {{proyecto.email_contacto}}</p>
                                </div>
                                <div class="col-lg-8" style="height: 10em;overflow: auto;">
                                    <p><b>Descripcion:</b></p>
                                    {{proyecto.descripcion|safe}}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                        <!--Institucional -->
                            <div class="col-lg-4">
                                <h3><b>Informacion Institucional:</b></h3>
                                <p><b>Nombre Escuela:</b> {{proyecto.escuela_nombre}}</p>
                                <p><b>Localidad:</b> {{proyecto.escuela_localidad}}</p>
                                <p><b>Telefono:</b> {{proyecto.escuela_telefono}}</p>
                            </div>
                            <div class="col-lg-4">
                                <p><b>Aval Institucional:</b></p>
                                {% with proyecto.escuela_aval as aval %}
                                    {% if aval %}
                                        <p><b></b>{% autoescape off %}{% ct_show_file aval %}{% endautoescape %}</p>
                                    {% else %}
                                        <div class="bordeado importante">
                                            <p><b>Cargar Aval Institucional <a href="{% static 'archivo/proyecto/anexo2.pdf' %}">(Anexo 2)</a></b></p>
                                            <a href="{% url 'inscripciones:cargar_aval_institucional' token=proyecto.token %}">
                                                <img class="iconsx2" src="{% static 'img/icons/add_pic.png' %}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-lg-4">
                                <p><b>Reponsable Institucional (Profesor):</b></p><br>
                                {% with proyecto.responsable as responsable %}
                                    {% if responsable %}
                                        <p>
                                            <b>{{responsable.apellidos}}, {{responsable.nombres}}</b>
                                            <a href="{% url 'inscripciones:mod_responsable_institucional' token=proyecto.token individuo_id=responsable.id %}" target="_blank">
                                                <img class="icons" src="{% static '/img/icons/change.png' %}">
                                            </a>
                                        </p>
                                        <p><b>{{responsable.get_tipo_doc_display}} {{responsable.num_doc}}</b></p>
                                        <p><b>Domicilio:</b> {{responsable.domicilio_actual}}</p>
                                        <p><b>Telefono:</b> {{responsable.telefono}}</p>
                                        <p><b>Email:</b> {{responsable.email}}</p>
                                    {% else %}
                                        <div class="bordeado importante">
                                            <p><b>Cargar Responsable Institucional</b></p>
                                            <a href="{% url 'inscripciones:cargar_responsable_institucional' token=proyecto.token %}">
                                                <img class="iconsx2" src="{% static 'img/icons/add_person.png' %}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                            <h2><b>Estado:</b><br> {{proyecto.get_estado_display}}</h2>
                            <hr>
                            <p><b>Tareas Pendientes:</b></p>
                            {% if proyecto.estado == 0 %}<!--Recien inscripto-->
                                <ul>
                                    <li class="lista">
                                        Carga Documento Propuesta de Proyecto 
                                        {% if proyecto.documento %}
                                            <img class="icons" src="/static/img/icons/check.png">
                                        {% else %}
                                            <img class="icons" src="/static/img/icons/wrong.png">
                                        {% endif %}
                                    </li>
                                    <li class="lista">
                                        Cargar Aval Institucional
                                        {% if proyecto.escuela_aval %}
                                            <img class="icons" src="/static/img/icons/check.png">
                                        {% else %}
                                            <img class="icons" src="/static/img/icons/wrong.png">
                                        {% endif %}
                                    </li>
                                    <li class="lista">
                                        Cargar Responsable Institucional
                                        {% if proyecto.responsable %}
                                            <img class="icons" src="/static/img/icons/check.png">
                                        {% else %}
                                            <img class="icons" src="/static/img/icons/wrong.png">
                                        {% endif %}
                                    </li>
                                    <li class="lista">
                                        Cargar Voluntarios
                                        {% if proyecto.voluntarios.exists %}
                                            <img class="icons" src="/static/img/icons/check.png">
                                        {% else %}
                                            <img class="icons" src="/static/img/icons/wrong.png">
                                        {% endif %}
                                    </li>
                                </ul>
                            {% elif inscripto.estado == 1 %}
                                <p>Su inscripcion esta siendo evaluada, lo contactaremos para informarle cuando sea aprobada.</p>
                            {% elif inscripto.estado == 3 %}
                                <p>Un encargado regional lo contactara para coordinar todo lo referente a su proyecto.</p>
                            {% elif inscripto.estado == 4 %}
                                <p>Proyecto en Progreso</p>
                            {% endif %}
    
                            {% if perms.operadores.menu_inscripciones %}
                                {% if not inscripto.estado == 4 %}
                                    <hr>
                                    <h2>Menu Operador</h2>
                                    <ul class="menu_botones">
                                        <li><a href="">Enviar Correo Electronico</a></li>
                                        <li><a href="">Avanzar al siguiente Estado</a></li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Voluntarios -->
                    <div class="row">
                        <h2>Cargar La Totalidad de Voluntarios Estudiantiles</h2>
                        <a class="botoncito" href="{% url 'inscripciones:cargar_voluntario' token=proyecto.token %}">
                            Agregar Voluntario
                            <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                        </a>
                        <table class="listado">
                            <thead>
                                <tr>
                                    <th>Numero Documento</th>
                                    <th>Nombre y Apellido</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Correo Electronico</th>
                                    <th>Telefono</th>
                                    <th>Domicilio</th>
                                    <th>Padre Cargado</th>
                                    <th>Autorizacion Cargada</th>
                                    <th>App Instalada</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for individuo in proyecto.voluntarios.all %}
                                    <tr>
                                        <td>{{individuo.num_doc}}</td>
                                        <td>{{individuo.apellidos}}, {{individuo.nombres}}</td>
                                        <td>{{individuo.fecha_nacimiento}}</td>
                                        <td>{{individuo.email}}</td>
                                        <td>{{individuo.telefono}}</td>
                                        <td>{{individuo.domicilio_actual}}</td>
                                        
                                        {% if individuo.familiar %}
                                            <td>
                                                <img class="icons" src="/static/img/icons/check.png">
                                            </td>
                                        {% else %}
                                            <td style="text-align: center; background-color: rgb(238, 89, 89);">
                                                <a href="{% url 'inscripciones:cargar_tutor' token=proyecto.token voluntario_id=individuo.id %}">
                                                    <img class="iconsx2" src="{% static 'img/icons/add_person.png' %}">
                                                </a>
                                            </td>
                                        {% endif %}
                                        
                                        {% if individuo.voluntario_autorizado %}
                                            <td>
                                                <img class="icons" src="/static/img/icons/check.png">
                                            </td>
                                        {% else %}
                                            <td style="text-align: center; background-color: rgb(238, 89, 89);">
                                                <a href="{% url 'inscripciones:cargar_autorizacion' token=proyecto.token voluntario_id=individuo.id %}">
                                                    <img class="iconsx2" src="{% static 'img/icons/add_pic.png' %}">
                                                </a><br>
                                                <a href="{% static 'archivo/proyecto/anexo4.pdf' %}">(Obtener Anexo 4)</a>
                                            </td>
                                        {% endif %}

                                        {% if individuo.appdata %}
                                            <td>
                                                <img class="icons" src="/static/img/icons/check.png">
                                            </td>
                                        {% else %}
                                            <td style="text-align: center; background-color: rgb(238, 89, 89);">
                                                <a href="{% url 'app:download_app' %}">
                                                    <img class="iconsx2" src="/static/img/icons/install_app.png">
                                                </a>
                                            </td>
                                        {% endif %}
                                        <!--Acciones-->
                                        <td>
                                            <a href="{% url 'inscripciones:mod_voluntario_proyecto' token=proyecto.token individuo_id=individuo.id %}" target="_blank">
                                                <img class="icons" src="{% static 'img/icons/change.png' %}">
                                            </a>
                                            <a href="{% url 'inscripciones:quitar_voluntario_proyecto' token=proyecto.token individuo_id=individuo.id %}" target="_blank">
                                                <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                            </a>
                                            {% if perms.operadores.individuos %}
                                                <a href="{% url 'informacion:ver_individuo' individuo_id=individuo.id %}" target="_blank">
                                                    <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

