{% extends 'base_inscripciones.html' %}

{% load static %}
{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-offset-1">
                        <h2>
                            <b>{{inscripto.individuo.apellidos}}, {{inscripto.individuo.nombres}}</b>
                            <a href="{% url 'informacion:mod_individuo' individuo_id=inscripto.individuo.pk num_doc=inscripto.individuo.num_doc %}">
                                <img class="icons" src="{% static '/img/icons/change.png' %}">
                            </a>
                        </h2>
                        <div class="col-lg-8">
                            <p>
                                {{inscripto.individuo.get_tipo_doc_display}} {{inscripto.individuo.num_doc}}
                                {% if inscripto.disponible %}
                                    <b>- Disponible</b>
                                {% endif %}
                            </p>
                            <p>Fecha de Nacimiento: {{inscripto.individuo.fecha_nacimiento}}</p>
                            <p>Profesion: {{inscripto.profesion}}</p>
                            <p>Matricula: {{inscripto.matricula}}</p>
                            <p>Domicilio: {{inscripto.individuo.domicilio_actual}}</p>
                            <hr>
                            <p><b>Contacto:</b></p>
                            <p>Telefono: {{inscripto.individuo.telefono}}</p>
                            <p>
                                Email: {{inscripto.individuo.email}}
                                {% if inscripto.valido %}
                                    <img class="icons" src="/static/img/icons/check.png" alt="Activar">
                                {% endif %}
                            </p>
                            <hr>                        
                            <p><b>Documentacion:<b></p>
                            <div class="col-lg-6">
                                {% with inscripto.get_frente_dni as frente_dni %}
                                    <p>Foto Documento:</p>
                                    <a href="{{frente_dni.url}}" target="_blank">
                                        <img class="fotos" src="{{frente_dni.url}}">
                                    </a>
                                {% endwith %}
                            </div>
                            <div class="col-lg-6">
                                {% with inscripto.get_titulo as titulo %}
                                    <p>Foto Titulo:</p>
                                    <a href="{{titulo.url}}" target="_blank">
                                        <img class="fotos" src="{{titulo.url}}">
                                    </a>
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3><b>Aclaraciones<b></h3>
                            {{inscripto.info_extra|safe}}
                        </div>
                    </div>
                    <hr>
                    {% if inscripto.emails_enviados.exists %}
                        <h3>Emails Enviados al individuo</h3>
                        <table class="listado">
                            <tr>
                                <th>Fecha</th>
                                <th>Asunto</th>
                                <th>Cuerpo</th>
                                <th>Operador</th>
                            </tr>
                            {% for email in circulacion.emails_enviados.all %}
                                <tr>
                                    <td>{{email.fecha}}</th>
                                    <td>{{email.asunto}}</th>
                                    <td>{{email.cuerpo}}</td>
                                    <td>{{email.operador}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}

