{% extends 'base_inscripciones.html' %}

{% load static %}
{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-offset-1">
                        <h2><b>{{inscripto.individuo.apellidos}}, {{inscripto.individuo.nombres}}</b></h2>
                        <div class="col-sm-8">
                            <p>
                                {{inscripto.individuo.get_tipo_doc_display}} {{inscripto.individuo.num_doc}}
                                {% if inscripto.disponible %}
                                    <b>- Disponible</b>
                                {% endif %}
                            </p>
                            <p>Fecha de Nacimiento: {{inscripto.individuo.fecha_nacimiento}}</p>
                            <p>Oficio: {{inscripto.oficio}}</p>
                            <p>Domicilio: {{inscripto.individuo.domicilio_actual}}</p>
                            <hr>
                            <p><b>Contacto:</b></p>
                            <p>Telefono: {{inscripto.individuo.telefono}}</p>
                            <p>
                                Email: {{inscripto.individuo.email}}
                                {% if inscripto.valido %}
                                    <img class="icons" src="/static/img/icons/check.png" alt="Activar">
                                {% endif %}
                            </p>
                            <hr>                        
                            <p><b>Documentacion:<b></p>
                            <div class="col-sm-6">
                                <p>Foto Documento:</p>
                                <a href="{{inscripto.archivo_dni.url}}" target="_blank">
                                    <img class="fotos" src="{{inscripto.archivo_dni.url}}">
                                </a>
                            </div>
                            <h1> MOSTRAR INFO ESPECIFICA </h1>
                        </div>
                        <div class="col-sm-4">
                            <h3><b>Aclaraciones<b></h3>
                            {{inscripto.info_extra|safe}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

