{% extends 'base_inscripciones.html' %}

{% load static %}
{% load seguridad_tags%}
{% load tz %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-2">
                                <a href="{% url 'inscripciones:subir_foto' inscripcion_id=inscripto.id %}">
                                    <img class="fotos" src="{{inscripto.individuo.get_foto}}">
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <h2><b>{{inscripto.individuo.apellidos}}, {{inscripto.individuo.nombres}}</b></h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p>
                                            {{inscripto.individuo.get_tipo_doc_display}} {{inscripto.individuo.num_doc}}
                                            {% if inscripto.disponible %}
                                                <b>- Disponible</b>
                                            {% endif %}
                                        </p>
                                        <p><b>Fecha de Nacimiento:</b> {{inscripto.individuo.fecha_nacimiento}}</p>
                                        <p><b>Oficio:</b> {{inscripto.oficio}}</p>
                                        <p><b>Domicilio:</b> {{inscripto.individuo.domicilio_actual}}</p>
                                        <p><b>Telefono:</b> {{inscripto.individuo.telefono}}</p>
                                        <p>
                                            <b>Email:</b> {{inscripto.individuo.email}}
                                            {% if inscripto.valido %}
                                                <img class="icons" src="/static/img/icons/check.png" alt="valido">
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-lg-6" style="height: 10em;overflow: auto;">
                                        <p><b>Aclaraciones</b></p>
                                        {{inscripto.info_extra|safe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if capacitaciones %}
                            <hr><!--Capacitaciones y Turno -->
                            <div class="row">
                                <div class="col-lg-7">
                                    <h3><b>Capacitacion:</b></h3>
                                    {% for capacitacion in capacitaciones %}
                                        <li class="lista">
                                            {% if capacitacion in inscripto.capacitaciones.all %}
                                                {{capacitacion.nombre}}
                                                <img class="icons" src="/static/img/icons/check.png">
                                            {% else %}
                                                <a href="{% url 'inscripciones:ver_capacitacion' inscripto_id=inscripto.id capacitacion_id=capacitacion.id %}" target="_blank">
                                                    Ver {{capacitacion.nombre}} <img class="icons" src="/static/img/icons/video.png">
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-5">
                                    {% if inscripto.turnos.exists %}
                                        <h3><b>Turno pedido para realizar tramite presencial:</b></h3>
                                        {% with inscripto.turnos.last as turno %}
                                            <p><b>Ubicacion:</b> {{turno.ubicacion.nombre}}</p>
                                            <p><b>Direccion:</b> {{turno.ubicacion.calle}} {{turno.ubicacion.numero}}</p>
                                            <p><b>Localidad:</b> {{turno.ubicacion.localidad.nombre}}</p>
                                            <hr>
                                            <p><b>Fecha:</b> {{turno.fecha.date}}</p>
                                            <p><b>Hora:</b> {{turno.fecha.time | localtime }}</p>
                                            
                                            <p>Por favor sea puntual, tendra 5 minutos de tolerancia.</p>
                                        {% endwith %}
                                    {% else %}
                                        <h3><b>Seleccione el Lugar donde desea realizar el tramite presencial:</b></h3>
                                        <ul>
                                            {% for ubicacion in ubicaciones %}
                                                <li>
                                                    <a href="{% url 'inscripciones:turnero' ubicacion_id=ubicacion.id inscripto_id=inscripto.id %}" target="_blank">
                                                        {{ubicacion.nombre}} ({{ubicacion.localidad.nombre}})
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <p><i>Turnos de Lunes a Viernes de 8 a 19 horas.</i></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <hr>
                        <div class="row">
                        <!--Documentacion -->
                            <div class="col-lg-4">
                                <h3><b>Tareas Seleccionadas:</b></h3>
                                <div class="row">
                                    <ul>
                                        {% for tarea in inscripto.tareas.all %}
                                            <li class="lista">{{tarea.tarea}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <hr>
                                <h3><b>Dispositivos Disponibles:</b></h3>
                                <div class="row">
                                    <ul>
                                        {% for dispositivo in inscripto.dispositivos.all %}
                                            <li class="lista">{{dispositivo.get_tipo_display}}</li>
                                        {% endfor %}
                                        {% if inscripto.tiene_internet %}
                                            <li class="lista"><b>Tiene Internet</b></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p><b>Fotos del Documento:</b></p>
                                <div class="col-lg-6">
                                    {% if inscripto.frente_dni %}
                                        <a href="{% url 'inscripciones:cargar_frente_dni' inscripcion_id=inscripto.id %}" style="float:right;">Remplazar Imagen</a>
                                        <a href="{{inscripto.frente_dni.url}}" target="_blank">
                                            <img class="fotos" src="{{inscripto.frente_dni.url}}">
                                        </a>
                                    {% else %}
                                        <a class="requerimiento" href="{% url 'inscripciones:cargar_frente_dni' inscripcion_id=inscripto.id %}">CARGAR FRENTE DEL DNI</a>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6">
                                    {% if inscripto.reverso_dni %}
                                        <a href="{% url 'inscripciones:cargar_reverso_dni' inscripcion_id=inscripto.id %}" style="float:right;">Remplazar Imagen</a>
                                        <a href="{{inscripto.reverso_dni.url}}" target="_blank">
                                            <img class="fotos" src="{{inscripto.reverso_dni.url}}">
                                        </a>
                                    {% else %}
                                        <a class="requerimiento" href="{% url 'inscripciones:cargar_reverso_dni' inscripcion_id=inscripto.id %}">CARGAR REVERSO DEL DNI</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% if inscripto.emails_enviados.exists %}
                            <h3>Emails Enviados al individuo</h3>
                            <table class="listado">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Asunto</th>
                                    <th>Cuerpo</th>
                                    <th>Operador</th>
                                </tr>
                                {% for email in circulacion.emails_enviados.all %}
                                    <tr>
                                        <td>{{email.fecha}}</th>
                                        <td>{{email.asunto}}</th>
                                        <td>{{email.cuerpo}}</td>
                                        <td>{{email.operador}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                    <div class="col-lg-3">
                        <h2><b>Estado:</b><br> {{inscripto.get_estado_display}}</h2>
                        <hr>
                        <p><b>Tareas Pendientes:</b></p>
                        {% if inscripto.estado == 0 %}<!--Recien inscripto-->
                            <ul>
                                <li class="lista">
                                    Carga Fotografia del Postulante
                                    {% if inscripto.individuo.fotografia %}
                                        <img class="icons" src="/static/img/icons/check.png">
                                    {% else %}
                                        <img class="icons" src="/static/img/icons/wrong.png">
                                    {% endif %}
                                </li>
                                <li class="lista">
                                    Cargar Foto del Frente del DNI
                                    {% if inscripto.frente_dni %}
                                        <img class="icons" src="/static/img/icons/check.png">
                                    {% else %}
                                        <img class="icons" src="/static/img/icons/wrong.png">
                                    {% endif %}
                                </li>
                                <li class="lista">
                                    Cargar Foto del Reverso del DNI
                                    {% if inscripto.reverso_dni %}
                                        <img class="icons" src="/static/img/icons/check.png">
                                    {% else %}
                                        <img class="icons" src="/static/img/icons/wrong.png">
                                    {% endif %}
                                </li>
                            </ul>
                        {% elif inscripto.estado == 1 %}
                            <p>Su inscripcion esta siendo evaluada, lo enviaremos un correo electronico una vez aprobada.</p>
                        {% elif inscripto.estado == 2 or inscripto.estado == 3 %}
                            <ul>
                                {% for capacitacion in capacitaciones %}
                                    <li class="lista">
                                        {{capacitacion.nombre}}
                                        {% if capacitacion in inscripto.capacitaciones.all %}
                                            <img class="icons" src="/static/img/icons/check.png">
                                        {% else %}
                                            <img class="icons" src="/static/img/icons/wrong.png">
                                        {% endif %}
                                    </li>
                                {% endfor %}                             
                                {% if inscripto.estado == 2 %}
                                    <li class="lista">
                                        Obtener Turno para Firma de Acuerdo Basico
                                        {% if inscripto.turnos.exists %}
                                            <img class="icons" src="/static/img/icons/check.png">
                                        {% else %}
                                            <img class="icons" src="/static/img/icons/wrong.png">
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <p><b>Presentese a firmar el acuerdo basico:</b></p>
                                    (En construccion)
                                {% endif %}
                            </ul>
                        {% elif inscripto.estado == 4 %}
                            <p><b>Su Inscripcion se encuentra finalizada, nos contactaremos personalmente con usted a partir de este momento.</b></p>
                        {% endif %}

                        {% if perms.operadores.menu_inscripciones %}
                            {% if not inscripto.estado == 4 %}
                                <hr>
                                <h2>Menu Operador</h2>
                                <ul class="menu_botones">
                                    <li><a href="{% url 'inscripciones:enviar_email' inscripcion_id=inscripto.id %}">Enviar Correo Electronico</a></li>
                                    <li><a href="{% url 'inscripciones:avanzar_estado' inscripcion_id=inscripto.id %}">Avanzar al siguiente Estado</a></li>
                                </ul>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

