{% extends 'base/base.html' %}

{% load form_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% if form %}
                    {% include "extras/generic_form-nobase.html" %}
                {% else %}
                    <div class="resultado row">
                        <div class="col-sm-8">
                            <h2>La consulta fue enviada con exito!</h2>
                            <p>Por favor revise su correo electronico, le hemos enviado un mail para validar el mismo.</p>
                            <p>Le responderemos cuanto antes!</p>
                        </div>
                        <div class="col-sm-4">
                            <img style="width:90%;" src="{% static 'img/icons/check.png' %}">
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <br>
                <div class="row">
                    <h3>DATOS DE CONTACTO</h3>
                    <ul>
                        <li><b>Ante Sintomas o Sospechas:</b></li>
                        <ul>
                            <li>0800 888 4767</li>
                            <li>0800 777 7711</li>
                        </ul>
                        <li><b>Incumplimientos de Cuarentena:</b> 911</li>
                        <li><b>Emergencias:</b> SAME 107</li>
                        <li><b>Ministerio de Salud:</b> 0388 424-5500</li>
                        <li><b>Ministerio de Seguridad:</b> 0388 431-2848</li>
                        <li><b>Ministerio de Trabajo y Empleo:</b> 0388 425-8532</li>
                        <li><b>Secretaria de Transporte:</b> 0388 423-9400</li>
                    </ul>
                </div>
                <hr>
                <div class="row">
                    <h3>Sistema Desarrollado por Secretaria de Modernizacion de Jujuy</h3>
                    <h4><b>Secretario:</b> Antonio Horacio Alejo</h4>
                    <ul>
                        <li><b>Direccion de Unificacion Informatica</b> Director Marcos Federico Mandrille</li>
                        <lu>
                            <li><b>Email:</b> <a href="mailto:mmandrille@jujuy.gob.ar" target="_blank">mmandrille@jujuy.gob.ar </a></li>
                            <li><b>Dirección:</b> Sarmiento 174, 3E</li>
                            <li><b>Telefonico:</b>
                                <ul>
                                    <li>Telefono Fijo: +54 0388 – 4239400</li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                    <p><b>Sistema de Codigo Abierto Bajo licencia MIT, Disponible para descargar <a href="https://gitlab.com/mmandrille/coe" target="_blank"> Aqui.</a></b></p>
                    <h5>Agradecemos el apoyo y colaboracion de los siguientes desarroladores que sumaron al proyecto:</h5>
                    <ul>
                        <li>
                            <b>Backend:</b>
                            <ul>
                                <li>Jaramillo, Daniel</li>
                                <li>Ramos, Pablo Nicolas</li>
                                <li>Fisanotti, Juan Pedro</li>
                                <li>Torres, Martin</li>
                                <li>Colletti, Carla</li>
                                <li>Baca, Jose Fernando</li>
                            </ul>
                        </li>
                        <li>
                            <b>App Covid19 v1:</b>
                            <ul>
                                <li>Jara, Andres Emanuel</li>
                                <li>Lopez, Juan Manuel</li>
                                <li>Ittig, Ernesto</li>
                                <li>Aleman Zampini, Julieta Belén</li>
                                <li>Tejerina, Mario Alberto</li>
                                <li>Vilte, Emanuel Elias </li>
                                <li>Celi, Víctor Mauricio</li>
                                <li>Cruz, Pablo Joaquín</li>
                                <li>Tolaba, Guillermo Andrés</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}