{% extends 'base/base.html' %}

{% load form_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% if form %}
                    <br><br>
                    <p><b>Antes de Realizarnos una consulta por favor, revisa las preguntas frecuentes <a href="{% url 'core:faqs' %}">Aqui</a>.</b></p>
                    {% include "extras/generic_form-nobase.html" %}
                {% else %}
                    <div class="resultado row">
                        <div class="col-sm-8">
                            <h2>La consulta fue enviada con exito!</h2>
                            <p>Por favor revise su correo electronico, le hemos enviado un mail para validar el mismo.</p>
                            <p>Le responderemos cuanto antes!</p>
                        </div>
                        <div class="col-sm-4">
                            <img style="width:90%;" src="{% static 'img/icons/check.png' %}">
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <br>
                <div class="row">
                    <h3><b>DATOS DE CONTACTO</b></h3>
                    <ul>
                        <li><b>Consultas COE:</b> 0388 4310883 <i>(de 9:00 a 21:00)</i></li>
                        <br>
                        <li><b>Ante Sintomas o Sospechas:</b></li>
                        <ul>
                            <li>0800 888 4767</li>
                            <li>0800 777 7711</li>
                        </ul>
                        <br>
                        <li><b>Incumplimientos de Cuarentena:</b> 911</li>
                        <li><b>Emergencias:</b> SAME 107</li>
                        <br>
                        <li><b>Casa de Jujuy (Buenos Aires):</b> 011 4393-6096</li>
                        <li><b>Casa de Jujuy (Cordoba):</b> 0388 580-4908</li>
                        <br>
                        <li><b>Ministerio de Salud:</b> 0388 424-5500</li>
                        <li><b>Ministerio de Seguridad:</b> 0388 431-2848</li>
                        <li><b>Ministerio de Trabajo y Empleo:</b> 0388 425-8532</li>
                        <li><b>Ministerio de Desarrollo Humano:</b> 0388 422-1285</li>
                        <li><b>Secretaria de Transporte:</b> 0388 423-9400</li>
                        <br>
                        <li><b>Email COE:</b> <a href="mailto:coe@jujuy.gob.ar" target="_blank">coe@jujuy.gob.ar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3><b>Sistema Desarrollado por Secretaria de Modernizacion de Jujuy</b></h3>
            <div class="col-sm-8">
                <h4><b>Secretario:</b> Antonio Horacio Alejo</h4>
                <ul>
                    <li><b>Direccion de Unificacion Informatica</b> Director Marcos Federico Mandrille</li>
                    <lu>
                        <li><b>Email:</b> <a href="mailto:mmandrille@jujuy.gob.ar" target="_blank">mmandrille@jujuy.gob.ar</a> (Consultas solo Relacionadas al Sistema)</li>
                        <li><b>Dirección:</b> Curupaiti 4600, San Salvador de Jujuy, Jujuy (Infinito por Descubrir)</li>
                        <li><b>Telefonico:</b>
                            <ul>
                                <li>Telefono Fijo: +54 0388 – 4239400</li>
                            </ul>
                        </li>
                    </ul>
                </ul>
                <p><b>Sistema de Codigo Abierto Bajo licencia MIT, Disponible para descargar <a href="https://gitlab.com/mmandrille/coe" target="_blank"> Aqui.</a></b></p>
            </div>
            <div class="col-sm-4">
                <p><b>Agradecemos el apoyo y colaboracion de los siguientes desarroladores que sumaron al proyecto:</b></hp>
                <ul>
                    <li>
                        <b>Backend:</b>
                        <ul>
                            <li>Jaramillo, Daniel</li>
                            <li>Ramos, Pablo Nicolas</li>
                            <li>Fisanotti, Juan Pedro</li>
                            <li>Torres, Martin</li>
                            <li>Colletti, Carla</li>
                            <li>Gaspar, Brenda Elizabeth</li>
                            <li>Baca, Jose Fernando</li>
                        </ul>
                    </li>
                    <li>
                        <b>App Covid19 v1:</b>
                        <ul>
                            <li>Jara, Andres Emanuel</li>
                            <li>Lopez, Juan Manuel</li>
                            <li>Ittig, Ernesto</li>
                            <li>Aleman Zampini, Julieta Belén</li>
                            <li>Tejerina, Mario Alberto</li>
                            <li>Vilte, Emanuel Elias </li>
                            <li>Celi, Víctor Mauricio</li>
                            <li>Cruz, Pablo Joaquín</li>
                            <li>Tolaba, Guillermo Andrés</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}