{% extends 'base/base.html' %}

{% load form_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% if form %}
                    {% include "extras/generic_form-nobase.html" %}
                {% else %}
                    <div class="resultado row">
                        <div class="col-sm-8">
                            <h2>La consulta fue enviada con exito!</h2>
                            <p>Por favor revise su correo electronico, le hemos enviado un mail para validar el mismo.</p>
                            <p>Le responderemos cuanto antes!</p>
                        </div>
                        <div class="col-sm-4">
                            <img style="width:90%;" src="{% static 'img/icons/check.png' %}">
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <h1>Por dudas o consultas:</h1> 
                <p>Info de Consultas</p>

                <h3>Desarrollado por la Secretaria de Modernizacion de Jujuy:</h3>
                <ul>
                    <li><b>Direccion de Unificacion Informatica</b> Director Marcos Federico Mandrille</li>
                    <li><b>Consultas <u>Tecnicas</u></b></li>
                    <lu>
                        <li><b>Email:</b> <a href="mailto:mmandrille@jujuy.gob.ar" target="_blank">mmandrille@jujuy.gob.ar </a></li>
                        <li><b>Dirección:</b> Sarmiento 174, 3E</li>
                        <li><b>Telefonico:</b>
                            <ul>
                                <li>Telefono Fijo: +54 0388 – 4239400</li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}