{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Consultas Validas:</h2>
        </div>
        <div class="row">
        <div>
            <table class="listado table" id="table">
                <thead>
                    <tr>
                        <th>autor</th>
                        <th>email</th>
                        <th>telefono</th>
                        <th>asunto</th>
                        <th>descripcion</th>
                        <th>fecha_consulta</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consulta in consultas %}
                        <tr>
                            <td data-title="autor: ">{{consulta.autor}}</td>
                            <td data-title="email: ">{{consulta.email}}</td>
                            <td data-title="telefono: ">{{consulta.telefono}}</td>
                            <td data-title="asunto: ">{{consulta.asunto}}</td>
                            <td data-title="descripcion: ">{{consulta.descripcion|safe}}</td>
                            <td data-title="fecha_consulta: ">{{consulta.fecha_consulta}}</td>
                            <td><a href="{% url 'consultas:ver_consulta' consulta_id=consulta.id %}" target="_blank">(Ver Detalle)</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}