{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Consultas Validas:</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Asunto</th>
                        <th>Descripcion</th>
                        <th>Respuesta</th>
                        <th>fecha_consulta</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consulta in consultas %}
                        <tr>
                            <td>{{consulta.asunto}}</td>
                            <td>{{consulta.descripcion|safe}}</td>
                            <td>
                                {% for respuesta in consulta.respuestas.all %}
                                    {% if forloop.first %}
                                        <ul>
                                    {% endif %}
                                    <li>{{respuesta.respuesta|safe}}<li>
                                    {% if forloop.last %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{consulta.fecha_consulta}}</td>
                            <td><a href="{% url 'consultas:ver_consulta' consulta_id=consulta.id %}" target="_blank">(Ver Detalle)</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}