{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Consultas Validas:</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>autor</th>
                        <th>email</th>
                        <th>telefono</th>
                        <th>asunto</th>
                        <th>descripcion</th>
                        <th>fecha_consulta</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consulta in consultas %}
                        <tr>
                            <td>{{consulta.autor}}</td>
                            <td>{{consulta.email}}</td>
                            <td>{{consulta.telefono}}</td>
                            <td>{{consulta.asunto}}</td>
                            <td>{{consulta.descripcion|safe}}</td>
                            <td>{{consulta.fecha_consulta}}</td>
                            <td><a href="{% url 'consultas:ver_consulta' consulta_id=consulta.id %}" target="_blank">(Ver Detalle)</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}