{% extends 'base_consultas.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Principal:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if es_telefonista %}
                                <li><a href="{% url 'consultas:mi_panel' %}">Ver Mi Panel de Control</a></li>
                            {% endif %}

                            {% if perms.operadores.admin_telefonistas %}
                                <h3>Telefonistas</h3>
                                <li><a href="{% url 'consultas:informe_actividad' %}">Informe de Actividad</a></li>
                                <li><a href="{% url 'consultas:lista_telefonistas' %}">Lista de Telefonistas Habilitados</a></li>
                                <li><a href="{% url 'consultas:lista_llamadas' %}">Ver Registro de Llamadas</a></li>
                            {% endif %}

                            {% if perms.operadores.consultas %}
                                <hr>
                                <h3>Consultas</h3>
                                <li><a href="{% url 'consultas:lista_consultas' %}">Ver Consultas Sin Responder</a></li>
                                <li><a href="{% url 'consultas:lista_respondidas' %}">Ver Consultas Respondidas</a></li>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <hr>
                                <li><a href="{% url 'operadores:menu' %}">Opcion del Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}