{% extends 'base_seguimiento.html' %}

{% load static %}
{% load seguimiento_tags %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Panel de {{telefonista}}</b></h2>
            <p><b>Tipo de Operador: {{telefonista.get_tipo_display}}</b></p>
            <div class="col-sm-8">
                <h3>Consultas sin responder: {{telefonista.consultas.count}}</h3>
                <table class="listado" id="table">
                    <thead>
                        <tr>
                            <th>Fecha_consulta</th>
                            <th>Autor</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Asunto</th>
                            <th>Descripcion</th>
                            <th>Ver Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for denuncia in telefonista.denuncias.all %}
                            <tr>
                                <td>{{denuncia.fecha}}</td>
                                <td colspan="3" style="text-align:center;"><b>Denuncia Anonima</b></td>
                                <td>{{denuncia.get_tipo_display}}</td>
                                <td>{{denuncia.descripcion}}</td>
                                <td>
                                    <a href="{% url 'consultas:ver_denuncia' denuncia_id=denuncia.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                </td>
                            </td>
                        {% endfor %}
                        {% for consulta in telefonista.consultas.all %}
                            <tr>
                                <td>{{consulta.fecha_consulta}}</td>
                                <td>{{consulta.autor}}</td>
                                <td>{{consulta.email}}</td>
                                <td>{{consulta.telefono}}</td>
                                <td>{{consulta.asunto}}</td>
                                <td>{{consulta.descripcion|safe}}</td>
                                <td>
                                    <a href="{% url 'consultas:ver_consulta' consulta_id=consulta.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <ul class="menu_botones">
                    <li><a href="{% url 'consultas:cargar_llamada' telefonista_id=telefonista.id %}" target="_blank">Cargar Llamada</a></li>
                    <li><a href="{% url 'consultas:actividad_telefonista' telefonista_id=telefonista.id %}" target="_blank">Ver estadisticas</a></li>
                </ul>

                <h2>Atenciones Realizadas:</h2>
                <p><a href="{% url 'consultas:llamadas_telefonista' telefonista_id=telefonista.id %}" target="_blank">Llamadas ({{llamadas.count}})</a></p>
                <p><a href="{% url 'consultas:consultas_telefonista' telefonista_id=telefonista.id %}" target="_blank">Consultas ({{respuestas.count}})</a></p>
                <p><a href="{% url 'consultas:denuncias_telefonista' telefonista_id=telefonista.id %}" target="_blank">Denuncias ({{denuncias.count}})</a></p>
            </div>
        </div>
    </div>
{% endblock %}