{% extends 'base_informacion.html' %}

{% block content %}
    <section class="formulario_custom">
        <div class="container">
            <div class="row">
                <form method="post" enctype="multipart/form-data" action="{% url 'informacion:cargar_inquilino' %}">
                    {% csrf_token %}
                    <!-- Mostramos errores -->
                    {% for field in form %}
					    {% if field.errors %}
                            <li>
                                {{ field.label }}: {{ field.errors|striptags }}
                            </li>
                        {% endif %}
				    {% endfor %}
                    <!-- Formulario -->
                    <h2>Cargar Inquilino</h2>
                    <p><b>Destino:</b> {{form.ubicacion}}</p>
                    <p><b>Direccion:</b> {{ubicacion.calle}} {{ubicacion.numero}}, {{ubicacion.localidad}}</p>
                    <p><b>Habitacion:</b> {{form.habitacion}}</p>
                    <p><b>Fecha de Ingreso:</b> {{form.fecha}}</p>

                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="grupo">
                            <h3>Datos Personales</h3>
                            <p class="campo">{{form.tipo_doc}} {{form.num_doc}}</p>
                            <p class="campo"><label>Apellido:</label> {{form.apellidos}}</p>
                            <p class="campo"><label>Nombres:</label> {{form.nombres}}</p>
                            <p class="campo"><label>Sexo:</label> {{form.sexo}}</p>
                            <p class="campo"><label>Fecha Nacimiento:</label> {{form.fecha_nacimiento}}</p>
                            <p class="campo"><label>Telefono:</label> {{form.telefono}}</p>
                            <p class="campo"><label>Email:</label> {{form.email}}</p>
                            <p class="campo"><label>Nacionalidad:</label> {{form.nacionalidad}}</p>
                            <p class="campo"><label>Pais de Origen:</label> {{form.origen}}</p>
                            <p class="campo"><label>Destino en la Provincia:</label> {{form.destino}}</p>
                        </div>
                        <h3>Observaciones:</h3>
                        {{form.observaciones}}
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <h3>Signos y Sintomas:</h3>
                            {{form.sintomas}}
                        </div>
                        <div class="col-sm-6">
                            <h3>Marcadores:</h3>
                            <p class="definicion">Atributos Importantes</p>
                            {{form.atributos}}
                        </div>
                        <div class="col-sm-3 col-sm-offset-6">
                            <button type="submit">Cargar</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </section>
{% endblock %}