{% extends 'base_informacion.html' %}

{% load static %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h2>Lista de Aislados</h2>
                    <a class="botoncito" href="{% url 'informacion:lista_aislados' estado='todos' %}">Ver TODOS</a>
                    <div class="col-sm-12"></div>
                        <table class="listado" id="table">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Apellidos</th>
                                    <th>Nombres</th>
                                    <th>Ubicacion</th>
                                    <th>Fecha de Ingreso</th>
                                    <th>Dias Faltantes</th>
                                    <th>App</th>
                                    <th>Ver Individuo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for aislado in ubicacion.aislados_actuales %}
                                    <tr>
                                        <td>{{aislado.num_doc}}</td>
                                        <td>{{aislado.apellidos}}</td>
                                        <td>{{aislado.nombres}}</td>
                                        <td>{{aislado.domicilio_actual.ubicacion.nombre}}</td>
                                        <td>{{aislado.situacion_actual}}</td>
                                        <td>{{aislado.domicilio_actual.fecha}}</td>
                                        <td>{{aislado.domicilio_actual.dias_faltantes}}</td>
                                        <td>
                                            {% if aislado.appdata %}
                                                <img class="icons" src="/static/img/icons/check.png">
                                            {% else %}
                                                <img class="icons" src="/static/img/icons/wrong.png">
                                            {% endif %}
                                        </td>
                                        <td><a href="{% url 'informacion:ver_individuo' individuo_id=aislado.id %}" target="_blank">(Ver Individuo)</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}