{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Individuos Registrados en la APP</h2>
        </div>
        <div class="row">
        <div>
            <table class="listado table" id="table">
                <thead>
                    <tr>
                        <th>Identificacion</th>
                        <th>Individuo</th>
                        <th>Triaje</th>
                        <th>Fecha Autodiagnostico</th>
                        <th>Estado</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for individuo in individuos %}
                        <tr>
                            <td data-title="Identificacion: ">{{individuo.get_tipo_doc_display}} {{individuo.num_doc}}</td>
                            <td data-title="Individuo: ">{{individuo.apellidos}}, {{individuo.nombres}}</td>
                            <td data-title="Triaje: ">{{individuo.appdata.get_estado_display}}</td>
                            <td data-title="Fecha Autodiagnostico: ">{{individuo.appdata.fecha}}</td>
                            <td data-title="Estado: ">{{individuo.situacion_actual}}</td>
                            <td data-title="Ver Detalle: "><a href="{% url 'informacion:ver_individuo' individuo_id=individuo.id %}" target="_blank">(Ver Detalle)</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}