{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Individuos Registrados</h2>
        </div>
        <div class="row">
        <div>
            <table class="listado table" id="table">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Individuo</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Nacionalidad</th>
                        <th>Ubicacion Actual</th>
                        <th>Situacion</th>
                        <th>Atributo</th>
                        <th>Sintomas</th>
                        <th>Ultima Actualizacion</th>
                        <th>Relaciones</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for individuo in individuos %}
                        <tr>
                            <td data-title="Documento: ">{{individuo.get_tipo_doc_display}} {{individuo.num_doc}}</td>
                            <td data-title="Individuo: ">{{individuo.apellidos}}, {{individuo.nombres}}</td>
                            <td data-title="Fecha de Nacimiento: ">{{individuo.fecha_nacimiento}}</td>
                            <td data-title="Nacionalidad: ">{{individuo.nacionalidad}}</td>
                            <td data-title="Ubicacion Actual: ">{{individuo.domicilio_actual}}</td>
                            <td data-title="Situacion: ">{{individuo.situacion_actual}}</td>
                            <td data-title="Atributo: ">
                                {% for atributo in individuo.atributos.all%}
                                    <li>{{atributo.get_tipo_display}}</li>
                                {% endfor %}
                            </td>
                            <td data-title="Sintomas: ">
                                {% for sintoma in individuo.sintomas.all%}
                                    <li>{{sintoma.get_tipo_display}}</li>
                                {% endfor %}
                            </td>
                            <td data-title="Ultima Actualizacion: ">{{individuo.ultima_actualizacion}}</td>
                            <td data-title="Relaciones: ">{{individuo.relaciones.all|length}}</td>
                            <td><a href="{% url 'informacion:ver_individuo' individuo_id=individuo.id %}" target="_blank">(Ver Detalle)</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}