{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Individuos Registrados</h2>
            <p>{% include 'extras/buscador.html' %}</p>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado">
                <tr>
                    <th colspan="2">Identificacion</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Nacionalidad</th>
                    <th>Origen - Destino</th>
                    <th>Situacion</th>
                    <th>Atributo</th>
                    <th>Sintomas</th>
                    <th>Ver Detalle</th>
                </tr>
                {% for individuo in individuos %}
                    <tr>
                        <td>{{individuo.get_tipo_doc_display}} {{individuo.num_doc}}</td>
                        <td>{{individuo.apellidos}}, {{individuo.nombres}}</td>
                        <td>{{individuo.fecha_nacimiento}}</td>
                        <td>{{individuo.nacionalidad}}</td>
                        <td>{{individuo.origen}} - {{individuo.destino}}</td>
                        <td>{{individuo.situacion_actual}}</td>
                        <td>
                            {% for atributo in individuo.atributos.all%}
                                <li>{{atributo.tipo}}</li>
                            {% endfor %}
                        </td>
                        <td>
                            {% for sintoma in individuo.sintomas.all%}
                                <li>{{sintoma.tipo}}</li>
                            {% endfor %}
                        </td>
                        <td><a href="{% url 'informacion:ver_individuo' individuo_id=individuo.id %}" target="_blank">(Ver Detalle)</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'extras/paginador.html' with elementos=individuos %}
        </div>
    </div>
{% endblock %}