{% extends 'base_informacion.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Informacion:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.reportes %}
                                <li><a href="{% url 'informacion:tablero_control'  %}">Tablero de Situacion</a></li>
                                <li><a href="{% url 'informacion:reporte_basico'  %}">Buscador Por Filtros</a></li>
                                <hr>
                            {% endif %}

                            {% if perms.operadores.individuos %}
                                <li><a href="{% url 'informacion:buscar_individuo'  %}">Cargar Individuos</a></li>
                                <li><a href="{% url 'informacion:buscador_individuos' %}">Buscador Ambiguo</a></li>
                                <hr>
                                <li><a href="{% url 'informacion:control_tracking' %}">Sistema de Control GeoPosicional</a></li>
                                <li><a href="{% url 'informacion:lista_conducta' conducta='E' %}">Individuos en Aislamiento/Internacion</a></li>
                                <li><a href="{% url 'informacion:lista_conducta' conducta='B' %}">Individuos Esperando Evaluacion</a></li>
                                <li><a href="{% url 'informacion:lista_seguimiento'  %}">Individuos en Seguimiento</a></li>
                                <li><a href="{% url 'informacion:lista_autodiagnosticos'  %}">Listar Autodiagnosticos</a></li>
                                <hr>
                            {% endif %}

                            {% if perms.operadores.vehiculos %}
                                <li><a href="{% url 'informacion:buscar_vehiculo'  %}">Buscar/Cargar Vehiculo</a></li>
                                <li><a href="{% url 'informacion:listar_vehiculos' %}">Listar Vehiculos</a></li>
                                <hr>
                            {% endif %}

                            {% if perms.operadores.archivos %}
                                <li><a href="{% url 'informacion:subir_archivos'  %}">Subir Archivos</a></li>
                                <li><a href="{% url 'informacion:subir_same'  %}">Carga Masiva SAME</a></li>
                                <li><a href="{% url 'informacion:archivos_pendientes' %}">Ver Listado de Archivos sin Procesar</a></li>
                                <hr>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <h3>Uso Bajo Supervision:</h3>
                                <li><a href="{% url 'informacion:upload_padron_individuos' %}">Upload Padron Individuos</a></li>
                                <li><a href="{% url 'informacion:upload_padron_domicilios' %}">Upload Padron Domicilios</a></li>
                                <hr>
                                <li><a href="{% url 'informacion:buscar_permiso' %}">Pedir Permiso de Circulacion</a></li>
                                <li><a href="{% url 'informacion:subir_epidemiologia'  %}">Carga Masiva Epidemiologia</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'users/info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}