{% extends 'base_informacion.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Informacion:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.reportes %}
                                <hr>
                                <li><a href="{% url 'informacion:tablero_control'  %}">Tablero de Situacion</a></li>
                                <li><a href="{% url 'informacion:reporte_basico'  %}">Buscador Por Filtros</a></li>
                                <hr>
                            {% endif %}

                            {% if perms.operadores.individuos %}
                                <h3>Individuos:</h3>
                                <li><a href="{% url 'informacion:buscar_individuo'  %}">Cargar Individuos</a></li>
                                <li><a href="{% url 'informacion:buscador_individuos' %}">Buscador Ambiguo</a></li>
                                <hr>
                            {% endif %}

                            {% if perms.operadores.vehiculos %}
                                <h3>Vehiculos:</h3>
                                <li><a href="{% url 'informacion:buscar_vehiculo'  %}">Buscar/Cargar Vehiculo</a></li>
                                <li><a href="{% url 'informacion:listar_vehiculos' %}">Listar Vehiculos</a></li>
                                <hr>
                            {% endif %}

                            {% if perms.operadores.archivos %}
                                <h3>Cargas Masivas:</h3>
                                <li><a href="{% url 'informacion:subir_archivos'  %}">Subir Archivos</a></li>
                                <li><a href="{% url 'informacion:archivos_pendientes' %}">Ver Listado de Archivos sin Procesar</a></li>
                                <hr>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <h3>Uso Bajo Supervision:</h3>
                                <li><a href="{% url 'documentos:menu' %}">Opcion del Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}