{% extends 'base_informacion.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Informacion:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.subir_archivos %}
                                <li><a href="{% url 'informacion:subir_archivos'  %}">Subir Archivos</a></li>
                            {% endif %}
                            {% if perms.operadores.archivos_pendientes %}
                                <li><a href="{% url 'informacion:archivos_pendientes'  %}">Ver Listado de Archivos sin Procesar</a></li>
                                <hr>
                            {% endif %}

                            {% if perms.operadores.cargar_vehiculo %}
                                <li><a href="{% url 'informacion:listar_vehiculos'  %}">Listar Vehiculos</a></li>
                                <li><a href="{% url 'informacion:cargar_vehiculo'  %}">Cargar Vehiculo</a></li>
                                <hr>
                            {% endif %}

                            {% if perms.operadores.cargar_individuo %}
                                <li><a href="{% url 'informacion:listar_individuos'  %}">Listar Individuos</a></li>
                                <li><a href="{% url 'informacion:cargar_individuo'  %}">Cargar Individuo</a></li>
                                <hr>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'informacion:menu' %}">Opcion del Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'users/info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}