{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Individuos Registrados</h2>
        </div>
        <div class="row">
        <div>
            <table class="listado table" id="table">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Individuo</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Nacionalidad</th>
                        <th>Origen - Destino</th>
                        <th>Estado</th>
                        <th>Sintomas</th>
                        <th>Atributos</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reportado in reportados %}
                        {% with reportado.individuo as individuo %}
                            <tr>
                                <td data-title="Documento: ">{{individuo.get_tipo_doc_display}} {{individuo.num_doc}}</td>
                                <td data-title="Individuo: ">{{individuo.apellidos}}, {{individuo.nombres}}</td>
                                <td data-title="Fecha de Nacimiento: ">{{individuo.fecha_nacimiento}}</td>
                                <td data-title="Nacionalidad: ">{{individuo.nacionalidad}}</td>
                                <td data-title="Origen - Destino: ">{{individuo.origen}} - {{individuo.destino}}</td>
                                <td data-title="Estado: ">{{individuo.situacion_actual}}</td>
                                <td data-title="Sintomas: ">{{reportado.sintomas}}</td>
                                <td data-title="Atributos: ">{{reportado.atributos}}</td>
                                <td><a href="{% url 'informacion:ver_individuo' individuo_id=individuo.id %}" target="_blank">(Ver Detalle)</a></td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}