{% extends 'base_informacion.html' %}

{% block content %}
    <section class="formulario_custom">
        <div class="container">
            <div class="row">
                <h2>Trasladar Individuo</h2>
                DATOS INDIVIDUO
                <div class="col-sm-4 col-sm-offset-1">
                    <ul class="menu_botones">
                        {% for aislamiento in aislamientos %}
                            <li>
                                <a href="{% url 'informacion:trasladar' ubicacion_id=aislamiento.id %}">
                                    {{aislamiento.nombre}} - {{aislamiento.localidad}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="menu_botones">
                        {% for internacion in internaciones %}
                            <li>
                                <a href="{% url 'informacion:trasladar' ubicacion_id=internacion.id %}">
                                    {{internacion.nombre}} - {{internacion.localidad}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </section>
{% endblock %}