{% extends 'base_informacion.html' %}

{% load static %}

{% block content %}
    <section class="formulario_custom">
        <div class="container">
            <div class="row">
                <div class="row">
                    <h2>Trasladar Individuo</h2>
                    <p><b>{{individuo.apellidos}} {{individuo.nombres}}</b></p>
                    <p>{{individuo.get_tipo_doc_display}} {{individuo.num_doc}}</p>
                    <p>Fecha de Nacimiento: {{individuo.fecha_nacimiento}}</p>
                    <p>Nacionalidad: {{individuo.nacionalidad}}</p>
                    <p><b>Situacion: {{individuo.situacion_actual}}</b></p>
                </div>
                <div class="col-sm-10" "col-sm-offset-1">
                    <table class="listado table" id="table">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Localidad</th>
                                <th>Capacidad Disponible</th>
                                <th>Telefono</th>
                                <th>Trasladar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ubicacion in ubicaciones %}
                                <tr>
                                    <td data-title="Tipo: ">{{ubicacion.get_tipo_display}}</td>
                                    <td data-title="Nombre: ">
                                        {{ubicacion.nombre}}
                                        <a href="{% url 'georef:mod_ubicacion' ubicacion_id=ubicacion.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/change.png' %}">
                                        </a>
                                    </td>
                                    <td data-title="Direccion: ">{{ubicacion.calle}} {{ubicacion.numero}}</td>
                                    <td data-title="Localidad: ">{{ubicacion.localidad.nombre}}</td>
                                    <td data-title="Capacidad Disponible: ">{{ubicacion.capacidad_disponible}}</td>
                                    <td data-title="Telefono: ">{{ubicacion.telefono}}</td>
                                    <td data-title="Trasladar: "><a href="{% url 'informacion:elegir_vehiculo' individuo_id=individuo.id ubicacion_id=ubicacion.id %}">Trasladar</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </section>
{% endblock %}