{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Tablero de Situacion</b></h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-4 nacionalidades">
                    <!--NACIONALIDAD -->
                    <table class="listado">
                        <thead>
                            <tr>
                                <th>Nacionalidad</th>
                                <th>Cantidad</th>
                                <th>Ver Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for nac in nacionalidades %}
                                    <td>{{nac.nombre}}</th>
                                    <td>{{nac.cantidad}}</th>
                                    <td><a href="{% url 'informacion:lista_nacionalidad' nacionalidad_id=nac.id %}" target="_blank">(Ver Detalle)</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Situacion -->
                <div class="col-sm-8">
                    <!--ESTADO -->
                    <div class="col-sm-6">
                        <table class="listado">
                            <thead>
                                <tr>
                                    <th>Estado</th>
                                    <th>Cantidad</th>
                                    <th>Ver Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for estado in estados %}
                                        <td>{{estado.0}}</th>
                                        <td>{{estado.1}}</th>
                                        <td><a href="{% url 'informacion:tablero_control' %}" target="_blank">(Ver Detalle)</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- CONDUCTA -->
                    <div class="col-sm-6">
                        <table class="listado">
                            <thead>
                                <tr>
                                    <th>Estado</th>
                                    <th>Cantidad</th>
                                    <th>Ver Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for conducta in conductas %}
                                        <td>{{conducta.0}}</th>
                                        <td>{{conducta.1}}</th>
                                        <td><a href="{% url 'informacion:tablero_control' %}" target="_blank">(Ver Detalle)</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}