{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Tablero de Situacion</b></h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-4 nacionalidades">
                    <h3>Capacidad Internacion</h3>
                    <table class="listado">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Localidad</th>
                                <th>Capacidad Total</th>
                                <th>Capacidad Disponible</th>
                                <th>Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ubicacion in internaciones %}
                                <tr>
                                    <td>{{ubicacion.nombre}}</th>
                                    <td>{{ubicacion.localidad.nombre}}</th>
                                    <td>{{ubicacion.capacidad_maxima}}</th>
                                    <td>{{ubicacion.capacidad_disponible}}</th>
                                    <td>
                                        <a href="{% url 'georef:ver_ubicacion' ubicacion_id=ubicacion.id %}" target="_blank">
                                            (Ver Detalle)
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <h3>Capacidad Aislamiento</h3>
                    <table class="listado">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Localidad</th>
                                <th>Capacidad Total</th>
                                <th>Capacidad Disponible</th>
                                <th>Ver detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ubicacion in aislamientos %}
                                <tr>
                                    <td>{{ubicacion.nombre}}</th>
                                    <td>{{ubicacion.localidad.nombre}}</th>
                                    <td>{{ubicacion.capacidad_maxima}}</th>
                                    <td>{{ubicacion.capacidad_disponible}}</th>  
                                    <td>
                                        <a href="{% url 'georef:ver_ubicacion' ubicacion_id=ubicacion.id %}" target="_blank">
                                            (Ver Detalle)
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h3>Individuos por Nacionalidad:</h3>
                    <table class="listado">
                        <thead>
                            <tr>
                                <th>Nacionalidad</th>
                                <th>Cantidad</th>
                                <th>Ver Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for nac in nacionalidades %}
                                <tr>
                                    <td>{{nac.nombre}}</th>
                                    <td>{{nac.cantidad}}</th>
                                    <td><a href="{% url 'informacion:lista_nacionalidad' nacionalidad_id=nac.id %}" target="_blank">(Ver Detalle)</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Situacion -->
                <div class="col-sm-8">
                    <h3>Individuos en Estados:</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="listado">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Cantidad</th>
                                        <th>Ultimas 24hrs</th>
                                        <th>Ver Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for estado in estados %}
                                            <td>{{estado.1}}</th>
                                            <td>{{estado.2}}</th>
                                            <td>{{estado.3}}</th>
                                            <td><a href="{% url 'informacion:lista_estado' estado=estado.0 %}" target="_blank">(Ver Detalle)</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            {% include 'lineas.html' with graf_datos=graf_estados %}
                        </div>
                    </div>
                    <div class="row">
                        <h3>Individuos en Conductas:</h3>
                        <div class="col-sm-6">
                            <table class="listado">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Total</th>
                                        <th>Ultimas 24hrs</th>
                                        <th>Ver Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for conducta in conductas %}
                                            <td>{{conducta.1}}</th>
                                            <td>{{conducta.2}}</th>
                                            <td>{{conducta.3}}</th>
                                            <td><a href="{% url 'informacion:lista_conducta' conducta=conducta.0 %}" target="_blank">(Ver Detalle)</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            {% include 'lineas.html' with graf_datos=graf_conductas %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}