{% extends 'base_informacion.html' %}

{% load static %}
{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <br>
                        <h2><b>{{individuo.apellidos}}, {{individuo.nombres}}</b></h2>
                        <hr>
                        <!-- ESTADO -->
                        {% if individuo.situacion_actual %}
                            <h4>Estado: <b>{{individuo.situacion_actual}}</b> 
                                <a class="nolink" href="{% url 'informacion:cargar_situacion' individuo_id=individuo.id %}">
                                    <img class="icons" src="{% static '/img/icons/change.png' %}">
                                </a>
                                <a class="nolink"  href="javascript:PopUp(1);" ><img class="icons" src="{% static '/img/icons/history.png' %}"></a>
                            </h4>
                            <div class="popup-overlay"></div>
                            <div class="popup">
                                <div class="popuptext" id="myPopup-1">
                                    <a class="nolink"  href="javascript:PopUp(1);" >
                                        <img class="close_icon" src="{% static 'img/icons/close.png' %}">
                                    </a>
                                    <p class="history_tittle">HISTORIAL:</p>
                                    <hr class="minibar">
                                    <ul>
                                        {% for sit in individuo.situaciones.all reversed %}
                                            <li>{{sit}} ({{sit.fecha}})</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <h4 class="alerta">EL INDIVIDUO NO REGISTRA ESTADO ACTUAL: 
                                <a class="nolink" href="{% url 'informacion:cargar_situacion' individuo_id=individuo.id %}">
                                    CARGAR
                                </a>
                            </h4>
                        {% endif %}
                        <br>
                        <!-- DATOS PERSONALES -->
                        <div class="row">
                            <div class="col-sm-4">
                                <p>Documento: {{individuo.get_tipo_doc_display}} {{individuo.num_doc}}</p>
                                <p>Fecha de Nacimiento: {{individuo.fecha_nacimiento}}</p>
                                <p>Origen: {{individuo.origen}}</p>
                                <p>Destino:{{individuo.destino}}</p>
                            </div>
                            <div class="col-sm-4">
                                <h4><b>Contacto:</b></h4>
                                <p>Telefono: {{individuo.telefono}}</p>
                                <p>Email: {{individuo.email}}</p>
                                <p>Nacionalidad: {{individuo.nacionalidad}}</p>
                                {% if individuo.appdata %}
                                    <hr>
                                    <h4>Autodiagnostico: {{individuo.appdata.get_estado_display}}</h4>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        {% if individuo.domicilios.all %}
                            {% with individuo.domicilio_actual as domicilio %}
                                <p>
                                    <b>Residencia Actual:</b> {{domicilio.calle}} {{domicilio.numero}} ({{domicilio.aclaracion}}), {{domicilio.localidad.nombre}}
                                    <a class="nolink"  href="javascript:PopUp(2);" ><img class="icons" src="{% static '/img/icons/history.png' %}"></a>
                                    {% if domicilio.geoposicion %}
                                        <a class="nolink"  href="https://www.google.com/maps?q={{domicilio.geoposicion.latitud|stringformat:".5f"}},{{domicilio.geoposicion.longitud|stringformat:".5f"}}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/map.png' %}">
                                        </a>
                                    {% else %}
                                        <a class="nolink"  href="{% url 'informacion:cargar_geoposicion' domicilio_id=domicilio.id %}" >
                                            <img class="icons" src="{% static '/img/icons/nomap.png' %}">
                                        </a>
                                    {% endif %}
                                </p>
                            {% endwith %}
                            <div class="popup-overlay"></div>
                            <div class="popup">
                                <div class="popuptext" id="myPopup-2">
                                    <a class="nolink"  href="javascript:PopUp(2);" >
                                        <img class="close_icon" src="{% static 'img/icons/close.png' %}">
                                    </a>
                                    <p class="history_tittle">HISTORIAL:</p>
                                    <hr class="minibar">
                                    <ul>
                                        {% for dom in individuo.domicilios.all reversed %}
                                            <li>{{dom.calle}} {{dom.numero}}, {{dom.localidad}} ({{dom.aclaracion}}) | Fecha: {{dom.fecha|date}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <h4 class="alerta">NO REGISTRA RESIDENCIA ACTUAL EN LA PROVINCIA: <a class="nolink"  href="{% url 'informacion:cargar_domicilio' individuo_id=individuo.id %}">CARGAR</a></h4>
                        {% endif %}
                            
                        {{individuo.particularidades|safe}}

                        <!--Tabla de Signos Vitales-->
                        {% for signovitale in individuo.signos_vitales.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Signos Vitales:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tension</th>
                                        <th>Frec Card</th>
                                        <th>Frec Resp</th>
                                        <th>Temp</th>
                                        <th>Sat O2</th>
                                        <th>Glucosa</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{signovitale.fecha}}</td>
                                <td>{{signovitale.tension_diastolica}}/{{signovitale.tension_sistolica}}</td>
                                <td>{{signovitale.frec_cardiaca}}'</td>
                                <td>{{signovitale.frec_respiratoria}}'</td>
                                <td>{{signovitale.temperatura}}°C</td>
                                <td>{{signovitale.sat_oxigeno}}%</td>
                                <td>{{signovitale.glucemia}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'informacion:mod_signosvitales' individuo_id=individuo.id signosvitales_id=signovitale.id %}">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    {% if request.user.is_superuser %}
                                        <a class="nolink"  href="{% url 'informacion:del_signosvitales' signosvitales_id=signovitale.id %}">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Sintomas Registrados-->
                        {% for sintoma in individuo.sintomas.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Sintomas:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Sintoma</th>
                                        <th>Aclaracion</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{sintoma.get_tipo_display}}</td>
                                <td>{{sintoma.aclaracion}}</td>
                                <td>{{sintoma.fecha}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'informacion:mod_sintoma' individuo_id=individuo.id sintoma_id=sintoma.id %}">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    <a class="nolink"  href="{% url 'informacion:del_sintoma' sintoma_id=sintoma.id %}">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                    </a>
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Sintomas Registrados-->
                        {% for atributo in individuo.atributos.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Atributos Registrados:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Atributo</th>
                                        <th>Aclaracion</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{atributo.get_tipo_display}}</td>
                                <td>{{atributo.aclaracion}}</td>
                                <td>{{atributo.fecha}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'informacion:mod_atributo' individuo_id=individuo.id atributo_id=atributo.id %}">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    <a class="nolink"  href="{% url 'informacion:del_atributo' atributo_id=atributo.id %}">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                    </a>
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Documentos-->
                        {% for documento in individuo.documentos.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Documentos Subidos:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Fecha</th>
                                        <th>Aclaracion</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{documento.get_tipo_display}}</td>
                                <td>{{documento.fecha}}</td>
                                <td>{{documento.aclaracion}}</td>

                                <td>
                                    <a class="nolink"  href="{{documento.archivo.url}}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                    <a class="nolink"  href="{% url 'informacion:mod_documento' individuo_id=individuo.id documento_id=documento.id %}">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    {% if request.user.is_superuser %}
                                        <a class="nolink"  href="{% url 'informacion:del_documento' documento_id=documento.id %}">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Relaciones Registradas-->
                        {% for relacion in individuo.relaciones.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Relaciones Registradas:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Individuo</th>
                                        <th>Aclaracion</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{relacion.get_tipo_display}}</td>
                                <td>
                                    <a href="{% url 'informacion:ver_individuo' individuo_id=relacion.relacionado.id %}" target="_blank">
                                        {{relacion.relacionado}}
                                    </a>
                                </td>
                                <td>{{relacion.aclaracion}}</td>
                                <td>{{relacion.relacionado.situacion_actual}}</td>
                                <td>{{relacion.fecha}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'informacion:mod_relacion' individuo_id=individuo.id relacion_id=relacion.id %}">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    <a class="nolink"  href="{% url 'informacion:del_relacion' relacion_id=relacion.id %}">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                    </a>
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Seguimiento Registradas-->
                        {% for seguimiento in individuo.seguimientos.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Seguimiento Registrado:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Aclaracion</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{seguimiento.get_tipo_display}}</td>
                                <td>{{seguimiento.aclaracion}}</td>
                                <td>{{seguimiento.fecha}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'informacion:mod_seguimiento' individuo_id=individuo.id seguimiento_id=seguimiento.id %}">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    <a class="nolink"  href="{% url 'informacion:del_seguimiento' seguimiento_id=seguimiento.id %}">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                    </a>
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Traslados -->
                        {% for pasaje in individuo.pasajes.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Controles Vehiculares Registrados:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Vehiculo</th>
                                        <th>Aclaracion</th>
                                        <th>Ver Detalle</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{pasaje.traslado.fecha}}</td>
                                <td>{{pasaje.traslado.vehiculo}}</td>
                                <td>{{pasaje.traslado.aclaracion}}</td>
                                <td><a class="nolink" href="{% url 'informacion:ver_vehiculo' vehiculo_id=pasaje.traslado.vehiculo.id %}">Ver Vehiculo</a></li>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            <li><a href="{% url 'informacion:mod_individuo' individuo_id=individuo.id %}">Modificar Planilla General</a></li>
                            <hr>
                            <li><a href="{% url 'informacion:cargar_domicilio' individuo_id=individuo.id %}">Residencia Actual En La Provincia</a></li>
                            <li><a href="{% url 'informacion:cargar_geoposicion' domicilio_id=individuo.domicilio_actual.id %}">Asignar GeoPosicion</a></li>
                            <li><a href="{% url 'informacion:elegir_ubicacion' individuo_id=individuo.id %}">Trasladar Aislacion/Internacion</a></li>
                            <hr>
                            <li><a href="{% url 'informacion:cargar_signosvitales' individuo_id=individuo.id %}">Cargar Signos Vitales</a></li>
                            <li><a href="{% url 'informacion:cargar_documento' individuo_id=individuo.id %}">Cargar Documento</a></li>
                            <li><a href="{% url 'informacion:cargar_sintoma' individuo_id=individuo.id  %}">Cargar Sintomas</a></li>
                            <li><a href="{% url 'informacion:cargar_atributo' individuo_id=individuo.id %}">Cargar Atributo de Control</a></li>
                            <li><a href="{% url 'informacion:cargar_relacion' individuo_id=individuo.id %}">Cargar Relacion</a></li>
                            <li><a href="{% url 'informacion:cargar_seguimiento' individuo_id=individuo.id %}">Cargar Seguimiento</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}