{% extends 'base_informacion.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h2>Vehiculo: {{vehiculo.identificacion}}</h2>
                    <div class="col-md-8">
                        <h3><b>{{vehiculo.get_tipo_display}}</b></h3>
                        {% if vehiculo.empresa %}
                            <p>Empresa: {{vehiculo.empresa}}</p>
                        {% endif %}
                        <p><b>Conductor:</b> {{vehiculo.conductor}}</p>
                        <p><b>Aclaraciones:</b> {{vehiculo.plan|safe}}</p>
                        {% for traslado in vehiculo.traslados.all %}
                            <hr>
                            <h3><b>{{traslado.aclaracion}}</b>({{traslado.fecha}})</h3>
                            <a class="botoncito" href="{% url 'informacion:buscar_pasajero' traslado_id=traslado.id  %}">Cargar Pasajero</a>
                            <h4>Listado de Pasajeros:</h4>
                            <table class="listado">
                                <tr>
                                    <th>Documento</th>
                                    <th>Apellidos</th>
                                    <th>Nombres</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Nacionalidad</th>
                                    <th>Origen</th>
                                    <th>Destino</th>
                                    <th>Ver Individuo</th>
                                </tr>
                                {% for pasajero in traslado.pasajeros.all %}
                                    <tr>
                                        <td>{{pasajero.individuo.num_doc}}</td>
                                        <td>{{pasajero.individuo.apellidos}}</td>
                                        <td>{{pasajero.individuo.nombres}}</td>
                                        <td>{{pasajero.individuo.domicilio_actual}}</td>
                                        <td>{{pasajero.individuo.situacion_actual}}</td>
                                        <td>{{pasajero.individuo.fecha_nacimiento}}</td>
                                        <td>{{pasajero.individuo.nacionalidad}}</td>
                                        <td><a href="{% url 'informacion:ver_individuo' individuo_id=pasajero.individuo.id %}" target="_blank">(Ver Individuo)</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            <li><a href="{% url 'informacion:mod_vehiculo' vehiculo_id=vehiculo.id  %}">Modificar Vehiculo</a></li>
                            <li><a href="{% url 'informacion:cargar_traslado' vehiculo_id=vehiculo.id  %}">Agregar Traslado</a></li>
                            <li><a href="{% url 'informacion:menu' %}">Volver al Menu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}