{% extends 'base_informacion.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h2>Vehiculo: {{vehiculo.identificacion}}</h2>
                    <div class="col-md-8">
                        <h3>{{vehiculo.get_tipo_display}} {{vehiculo.empresa}}</h3>
                        <p><b>Aclaraciones:</b> {{vehiculo.plan|safe}}</p>
                        {% for control in vehiculo.controles.all %}
                            <hr>
                            <h3>Control: {{control.fecha}} - {{control.aclaracion}}</h3>
                            <a class="botoncito" href="{% url 'informacion:buscar_pasajero' control_id=control.id  %}">Cargar Pasajero</a>
                            <h4>Listado de Pasajeros:</h4>
                            <table class="listado">
                                <tr>
                                    <th>Documento</th>
                                    <th>Apellidos</th>
                                    <th>Nombres</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Nacionalidad</th>
                                    <th>Origen</th>
                                    <th>Destino</th>
                                    <th>Ver Individuo</th>
                                </tr>
                                {% for origen in control.origenes.all %}
                                    <tr>
                                        <td>{{origen.individuo.num_doc}}</td>
                                        <td>{{origen.individuo.apellidos}}</td>
                                        <td>{{origen.individuo.nombres}}</td>
                                        <td>{{origen.individuo.fecha_nacimiento}}</td>
                                        <td>{{origen.individuo.nacionalidad}}</td>
                                        <td>{{origen.individuo.origen}}</td>
                                        <td>{{origen.individuo.destino}}</td>
                                        <td><a href="{% url 'informacion:ver_individuo' individuo_id=origen.individuo.id %}" target="_blank">(Ver Individuo)</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            <li><a href="{% url 'informacion:mod_vehiculo' vehiculo_id=vehiculo.id  %}">Modificar Vehiculo</a></li>
                            <li><a href="{% url 'informacion:cargar_control' vehiculo_id=vehiculo.id  %}">Agregar Control</a></li>
                            <li><a href="{% url 'informacion:menu' %}">Volver al Menu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}