{% extends 'base_informacion.html' %}

{% load static %}
{% load seguridad_tags%}
{% load auditar_tags %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                                <a class="nolink" href="
                                    {% if individuo.fotografia %}
                                        {{individuo.get_foto}}
                                    {% else %}
                                        {% url 'informacion:cargar_fotografia' individuo_id=individuo.id %}
                                    {% endif %}
                                    ">
                                    <img class="fotografia" src="{{individuo.get_foto}}">
                                </a>
                            </div>
                            <div class="col-sm-5">
                                <h2><b>{{individuo.apellidos}}, {{individuo.nombres}}</b>
                                    <a class="nolink"  href="{% ct_auditar_obj_url individuo %}">
                                        <img class="icons" src="{% static '/img/icons/question.png' %}">
                                    </a>
                                    {% if individuo.es_camionero %}
                                        <a href="{% url 'permisos:ver_registros_individuo' individuo_id=individuo.pk %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/camion.png' %}" alt="Circulacion Temporal">
                                        </a>
                                    {% endif %}
                                </h2>
                                <!-- ESTADO -->
                                {% if individuo.situacion_actual %}
                                    <h4>Estado: <b>{{individuo.situacion_actual}}</b><br>
                                        ({{individuo.situacion_actual.fecha}})
                                        {% if perms.operadores.admin_informacion %}
                                            <a class="nolink" href="{% url 'informacion:cargar_situacion' individuo_id=individuo.id %}" target="_blank">
                                                <img class="icons" src="{% static '/img/icons/change.png' %}">
                                            </a>
                                        {% endif %}
                                        <a class="nolink"  href="javascript:PopUp(1);" ><img class="icons" src="{% static '/img/icons/history.png' %}"></a>
                                    </h4>
                                    {% include 'utils/historial_situaciones.html' %}
                                {% else %}
                                    <h4 class="alerta">EL INDIVIDUO NO REGISTRA ESTADO ACTUAL: 
                                        <a class="nolink" href="{% url 'informacion:cargar_situacion' individuo_id=individuo.id %}" target="_blank">
                                            CARGAR
                                        </a>
                                    </h4>
                                {% endif %}
                                {% if individuo.appdata %}
                                    <br>
                                    <h4><b>Autodiagnostico:</b> {{individuo.appdata.get_estado_display}} ({{individuo.appdata.fecha}})</h4>
                                {% endif %}
                            </div>
                            <div class="col-sm-5">

                                {% if individuo.operador %}
                                    <h4><b>Es Operador del COE</b>
                                        <a class="nolink" href="{% url 'operadores:ver_credencial' operador_id=individuo.operador.id %}">
                                            <img class="icons" src="/static/img/icons/access_card.png" alt="Ver Tarjeta">
                                        </a>
                                    </h4>
                                {% endif %}

                                {% if individuo.voluntariados.exists %}
                                    <div class="bordeado">
                                        <h4><b>Voluntario:</b></h4>
                                        <ul style="padding:0;">
                                            {% for inscripcion in individuo.voluntariados.all %}
                                                {% if inscripcion.tipo_inscripto == 'PS' %}
                                                    <a href="{% url 'inscripciones:ver_inscripto'  inscripcion_id=inscripcion.id num_doc=individuo.num_doc %}" target="_blank">
                                                        <li>{{inscripcion.get_profesion_display}}</li>
                                                    </a>
                                                {% elif inscripcion.tipo_inscripto == 'VS' %}
                                                    <a href="{% url 'inscripciones:ver_inscripto'  inscripcion_id=inscripcion.id num_doc=individuo.num_doc %}" target="_blank">
                                                        <li>{{inscripcion.oficio}}</li>
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                {% if individuo.vigiladores.exists %}
                                    <div class="bordeado">
                                        <br>
                                        <h4><b>Controlador Por:</b></h4>
                                        {% for vigia in individuo.vigiladores.all %}
                                            <p>
                                                <a href="{% url 'seguimiento:ver_panel' vigia_id=vigia.id %}" target="_blank">
                                                    {{vigia}} ({{vigia.get_tipo_display}})
                                                </a>
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        <hr>
                        <!-- DATOS PERSONALES -->
                        <div class="row">
                            <div class="col-sm-5">
                                <p>
                                    <b>Documento:</b> {{individuo.get_tipo_doc_display}} {{individuo.num_doc}}
                                    {% if perms.operadores.admin_informacion %}
                                        <a href="{% url 'informacion:mod_num_doc' individuo_id=individuo.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/change.png' %}" alt="Modificar">
                                        </a>
                                    {% endif %}
                                </p>
                                <p>Fecha de Nacimiento: {{individuo.fecha_nacimiento}}</p>
                                <p>Origen Internacional: {{individuo.origen_internacional}}</p>
                                <p>Origen Nacional: {{individuo.origen_nacional}}</p>
                                <p>Destino: {{individuo.destino}}</p>
                                <p>Nacionalidad: {{individuo.nacionalidad}}</p>
                            </div>
                            <div class="col-sm-5">
                                <h4><b>Contacto:</b></h4>
                                <p>
                                    Telefono: {{individuo.telefono}}
                                    <a href="{% url 'informacion:mod_telefono' individuo_id=individuo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}" alt="Modificar">
                                    </a>
                                </p>
                                <p>
                                    Email: {{individuo.email}}
                                    <a href="{% url 'informacion:mod_email' individuo_id=individuo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}" alt="Modificar">
                                    </a>
                                </p>
                                <!--Seguimiento-->
                                {% if individuo.tracking %}
                                    <p>
                                        <b>Ver Seguimiento:</b> 
                                        <a href="{% url 'geotracking:ver_tracking' individuo_id=individuo.id %}">
                                            Aqui.
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <h4><b>Ver Contactos</b></h4>
                                <a class="nolink"  href="{% url 'informacion:arbol_relaciones' individuo_id=individuo.id %}" target="_blank">
                                    <img class="iconsx4" src="{% static '/img/icons/relaciones.png' %}">
                                </a>
                            </div>
                        </div>
                        <hr>
                        {% if individuo.domicilios.exists %}
                            {% with individuo.domicilio_actual as domicilio %}
                                <p>
                                    <b>Residencia Actual:</b> {{domicilio.calle}} {{domicilio.numero}}, {{domicilio.localidad.nombre}} | {{domicilio.aclaracion}}
                                    <a class="nolink"  href="javascript:PopUp(2);" ><img class="icons" src="{% static '/img/icons/history.png' %}"></a>
                                    {% with individuo.geoposicion as last_geopos %}
                                        {% if last_geopos %}
                                            <a class="nolink"  href="https://www.google.com/maps?q={{last_geopos.latitud|stringformat:".5f"}},{{last_geopos.longitud|stringformat:".5f"}}" target="_blank">
                                                <img class="icons" src="{% static '/img/icons/map.png' %}">
                                            </a>
                                        {% endif %}
                                    {% endwith %}
                                </p>
                            {% endwith %}
                            {% include 'utils/historial_domicilios.html' %}
                        {% else %}
                            <h4 class="alerta">EL INDIVIDUO NO REGISTRA RESIDENCIA ACTUAL:
                                <a class="nolink"  href="{% url 'informacion:cargar_domicilio' individuo_id=individuo.id %}">
                                    CARGAR
                                </a>
                            </h4>
                        {% endif %}
                        
                        {{individuo.particularidades|safe}}

                        <!--Tabla de Atributos Registrados-->
                        {% for atributo in individuo.atributos.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Atributos Registrados:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Atributo</th>
                                        <th>Aclaracion</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{atributo.get_tipo_display}}</td>
                                <td>{{atributo.aclaracion}}</td>
                                <td>{{atributo.fecha}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'informacion:mod_atributo' individuo_id=individuo.id atributo_id=atributo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    {% if perms.operadores.admin_informacion %}
                                        <a class="nolink"  href="{% url 'informacion:del_atributo' atributo_id=atributo.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Signos Vitales-->
                        {% for signovitale in individuo.signos_vitales.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Signos Vitales:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tension</th>
                                        <th>Frec Card</th>
                                        <th>Frec Resp</th>
                                        <th>Temp</th>
                                        <th>Sat O2</th>
                                        <th>Glucosa</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{signovitale.fecha}}</td>
                                <td>{{signovitale.tension_diastolica}}/{{signovitale.tension_sistolica}}</td>
                                <td>{{signovitale.frec_cardiaca}}'</td>
                                <td>{{signovitale.frec_respiratoria}}'</td>
                                <td>{{signovitale.temperatura}}°C</td>
                                <td>{{signovitale.sat_oxigeno}}%</td>
                                <td>{{signovitale.glucemia}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'informacion:mod_signosvitales' individuo_id=individuo.id signosvitales_id=signovitale.id %}">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    {% if perms.operadores.admin_informacion %}
                                        <a class="nolink"  href="{% url 'informacion:del_signosvitales' signosvitales_id=signovitale.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Sintomas Registrados-->
                        {% for sintoma in individuo.sintomas.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Sintomas:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Sintoma</th>
                                        <th>Aclaracion</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{sintoma.get_tipo_display}}</td>
                                <td>{{sintoma.aclaracion}}</td>
                                <td>{{sintoma.fecha}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'informacion:mod_sintoma' individuo_id=individuo.id sintoma_id=sintoma.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    {% if perms.operadores.admin_informacion %}
                                        <a class="nolink"  href="{% url 'informacion:del_sintoma' sintoma_id=sintoma.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Patologias Registradas-->
                        {% for patologia in individuo.patologias.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Patologias Registradas:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Patologia</th>
                                        <th>Aclaracion</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{patologia.get_tipo_display}}</td>
                                <td>{{patologia.aclaracion}}</td>
                                <td>{{patologia.fecha}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'informacion:mod_patologia' individuo_id=individuo.id patologia_id=patologia.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    {% if perms.operadores.admin_informacion %}
                                        <a class="nolink"  href="{% url 'informacion:del_patologia' patologia_id=patologia.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Relaciones Registradas-->
                        {% for relacion in individuo.relaciones.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Relaciones Registradas:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Individuo</th>
                                        <th>Telefono</th>
                                        <th>Aclaracion</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{relacion.get_tipo_display}}</td>
                                <td>
                                    <a href="{% url 'informacion:ver_individuo' individuo_id=relacion.relacionado.id %}" target="_blank">
                                        {{relacion.relacionado}}
                                    </a>
                                </td>
                                <td>
                                    {{relacion.relacionado.telefono}}
                                    <a href="{% url 'informacion:mod_telefono' individuo_id=relacion.relacionado.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}" alt="Modificar">
                                    </a>
                                </td>
                                <td>{{relacion.aclaracion}}</td>
                                <td>
                                    <b>{{relacion.relacionado.situacion_actual}}</b><br>
                                    {{relacion.relacionado.situacion_actual.aclaracion|safe}}
                                </td>
                                <td>{{relacion.fecha}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'informacion:mod_relacion' individuo_id=individuo.id relacion_id=relacion.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    <a class="nolink"  href="{% url 'informacion:del_relacion' relacion_id=relacion.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                    </a>
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Documentos-->
                        {% for documento in individuo.documentos.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Documentos Subidos:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Fecha</th>
                                        <th>Aclaracion</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{documento.get_tipo_display}}</td>
                                <td>{{documento.fecha}}</td>
                                <td>{{documento.aclaracion}}</td>
                                <td>
                                    {% if documento.archivo %}
                                        <a class="nolink"  href="{{documento.archivo.url}}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                        </a>
                                    {% endif %}
                                    <a class="nolink"  href="{% url 'informacion:mod_documento' individuo_id=individuo.id documento_id=documento.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    {% if perms.operadores.admin_informacion %}
                                        <a class="nolink"  href="{% url 'informacion:del_documento' documento_id=documento.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Seguimiento Registradas-->
                        {% for seguimiento in individuo.seguimientos.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Seguimiento Registrado:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Aclaracion</th>
                                        <th>Fecha</th>
                                        <th>Operador</th>
                                        <th>Acciones</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{seguimiento.get_tipo_display}}</td>
                                <td>{{seguimiento.aclaracion|safe}}</td>
                                <td>{{seguimiento.fecha}}</td>
                                <td>{{seguimiento.operador}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'seguimiento:mod_seguimiento' individuo_id=individuo.id seguimiento_id=seguimiento.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}">
                                    </a>
                                    {% if perms.operadores.admin_informacion %}
                                        <a class="nolink"  href="{% url 'seguimiento:del_seguimiento' seguimiento_id=seguimiento.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                        <!--Tabla de Traslados -->
                        {% for traslado in individuo.traslados.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Controles Vehiculares Registrados:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Vehiculo</th>
                                        <th>Aclaracion</th>
                                        <th>Ver Detalle</th>
                                    </tr>
                            {% endif %}
                            <tr>
                                <td>{{traslado.fecha}}</td>
                                <td>{{traslado.vehiculo}}</td>
                                <td>{{traslado.aclaracion}}</td>
                                <td><a class="nolink" href="{% url 'informacion:ver_vehiculo' vehiculo_id=traslado.vehiculo.id %}">Ver Vehiculo</a></li>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            <li><a href="{% url 'informacion:mod_individuo' individuo_id=individuo.id num_doc=individuo.num_doc %}">Modificar Planilla General</a></li>
                            <hr>
                            <li><a href="{% url 'informacion:cargar_domicilio' individuo_id=individuo.id %}">Cargar Domicilio</a></li>
                            <li><a href="{% url 'informacion:cargar_geoposicion' individuo_id=individuo.id %}" >Asignar GeoPosicion</a></li>
                            <li><a href="{% url 'informacion:elegir_ubicacion' individuo_id=individuo.id %}">Trasladar Aislacion/Internacion</a></li>
                            <hr>
                            <li><a href="{% url 'informacion:cargar_signosvitales' individuo_id=individuo.id %}" target="_blank">Cargar Signos Vitales</a></li>
                            <li><a href="{% url 'informacion:cargar_documento' individuo_id=individuo.id %}" target="_blank">Cargar Documento</a></li>
                            <li><a href="{% url 'informacion:cargar_sintoma' individuo_id=individuo.id  %}" target="_blank">Cargar Sintomas</a></li>
                            <li><a href="{% url 'informacion:cargar_atributo' individuo_id=individuo.id %}" target="_blank">Cargar Atributo</a></li>
                            <li><a href="{% url 'informacion:cargar_patologia' individuo_id=individuo.id %}" target="_blank">Cargar Patologia</a></li>
                            <li><a href="{% url 'informacion:cargar_relacion' individuo_id=individuo.id %}" target="_blank">Cargar Relacion</a></li>
                            <li><a href="{% url 'seguimiento:cargar_seguimiento' individuo_id=individuo.id %}" target="_blank">Cargar Seguimiento</a></li>
                            {% if perms.operadores.seguimiento_admin %}
                                {% if individuo.aislado or individuo.vigiladores.exists %}
                                    <li><a href="{% url 'seguimiento:dar_alta' individuo_id=individuo.id %}" target="_blank">Dar Alta Seguimiento</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}