{% extends 'base_informacion.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <br>
                    <h2>Individuo: {{individuo.apellidos}}, {{individuo.nombres}}</h2>
                    <div class="col-md-8">
                        <p>Documento: {{individuo.get_tipo_doc_display}} {{individuo.num_doc}}</p>
                        <p>Fecha de Nacimiento: {{individuo.fecha_nacimiento}}</p>
                        <p>Telefono: {{individuo.telefono}}</p>
                        <p>Email: {{individuo.email}}</p>
                        <p>Nacionalidad: {{individuo.nacionalidad}}</p>
                        {% if individuo.domicilio %}
                            <p>Domicilio: {{individuo.domicilio.calle}} {{individuo.domicilio.numero}}, {{individuo.domicilio.barrio}} - {{individuo.domicilio.localidad}}</p>
                        {% endif %}
                        <p>Origen: {{individuo.origen}} - Destino:{{individuo.destino}}</p>
                        <hr>
                        {{individuo.particularidades|safe}}

                        <!--Tabla de Sintomas Registrados-->
                        {% for sintoma in individuo.sintomas.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Sintomas:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Sintoma</th>
                                        <th>Importancia</th>
                                        <th>Aclaracion</th>
                                    </tr>
                            {% endif %}

                            <tr>
                                <td>{{sintoma.fecha}}</td>
                                <td>{{sintoma.tipo.nombre}}</td>
                                <td>{{sintoma.tipo.get_importancia_display}}</td>
                                <td>{{sintoma.aclaracion}}</td>
                            </tr>
                            
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}
                        <!--Tabla de Sintomas Registrados-->
                        {% for atributo in individuo.atributos.all %}
                            {% if forloop.first %}
                                <hr>
                                <h3>Atributos Registrados:</h3>
                                <table class="listado">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Atributo</th>
                                        <th>Importancia</th>
                                        <th>Aclaracion</th>
                                    </tr>
                            {% endif %}

                            <tr>
                                <td>{{atributo.fecha}}</td>
                                <td>{{atributo.tipo.nombre}}</td>
                                <td>{{atributo.tipo.get_importancia_display}}</td>
                                <td>{{atributo.aclaracion}}</td>
                            </tr>
                            
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="col-md-4">
                        {% include 'users/info_user.html' %}
                        <ul class="menu_botones">
                            {% if individuo.origenes %}
                                {% for origen in individuo.origenes.all %}
                                    <li><a href="{% url 'informacion:ver_vehiculo' vehiculo_id=origen.vehiculo.id %}">Volver al Vehiculos {{origen.vehiculo}}</a></li>
                                {% endfor %}
                            {% endif %}
                            <li><a href="{% url 'informacion:mod_individuo' individuo_id=individuo.id %}">Modificar Datos Basicos</a></li>
                            <li><a href="{% url 'informacion:cargar_domicilio' individuo_id=individuo.id %}">Residencia Actual En La Provincia</a></li>
                            <li><a href="{% url 'informacion:cargar_atributo' individuo_id=individuo.id %}">Cargar Atributo de Control</a></li>
                            <li><a href="{% url 'informacion:cargar_sintoma' individuo_id=individuo.id  %}">Cargar Sintomas</a></li>
                            <li><a href="{% url 'informacion:listar_individuos' %}">Volver al Listado de Individuos</a></li>
                            <li><a href="{% url 'informacion:listar_vehiculos' %}">Volver al Listado de Vehiculos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}