{% extends 'base_informacion.html' %}
{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <div class="col-md-8">
                        <h2><b>{{archivo.get_tipo_display}} - {{archivo.nombre}}</b></h2>
                        <p><b>Fecha de Recibido:</b> {{archivo.fecha}}</p>
                        <p><b>Usuario Emisor:</b> {{archivo.operador}}</p>
                        <p><b>Procesado:</b> {{archivo.procesado}}</p>
                        <hr>          
                        <img src="{{archivo.archivo.url}}">

                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            <li><a href="{{archivo.archivo.url}}">Descargar</a></li>
                            <li><a href="{% url 'informacion:subir_archivos'  %}">Subir otro Archivos</a></li>
                            <li>
                                <a href="{% url 'informacion:procesar_archivos' archivo_id=archivo.id  %}">
                                    {% if not archivo.procesado %}
                                        Marcar como Procesado
                                    {% else %}
                                        Quitar Procesado
                                    {% endif %}
                                </a>
                            </li>
                            <li><a href="{% url 'informacion:archivos_pendientes' %}">Volver al Listado de Pendientes</a></li>
                        </ul>
                        <hr>
                        {% include 'users/info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}