/* Reportes */

.filter_name {
    font-weight: bold;
}

button {
    float: right;
    margin: 15px;
}

ul, li {
    list-style-type: none;
}

.history {
    font-size: 0.5em;
}

img.fotografia {
    width: 120px;
    border-radius: 25px;
}