/*Noticia especifica*/
body {
    background-color: white;
}

.main_noticias {
    margin: 0;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
}


.noticia {
    width: 100%;
    display: inline-block;
    text-align: justify!important;
    padding-top: 30px;
    background: #fff;
    box-shadow: 0px 0px 20px #0000001f;
}

.fecha {
    color: grey;
    float: right;
}

.noticia h1 {
    text-align: left;
    background-color: #ffffff;
    color: var(--color_primario);
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    margin-left: 15%;
    font-family: FivoSansModern-Bold;
}

.noticia img {
    width: 100%;
}

.noticia .epigrafe {
    width: 100%;
    background-color: var(--color_primario);
    color: white;
    font-family: UniversLTStd-Regular;
}

.noticia p {
    font-size: 0.95em;
    color: black;
    text-align: justify;
    display: inline-block;
    font-family: UniversLTStd-Regular;
}

.noticias .info {
    text-align: left;
    float: right;
    width: 100%;
    padding: 20px 30px;
    position: relative;
}


.noticias .info a {
    display: contents;
}

a.nolink,
a.nolink:focus,
a.nolink:hover {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

hr {
    margin-top: 0px;
    margin-bottom: 5px;
}

/* Etiquetas */

.etiquetas 
{
    font-size: 1.2em;
}

.etiqueta {
    color: var(--color_primario);
    list-style-type: none!important;
    font-size: 1.2em;
    font-family: Roboto;
}

.etiqueta a {
    color: var(--color_primario);
}

.etiqueta:last-child span{
    display: none;
}

/*Buscador */
.buscador-noticias form {
    display: flex;
}

.icons {
    width: 35px!important;
}