/* Carousel */
.main_noticias {
    margin: 0;
    width: 100%;
    background-image: none;
}

.carousel-noticias {
    width: 100%;
    margin: 0 auto;
}

.carousel-inner {

}

.carousel-inner .item {
    height: 100%;
}

.carousel-titulo {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(0, 0, 0, 0.34);
    padding: 12px 25px;
    border-radius: 5px;
}

.carousel-titulo h1 {
    font-weight: bold;
    color: white;
    display: inline;
    font-size: 1.5em;
    font-family: Montserrat;
}

.carousel-cuerpo {
    position: absolute;
    width: 55%;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    padding: 20px;
}

.carousel-cuerpo p {
    display: inline;
    padding: 0.5em;
    text-align: justify;
    color: #000;
    font-size: 1.2em;
    font-family: Roboto;
}

.carousel-img {
    width: 80%;
}

.carousel-control {
    background-image: initial !important;
}

.carousel-indicators {
    color: black;
    margin-left: -70%;
}

/* Listado de Noticias */
.noticias h1 {
    background-color: #ffffff;
    color: var(--color_primario);
    font-size: 2em;
    margin-left: 20px;
    font-family: Roboto;
}

.lista-noticias {
    padding-left: 5%;
    align-content: center;
}

.noticias li.noticia {
    list-style-type: none;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    height: 20em;
    background: white;
    box-shadow: 0px 0px 10px #0000001f;
    border-radius: 5px;
    max-width: 95%;
    margin: auto;
    display: block;
}

.noticias h2 {
    margin-top: 0px;    
    font-family: Montserrat;
    font-size: 1.5em;
}

.noticias .foto {
    float: left;
    padding: 0px;
}

.noticias .foto img {
    width: 100%;
}

.noticias .info {
    text-align: left;
    float: right;
    width: 60%;
    padding: 20px 30px;
    position: relative;
}

.noticias .info .novedad-link
{
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.noticias .contenido {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    background: #b18d73;
    padding-bottom: 5px;
    height: 15em;
    font-size: 0.9em;
    color: white;
}

/*Noticia especifica*/
.noticia {
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
}

.noticia .noticia-cuerpo {
    text-align: justify;
    display: inline-block;
}

.noticia .foto {
    min-width: 40%;
    max-width: 40%;
    float: left;
}

.noticia .foto img {
    max-width: 100%;
}

.noticia .epigrafe {
    text-align: center;
    color: gray;
    font-family: Roboto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.noticia .info {
    width: 60%;
    float: right;
}

.noticia-single strong{
    font-size: 1.2em;
    margin-top: 1.4em;
    margin-bottom: -25px;
}

.noticia-single.noticia
{
    
    margin: auto;
    display: block;
}

.noticia-single .noticia .info
{
    width: 100%;
}

.noticia-single .buscador-noticias{
    position: relative;
    top: 40px;
    left: 20px;
}

.noticia-single .noticia img {
    max-width: 700px;
    margin: auto;
    display: block;
}

.noticia .info>p {
    text-align: justify;
    font-size: 11pt;
    font-family: Roboto;
    display: flex;
}

.noticias .noticia .info>p {
    color: #888;
}

.noticia .leer-mas
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.noticia .leer-mas .novedad-link
{
    color: #54884a;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1em;
    background: #fafafa;
    padding: 5px 10px;
    border-radius: 5px;
}

.noticia .leer-mas .novedad-link:hover
{
    background-color: #54884a;
    color: white;
    text-decoration: none;
}

.noticia .buscador-noticias ul
{
    float: left;
}

.noticia .etiquetas
{
    font-family: Roboto;
    margin-top: 16px;
    display: block;
}

.noticia .buscador-noticias ul li
{
    display: block;
}

.noticia .foto-noticia
{
    width: 50%;
    display: flex;
    float: left;
    flex-direction: column;
    margin-right: 20px;
    position: relative;
}

.noticia .foto-noticia .fecha
{
    position: absolute;
    background: #00000073;
    color: #fff;
    padding: 5px 20px;
    font-family: Roboto;
    font-size: 1.1em;
    right: 0px;    
}

/* Etiquetas */
.etiqueta {
    color: var(--color_primario);
    list-style-type:none;
    display: inline;
    font-size: 1.2em;
    font-family: Roboto;
}

.etiqueta a {
    color: var(--color_primario);
}

.etiqueta:last-child span{
    display: none;
}

p.etiquetas
{
    display: inline;
    font-size: 1.2em;
    font-family: Roboto;
    font-weight: bold;
}

/* imagenes zoom*/
.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.buscador-noticias form
{
    float: right;
    font-size: 1.2em;
}

.buscador-noticias button{
    color: white;
    background: #54884a;
    border: none;
    padding: 3px 15px;
    border-radius: 3px;
    font-family: Roboto;
}

.buscador-noticias input[name="search"]
{
    border-color: #00000038;
    border-radius: 3px;
    font-family: Roboto;
    font-weight: bold;
}

.buscador-noticias ul
{
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 35px;
}