/* DEFINICIONES PANTALLA */
@media (min-width: 1024px) {
    .main-items .item.height2 .image {
        height: 410px;
    }
    .main-items .item.height2:hover .image {
        height: 350px;
    }
    .main-items .item.height2 {
        height: 550px;
    }
    .portada {
        height: auto;
    }
    .portada img {
        display: none;
    }
    .portada>.mobile {
        display: block;
        text-align: center;
    }
    .portada>.mobile img {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    .mobile-only {
        display:none!important;
    }
}

@media (max-width: 1023px) {
    #slider-container {
        background-position-y: 0;
        height: 350px;
    }
    #slider-overlay {
        height: 350px;
    }
    #logo-container img.logo {
        position: relative;
        top: -70px;
        width: 150px;
    }
    ul.nav li a {
        padding-right: 6px;
        padding-left: 6px;
    }
    .mobile-only {
        display: block;
    }

    .page-wrapper {
      width: 100%;
    }

    #slider-container {
        background-size: cover !important;
    }
    .main-items .item.height2 {
        height: 650px;
    }
    .main-items .item.height2 .image {
        height: 500px;
    }
    .main-items .item.height2:hover .image {
        height: 500px;
    }
    .main-items .item.height2 .content p {
        opacity: 1;
    }

    .navbar-collapse.collapse.in.mobile-only,
    .navbar-collapse.collapse.collapsing.mobile-only {
        display: block !important;
    }

    .main-items .item.height2 .image {
        background-position-y: -200px !important;
    }
}