.checkbox_table td {
    padding-left: 5px;
}

.vigia_activo {
    background-color: rgb(53, 190, 26);
    border-color: rgb(19, 126, 5);
    border: solid 5px;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.vigia_inactivo {
    background-color: rgb(202, 79, 30);
    border-color: rgb(238, 8, 0);
    border: solid 5px;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}