{% extends 'base_informacion.html' %}

{% load static %}
{% load geotracking %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Individuos Registrados</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Individuo</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Ubicacion Actual</th>
                        <th>Situacion</th>
                        <th>Ultima Posicion Enviada</th>
                        <th>Ultima Alerta</ht>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for individuo in individuos %}
                        {% with individuo.ultima_alerta as ultima_alerta %}
                            <tr class="{% ct_color_alerta ultima_alerta.alerta %}">
                                <td>{{individuo.get_tipo_doc_display}} {{individuo.num_doc}}</td>
                                <td>{{individuo.apellidos}}, {{individuo.nombres}}</td>
                                <td>{{individuo.fecha_nacimiento}}</td>
                                <td>{{individuo.domicilio_actual}}</td>
                                <td>{{individuo.situacion_actual}}</td>
                                <td>
                                    {% with individuo.geoposicion as last_posicion %}
                                        {{last_posicion.fecha|date:"d/m H:i"}}
                                    {% endwith %}
                                </td>
                                <td>{{ultima_alerta.fecha|date:"d/m H:i"}}: {{ultima_alerta.get_alerta_display}}</td>
                                <td>
                                    <a href="{% url 'geotracking:ver_tracking' individuo_id=individuo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/tracking.png' %}">
                                    </a>
                                    <a href="{% url 'geotracking:config_tracking' individuo_id=individuo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/config.png' %}">
                                    </a>
                                    <a href="{% url 'informacion:ver_individuo' individuo_id=individuo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                    <a href="{% url 'geotracking:asignar_geoperador' individuo_id=individuo.id %}">
                                        <img class="icons" src="{% static '/img/icons/detective.svg' %}" alt="Asignar Trackeador">
                                    </a>
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}