{% extends 'base_informacion.html' %}

{% load static %}

{% block custom_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="min-height: 800px; margin-top: 20px;">
       <!-- Main content -->
        <section>
            <div class="row">
					<div class="col-sm-12 col-md-6" style="min-height: 80vh;">
                        <h4>
                            <span>{{individuo.apellidos}} {{individuo.nombres}}</span> 
                        </h4>
                        <div id="minimap" style="height: 70vh;">
                        </div>
					</div>
					<div class="col-sm-12 col-md-6">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#posiciones_geotracking" aria-controls="posiciones_geotracking" role="tab" data-toggle="tab">Listado Geoposiciones</a></li>
                        <li role="presentation"><a href="#info_persona" aria-controls="info_persona" role="tab" data-toggle="tab">Informacion de la Persona</a></li>
                        <li role="presentation"><a href="#parametros" aria-controls="parametros" role="tab" data-toggle="tab">Parametros</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active table-responsive" id="posiciones_geotracking">
                            <table class="table table-striped table-bordered table-condensed dataTable no-footer" id="tablaAlertas" style="width: 99%;">
                                <!-- Info cargada por script -->
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="info_persona">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Informacion Basica
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="row panel-body">
                                            <div class="col-sm-8">
                                                <p>Apellido(s): {{individuo.apellidos}}</p>
                                                <p>Nombre(s): {{individuo.nombres}}</p>
                                                <p>Documento: {{individuo.num_doc}}</p>
                                                <p>Domicilio: {{individuo.domicilio_actual}}</p>
                                                <p>Telefono: {{individuo.telefono}}</p>
                                                <p>Situacion: {{individuo.get_situacion}}</p>
                                                <a href="#" class="btn btn-default btn-marker">
                                                    Mostrar Punto Base
                                                </a>
                                            </div>
                                            <div class="col-sm-4">
                                                <img class="fotos" src="{{mapeador.fotografia}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Imagenes Dni:
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <img src="{{mapeador.dni_frente}}" class="fotos">
                                            <img src="{{mapeador.dni_reverso}}" class="fotos">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active table-responsive" id="parametros">
                            <h4>
                                <b>Parametros:</b>
                                <a href="{% url 'geotracking:config_tracking' individuo_id=individuo.id %}" target="_blank">
                                    <img class="icons" src="{% static '/img/icons/config.png' %}">
                                </a>
                            </h4>
                            <p><b>Intervalo:</b> {{mapeador.parametros.intervalo}} minutos</p>
                            <p><b>Distancia de Alerta:</b> {{mapeador.parametros.distancia_alerta}}mts</p>
                            <p><b>Distancia Critica:</b> {{mapeador.parametros.distancia_critica}}mts</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}

{% block custom_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjRgLoGbbsT98rbPveyxjLPdSOvYCUH_8&libraries=places" async defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

    <script type="text/javascript">
        var $minimap;
        var $tblAlertas;
        var defaultLatLng;

        var JSONData;

        JSONData = {{mapeador.create_dict|safe}}

        $(document).ready(function() {  
            setTimeout(() => {  
                cargarJSON(JSONData, iniciarGmap); 
            }, 500);
        });



        $(document).on('click', '[btn-marker]', function(event) {
            event.preventDefault;
            var $tr = $(this).closest('tr');
            var row = $tblAlertas.row($tr);
            var rowData = row.data();
            var marker = $minimap.markers[rowData.rowId];

            animateMarker(marker);
        });

        function cargarJSON(serverData, gmapsCallback) {
            JSONData = serverData;
            gmapsCallback();
            $tblAlertas = $('#tablaAlertas').DataTable({
                data: JSONData.geoposiciones,
                searching: false,
                paging: false,
                scrollY: '65vh',
                scrollX: false,
                scrollCollapse: true,
                buttons: [],
                order: [ 1, 'desc' ], 
                columns: [
                    {
                        data: null,
                        orderable: false,
                        render: function (data, type, row) {
                            var $link;
                            $link = `<a href="javascript:void(0)" title="Ver Punto" btn-marker=""><img src="http://coe.jujuy.gob.ar/static/${row.icono}" alt="sin imagen"></a>`;
                            return $link;
                        }
                    },
                    {
                        title: "FECHA Y HORA",
                        data: 'fecha',
                        render: function(data, type, row) {
                            var texto;
                            var fecha = row.fecha.split('-').reverse().join('/');
                            texto =  fecha + ` ${row.hora}`;
                            return texto;
                        }
                    },
                    {
                        title: "REPORTE DISTANCIA",
                        render: function(data, type, row) {
                            var texto;
                            texto =  `<span class="label label-primary">${row.tipo}</span><br><b>${row.distancia}m. de base</b>`;
                            return texto;
                        },
                    },

                    {
                        title: "PROCESADA",
                        render: function(data, type, row) {
                            var texto;
                            texto =  (row.procesada) ? `${row.aclaracion} ${row.operador}` : 'SIN PROCESAR';
                            return texto;
                        },
                    },
                ],
                createdRow: function (row, data, dataIndex) {
                    //una vez creada la fila crear el icono en el mapa
                    data.rowId = dataIndex;
                    data.fecha_dmy = data.fecha.split('-').reverse().join('/');
                    $(row).attr('id' , 'tr' + dataIndex);
                    var marker = addMarker(data);
                    $minimap.markers.push(marker);
                },

            } );
        }

        /* Funciones googlemaps */
        function iniciarGmap() {
            var minimapDiv = document.getElementById('minimap');
            var circuloVerde;
            var circuloAmarillo;
            var zoom;

            zoom = 16;
            defaultLatLng = new google.maps.LatLng(JSONData.base_latitud, JSONData.base_longitud);

            var opcionesMapa = {
                zoom: zoom,
                center: defaultLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: [{
                        "featureType": "poi",
                        "stylers": [{ "visibility": "off" }]
                    },
                    {
                        "featureType": "poi.park",
                        "stylers": [{ "visibility": "simplified" }]
                    }
                ]
            };

            $minimap = new google.maps.Map(minimapDiv, opcionesMapa);
            $minimap.markers = [];

            if (JSONData.punto_base){
                circuloVerde = new google.maps.Circle({
                    center: defaultLatLng,
                    radius: JSONData.radio1/2,
                    strokeColor: '#a5ff33',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#a5ff33',
                    fillOpacity: 0.5,
                    editable: false
                });

                circuloAmarillo = new google.maps.Circle({
                    center: defaultLatLng,
                    radius: JSONData.radio2/2,
                    strokeColor: '#ff0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#ffe983',
                    fillOpacity: 0.3,
                    editable: false
                });

                circuloAmarillo.setMap($minimap);
                circuloVerde.setMap($minimap);
            }

        }

        function addMarker(data) {
            var marker;

            marker = new google.maps.Marker({
                map: $minimap,
                position: new google.maps.LatLng(data.latitud, data.longitud),
                draggable: false,
                icon: "http://coe.jujuy.gob.ar/static" + data.icono,
                animation: google.maps.Animation.DROP,
                title: 'Lat. ' + data.latitud + ' / Long. ' + data.longitud,
                data: data
                });

            var contentString = `<h4 class="text-bold"><img src="http://coe.jujuy.gob.ar/static${data.icono}"> ${data.tipo}</h4>
                <div>
                    <p class="text-center">
                        ${data.tipo} ${data.distancia}m. de base
                    </p>
                    <p class="text-center">
                        <b>${data.fecha_dmy} ${data.hora}</b><br>
                        <a href="/geotracking/cambiar_base/${JSONData.id}" class="text-center" title="Cambiar Punto Base"><img src="http://coe.jujuy.gob.ar/static/img/icons/house.png" height="16px"></a>
                    </p>
                </div>`;

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            marker.addListener('click', function() {
                infowindow.open(minimap, marker);
                animateMarker(marker);
            });
                
            return marker;
        }

        function animateMarker(mrk) {
            var rowId = '#tr' + mrk.data.rowId;
            if (mrk.getAnimation() !== null) {
                mrk.setAnimation(null);
            } else {
                mrk.setAnimation(google.maps.Animation.BOUNCE);
            }
            mrk.setZIndex(100000);
            $minimap.panTo(mrk.position);
            $(rowId).toggleClass('selected');
        }
        /* fin Funciones googlemaps */

    </script>
{% endblock %}
