{% extends 'base_informacion.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu GeoTracking:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.individuos %}
                                {% if es_geoperador %}
                                    <li><a href="{% url 'geotracking:panel_geoperador' %}">Ver Mi Panel de Control</a></li>
                                    <hr>
                                {% endif %}
                                <li><a href="{% url 'geotracking:control_tracking' %}">Sistema de Control GeoPosicional General</a></li>
                                <li><a href="{% url 'geotracking:lista_geooperadores' %}">Listado de GeOperadores Habilitados</a></li>
                                <hr>
                                <li><a href="{% url 'geotracking:lista_sin_geoperador' %}">Listado de Individuos Sin GeOperador</a></li>
                                <li><a href="{% url 'geotracking:lista_alertas' %}">Listado de Alertas Activas</a></li>
                                <li><a href="{% url 'geotracking:lista_trackeados' %}">Listado de Individuos Bajo Seguimiento</a></li>
                                <hr>
                                <li><a href="{% url 'geotracking:alertas_procesadas' %}">Listado de Alertas Procesadas</a></li>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <h3>Uso Bajo Supervision:</h3>
                                <li><a href="{% url 'admin:index' %}">Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'users/info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}