{% extends 'base_informacion.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Panel de {{geoperador}}</b></h2>
            <div class="col-md-8">
                <h3>Alertas Activas ({{geoperador.alertas_activas}})</h3>
                <table class="listado" id="table">
                    <thead>
                        <tr>
                            <th>Tipo de Alerta</th>
                            <th>Individuo</th>
                            <th>Situacion</th>
                            <th>Domicilio</th>
                            <th>Telefono</th>
                            <th>Fecha y Hora</th>
                            <th>Distancia</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alerta in alertas %}
                            {% include 'linea_alerta.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h3>
                    Individuos Controlados ({{geoperador.cantidad_controlados}})
                    <a href="{% url 'geotracking:auditar_asignaciones' geoperador_id=geoperador.id %}" target="_blank">
                        <img class="icons" src="{% static '/img/icons/history.png' %}">
                    </a>
                </h3>
                {% if perms.operadores.geotracking_admin %}
                    <a class="botoncito" href="{% url 'geotracking:agregar_individuo' geoperador_id=geoperador.id %}">
                        Asignar Nuevo Individuo
                        <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                    </a>
                {% endif %}
                <table class="listado">
                    <thead>
                        <tr>
                            <th>Individuo</th>
                            <th>Telefono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for individuo in geoperador.controlados.all %}
                            <tr>
                                <td>{{individuo}}</td>
                                <td>{{individuo.telefono}}</td>
                                <td>
                                    <a class="nolink"  href="{% url 'geotracking:ver_tracking' individuo_id=individuo.id %}" target="_blank">
                                        <img class="icons" src="{% static '/img/icons/tracking.png' %}">
                                    </a>
                                    {% if perms.operadores.individuos %}
                                        <a class="nolink"  href="{% url 'informacion:ver_individuo' individuo_id=individuo.id %}" target="_blank">
                                            <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                        </a>
                                    {% endif %}
                                    {% if perms.operadores.geotracking_admin %}
                                        <a class="nolink"  href="{% url 'geotracking:quitar_individuo' geoperador_id=geoperador.id individuo_id=individuo.id %}">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
{% endblock %}