{% extends 'base/base.html' %}

{% block custom_head %}
	<meta name="description" content="">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
	<div class="content-wrapper" style="min-height: 800px; margin-top: 20px;">
		<!-- Main content -->
		<section>
			<div class="row">
				<div id="minimap" class="col-xs-6" style="min-height: 80vh;">
					<h3 class="text-center" style="padding-top: 150px; color: #bebebe">SI NO PUEDE VER EL MAPA EN ESTE CONTENEDOR <br>PRESIONE F5 PARA RECARGAR LA PAGINA O VERIFIQUE SU CONEXION A INTERNET</h3>
				</div>
				<div table-detail="" class="col-xs-6 table-responsive">
					<table class="table table-striped table-bordered table-condensed" id="tablaAlertas" style="width: 99%;">
					</table>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
{% endblock %}

{% block custom_script %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjRgLoGbbsT98rbPveyxjLPdSOvYCUH_8&libraries=places" async defer></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	
	<script>
		var $minimap;
		var $tblAlertas; //dataTable
		var JSONData = [
			[
					-24.17833,
					-65.34928,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 14:49<br><a href='/geotracking/cambiar_base/5143'><img class='icons' src='/static/img/icons/house.png'></a>",
					"house.png",
				],
				[
					-24.17853,
					-65.34928,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 14:39<br><a href='/geotracking/cambiar_base/5133'><img class='icons' src='/static/img/icons/house.png'></a>",
					"steps.png",
				],
				[
					-24.17899,
					-65.34942,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 14:29<br><a href='/geotracking/cambiar_base/5125'><img class='icons' src='/static/img/icons/house.png'></a>",
					"steps.png",
				],
				[
					-24.17823,
					-65.34921,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 13:54<br><a href='/geotracking/cambiar_base/5095'><img class='icons' src='/static/img/icons/house.png'></a>",
					"steps.png",
				],
				[
					-24.17840,
					-65.34925,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 13:43<br><a href='/geotracking/cambiar_base/5088'><img class='icons' src='/static/img/icons/house.png'></a>",
					"steps.png",
				],
				[
		
					-24.17843,
					-65.34958,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 13:30<br><a href='/geotracking/cambiar_base/5075'><img class='icons' src='/static/img/icons/house.png'></a>",
					"steps.png",
				],
				[
					-24.17863,
					-65.34978,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 13:19<br><a href='/geotracking/cambiar_base/5066'><img class='icons' src='/static/img/icons/house.png'></a>",
					"steps.png",
				],
				[
					-24.17853,
					-65.34988,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 13:09<br><a href='/geotracking/cambiar_base/5055'><img class='icons' src='/static/img/icons/house.png'></a>",
					"steps.png",
				],
				[
					-24.17850,
					-65.34930,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 12:57<br><a href='/geotracking/cambiar_base/5040'><img class='icons' src='/static/img/icons/house.png'></a>",
					"steps.png",
				],
				[
					-24.17861,
					-65.34924,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 12:44<br><a href='/geotracking/cambiar_base/5027'><img class='icons' src='/static/img/icons/house.png'></a>",
					"alerta.png",
				],
				[
					-24.17858,
					-65.34929,
					"<a href='/informacion/ver/individuo/558550' target='_blank'>94775987: Parada Portillo, Edwin</a><br><b>Fecha:</b>17 Abril 2020 12:34<br><a href='/geotracking/cambiar_base/5018'><img class='icons' src='/static/img/icons/house.png'></a>",
					"alerta.png",
				]
		];
		
		$(document).ready(function() {
			var $tablaAlertas = $('#tablaAlertas');
		
			iniciarGmap();
		
			$minimap.markers = [];
		
			$tblAlertas = $tablaAlertas.DataTable({
				data: JSONData,
				searching: false,
				paging: false,
				dom: '',
				buttons: [],
				columns: [
					{
						data: null,
						orderable: false,
						render: function (data, type, row) {
							var $link;
							$link = `<a href="javascript:void(0)" title="Ver Punto" btn-marker=""><img src="iconos/${row[3]}"></a>`;
							return $link;
						}
					},
					{ 
						title: "Lat./Long.",
						render: function (data, type, row) {
							var texto;
							// console.log(row);
							texto = row[0] + " / " + row[1]
							return texto;
						}
					},
					{ title: "link" },
				],
				createdRow: function (row, data, dataIndex) {
					//una vez creada la fila crear el icono en el mapa
					data[4] = dataIndex;
					$(row).attr('id' , 'tr' + data[4]);
					var marker = addMarker(data);
					$minimap.markers.push(marker);
				},
			});
		
		});
		
		$(document).on('click', '[btn-marker]', function(event) {
			event.preventDefault;
			var $tr = $(this).closest('tr');
			var row = $tblAlertas.row($tr);
			var rowData = row.data();
			var marker = $minimap.markers[rowData[4]];
		
			$tr.toggleClass('selected');
			marker.setAnimation(marker.getAnimation() ==null ? google.maps.Animation.BOUNCE : null);
		});
		
		/* Funciones googlemaps */
		function iniciarGmap() {
			var minimapDiv = document.getElementById('minimap');
			var opcionesMapa = {
				zoom: 17,
				center: defaultLatLng(),
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				styles: [{
						"featureType": "poi",
						"stylers": [{ "visibility": "off" }]
					},
					{
						"featureType": "poi.park",
						"stylers": [{ "visibility": "simplified" }]
					}
				]
			};
		
			$minimap = new google.maps.Map(minimapDiv, opcionesMapa);;
		}
		
		function defaultLatLng(){
			return new google.maps.LatLng(-24.185790, -65.299490);
		}
		
		function addMarker(data) {
			var marker;
		
			marker = new google.maps.Marker({
				map: $minimap,
				position: new google.maps.LatLng(data[0], data[1]),
				draggable: false,
				icon: "iconos/" + data[3],
				animation: google.maps.Animation.DROP,
				title: 'Lat. ' + data[0] + ' / Long. ' + data[1],
				data: data
				});
			
			var contentString = `<h4 class="text-bold">${data[0]} / ${data[1]}</h4>
				<div>
					<p class="text-center">
						<b>${data[2]}</b><br>
					</p>
				</div>`;
		
			var infowindow = new google.maps.InfoWindow({
				content: contentString
			});
		
			marker.addListener('click', function() {
				var rowId = '#tr' + marker.data[4];
				if (marker.getAnimation() !== null) {
					marker.setAnimation(null);
					infowindow.open(minimap, marker);
				} else {
					marker.setAnimation(google.maps.Animation.BOUNCE);
				}
				$(rowId).toggleClass('selected');
			});
			
			$minimap.setCenter(marker.position);
			
			return marker;
		}
	</script>
{% endblock %}