{% extends 'base_operadores.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Inventario:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.listar_operadores %}
                                <li><a href="{% url 'operadores:listar_operadores'  %}">Ver Listado de Operadores</a></li>
                            {% endif %}

                            {% if perms.operadores.crear_operador %}
                                <li><a href="{% url 'operadores:crear_operador'  %}">Crear Operador</a></li>
                            {% endif %}

                            {% if perms.operadores.control_asistencia %}
                                <hr>
                                <li><a href="{% url 'operadores:checkin'  %}">Ingreso Operador</a></li>
                                <li><a href="{% url 'operadores:listado_presentes'  %}">Listado de Presentes</a></li>
                                <li><a href="{% url 'operadores:registro_asistencia'  %}">Registro de Asistencia</a></li>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <hr>
                                <li><a href="{% url 'operadores:menu' %}">Opcion del Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>Informacion del usuario: <b>{{request.user.username}}</b></p>
                        <p>Roles del usuario:</p>
                        <ul>
                            {% ct_get_grupos request.user as grupos %}
                            {% for grupo in grupos %}
                                <li>{{grupo.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}