{% block content %}
<div class="buscador-noticias container">
    <form method="post" action="/noticias/buscar" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <button type="submit">Buscar</button>
    </form>
    <p class="etiquetas"><b>Etiquetas:</b></p>    
    <ul>
        {% for etiqueta in etiquetas %}
            <li class="etiqueta"><a href="{% url 'noticias:buscar_etiqueta' tag_id=etiqueta.id %}">{{etiqueta.name|title}}<span>,</span> </a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}