{% extends 'base_inventario.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Documentos Publicos</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>SubComite</th>
                        <th>Nombre</th>
                        <th>Descargar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in documentos %}
                        <tr>
                            <td>{{documento.get_tipo_display}}</td>
                            <td>{{documento.subcomite}}</td>
                            <td>{{documento.nombre}}</td>
                            <td>
                                {% if archivo.ultima_version %}
                                    <a href="{{documento.ultima_version.archivo.url}}">
                                        Descargar
                                    </a>
                                {% else %}
                                    Version Eliminada
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}