{% extends 'base_inventario.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Inventario General</h2>
            {% if perms.operadores.crear_operador %}
                <a href="{% url 'inventario:crear_item' %}">
                    Crear Item
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo Usuario">
                </a>
            {% endif %}
            <p>{% include 'extras/buscador.html' %}</h3>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado">
                <tr>
                    <th colspan="2">Rubro</th>
                    <th>Cantidad Disponible</th>
                    <th>Cantidad Distribuida</th>
                </tr>
                {% for subgrupo in subgrupos %}
                    <tr>
                        <td>
                            <a href={% url 'inventario:lista_rubro' rubro_id=subgrupo.rubro.id %}>
                                {{subgrupo.rubro}}
                            </a>
                        </td>
                        <td>
                            <a href={% url 'inventario:lista_subgrupo' subgrupo_id=subgrupo.id %}>
                                {{subgrupo}}
                            </a>
                        </td>
                        <td>{{subgrupo.cantidad_disponible}}</td>
                        <td>{{subgrupo.cantidad_distribuida}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'extras/paginador.html' with elementos=documentos %}
        </div>
    </div>
{% endblock %}