{% extends 'base_inventario.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Documentos Publicos</h2>
        </div>
        <div class="row">
        <div>
            <table class="listado table" id="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>SubComite</th>
                        <th>Nombre</th>
                        <th>Descargar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in documentos %}
                        <tr>
                            <td data-title="Tipo: ">{{documento.get_tipo_display}}</td>
                            <td data-title="SubComite: ">{{documento.subcomite}}</td>
                            <td data-title="Nombre: ">{{documento.nombre}}</td>
                            <td><a href="{{documento.ultima_version.archivo.url}}">Descargar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}