{% extends 'base_inventario.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado General de Documentos</h2>
            {% if perms.operadores.menu_documentos %}
                <a class="nuevo_item" href="{% url 'documentos:cargar_documento' %}">
                    Cargar Nuevo Documento
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo Usuario">
                </a>
            {% endif %}
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>SubComite</th>
                        <th>Estado</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Autor</th>
                        <th>Fecha Actualizacion</th>
                        <th>Administrar</th>
                        <th>Descargar Ultima Version</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in documentos %}
                        <tr>
                            <td>
                                <a href="{% url 'documentos:lista_subcomite' subco_id=documento.subcomite.id %}">
                                    {{documento.subcomite}}
                                </a>
                            </td>
                            <td>
                                {% if documento.publico %}
                                    <img class="iconsx2" src="/static/img/icons/public.png" alt="Es Publico">
                                {% else %}
                                    <img class="iconsx2" src="/static/img/icons/private.png" alt="Es Privado">
                                {% endif %}
                            </td>
                            <td>{{documento.nombre}}</td>
                            <td>{{documento.get_tipo_display}}</td>
                            <td>{{documento.autor}}</td>
                            <td>{{documento.ultima_version.fecha}}</td>
                            <td><a href="{% url 'documentos:ver_documento' documento_id=documento.id %}">Documento</a></td>
                            {% if documento.ultima_version %}
                                {% if documento.ultima_version.archivo %}
                                    <td><a href="{{documento.ultima_version.archivo.url}}">Descargar</a></td>
                                {% else %}
                                    <td><p>Sin Archivos Cargados</p></td>
                                {% endif %}
                            {% else %}
                                <td><p>Sin Archivos Cargados</p></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}