{% extends 'base_informacion.html' %}

{% load static %}
{% load operadores_tags %}
{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2>
                            {{documento.nombre}}
                            {% if documento.publico %}
                                <img class="icons" src="/static/img/icons/public.png" alt="Es Publico">
                            {% endif %}
                            {% if perms.operadores.documentos %}
                                <a href="{% url 'documentos:mod_documento' documento_id=documento.id %}">
                                    <img class="icons" src="{% static 'img/icons/change.png' %}" style="float:right;">
                                </a>
                            {% endif %}
                        </h2>
                        <p>Subcomite: {{documento.subcomite}}</p>
                        <p>Autor: {{documento.autor}}</p>
                        <p>Fecha Ultima Actualizacion: {{documento.ultima_version.fecha}}</p>
                        <p>Operador Ultima Actualizacion: {{documento.ultima_version.operador}}</p>
                        <hr>
                        <h3>Versiones del Archivo</h3>
                        {% if documento.versiones.all %}
                            <table class="listado table">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Operador</th>
                                    <th>Cambios</th>
                                    <th>Descargar</th>
                                </tr>
                                {% for version in documento.versiones.all reversed %}
                                    <tr>
                                        <td data-title="Fecha: ">{{version.fecha}}</td>
                                        <td data-title="Operador: ">{{version.operador}}</td>
                                        <td data-title="Cambios: ">{{version.cambios|safe}}</td>
                                        <td>
                                            {% if version.archivo %}
                                                <a href="{{version.archivo.url}}">Descargar</a>
                                            {% else %}
                                                <p>Version Eliminada</p>
                                            {% endif %}
                                            
                                            {% if request.user == version.operador.usuario %}
                                                <a href="{% url 'documentos:eliminar_version' version_id=version.id %}">
                                                    <img class="icons" src="{% static 'img/icons/delete.png' %}" style="float:right;">
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <a href="{% url 'documentos:cargar_actualizacion' documento_id=documento.id %}">
                                <h1>CARGUE LA PRIMERA VERSION DEL ARCHIVO AQUI</h1>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            <li><a href="{% url 'documentos:cargar_actualizacion' documento_id=documento.id %}">Actualizar Version</a></li>
                            {% if perms.operadores.documentos %}
                                {% if documento.publico %}
                                    <li><a href="{% url 'documentos:cambiar_estado' documento_id=documento.id %}">Volver Privado</a></li>
                                {% else %}
                                    <li><a href="{% url 'documentos:cambiar_estado' documento_id=documento.id %}">Hacer Publico</a></li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'documentos:eliminar_doc' documento_id=documento.id %}">
                                        Eliminar
                                        <img class="icons" src="{% static 'img/icons/delete.png' %}" style="float:right;">
                                    </a>
                                </li>
                            {% endif %}
                            <hr>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}