{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2><b>Reportes de Entrega de elementos de protección personal a los hospitales</b></h2>
                        <div class="col-lg-7">
                            <ul style="font-size: large;">
                                <li>
                                    <b>Region Valles:</b>
                                    <a href="https://drive.google.com/file/d/1FicOtAvwgT5qbdyF5cLh7FsOkSUaTG7X/view?usp=sharing" target="_blank">
                                        (Descargar).
                                    </a>
                                </li>
                                <li>
                                    <b>Region Ramal:</b>
                                    <a href="https://drive.google.com/file/d/1gwrMvlY5rjtpgNhLxD7NzQh71L592nMy/view?usp=sharing" target="_blank">
                                        (Descargar).
                                    </a>
                                </li>
                                <li>
                                    <b>Region Quebrada:</b>
                                    <a href="https://drive.google.com/file/d/1bo9Y6J87WVWoukPUo0YJSc44AqGnG3h9/view?usp=sharing" target="_blank">
                                        (Descargar).
                                    </a>
                                </li>
                                <li>
                                    <b>Region Puna:</b>
                                    <a href="https://drive.google.com/file/d/1Yk432T8kN-p97rUsIr8sU7ZXZUKxf34c/view?usp=sharing" target="_blank">
                                        (Descargar).
                                    </a>
                                </li>
                                <li>
                                    <b>Nodo Calcula (Fraile Pintado):</b>
                                    <a href="https://drive.google.com/file/d/1Ju8ZdwfWbVTOLHNmZEELpiyuBIS3POg3/view?usp=sharing" target="_blank">
                                        (Descargar).
                                    </a>
                                </li>
                                <li>
                                    <b>Resumen Por Hospital:</b>
                                    <a href="https://drive.google.com/file/d/1Ac1iIdv4Of4yQ6vT5VQhZ5z83VA7PvVo/view?usp=sharing" target="_blank">
                                        (Descargar).
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            <img class="fotos"  src="{% static 'img/mapa_jujuy.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}