{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    {% include "base/header.html" %}
    <div class="container">
        <div class="row">
            <br>
            <div class="col-lg-7">
                {% include "carousel.html" %}
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="elem">
                            <a href="{% url 'inscripciones:inscripcion_social' %}" target="_blank">
                                <img class="fotos" src="{% static 'img/reclutamiento_social.jpeg' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'inscripciones:inscripcion_salud' %}">
                            <img class="fotos" src="{% static 'img/reclutamiento_salud.jpeg' %}">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{% url 'app:download_app' %}">
                            <img class="fotos" src="{% static 'img/download_app.jpg' %}">
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <div class="elem">
                            <a href="{% url 'permisos:pedir_ingreso_provincial' %}">
                                <img class="fotos"  src="{% static 'img/ingresoprovincial.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="elem">
                            <a href="{% url 'permisos:pedir_circulacion_temporal' %}">
                                <img class="fotos"  src="{% static 'img/circulaciontemporal.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a class="boton_suelto" href="https://drive.google.com/uc?export=download&id=1SvTh9prm3WuSB_g1Beto2dzdmLoB_RxT">
                    Permiso de Circulacion Provincial
                </a>
            </div>
            <div class="col-sm-6 main_documentos">
                {% for version in versiones %}
                    {% if forloop.first %}
                        <h2><b>Ultimos Documentos Publicados</b></h2>
                        <ul>
                    {% endif %}
                    <li>
                        <a href="{{version.archivo.url}}">
                            {{version.documento.nombre}} | Subido: {{version.fecha}}
                        </a>
                    </li>
                    {% if forloop.last %}
                            <li>
                                <a class="botoncito" href="{% url 'documentos:ver_publicos' %}">Ver Todos</a>
                            </li>
                        </ul>
                    {% endif %}                        
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}