{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    {% include "base/header.html" %}
    <div class="container">
        <div class="row">
            <br>
            <div class="col-sm-7">
                {% include "carousel.html" %}
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="elem">
                            <a href="https://drive.google.com/uc?export=download&id=1SvTh9prm3WuSB_g1Beto2dzdmLoB_RxT">
                                <img class="fotos"  src="{% static 'img/circular.jpeg' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="elem small">
                            <a href="{% url 'core:consejos' %}" target="_blank">
                                <img class="fotos" src="{% static 'img/link_salud.png' %}">
                            </a>
                        </div>
                        <div class="elem small full-size-img">
                            <a href="https://www.argentina.gob.ar/salud/coronavirus-COVID-19" target="_blank">
                                <img class="fotos" src="{% static 'img/coronacional.jpeg' %}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="elem big">
                        <a href="{% url 'inscripciones:cargar_inscripcion' %}">
                            <img class="fotos" src="{% static 'img/reclutamiento.jpeg' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!-- Nada Aun -->
            </div>
            <div class="col-sm-6 main_documentos">
                {% for version in versiones %}
                    {% if forloop.first %}
                        <h2><b>Ultimos Documentos Publicados</b></h2>
                        <ul>
                    {% endif %}
                    <li>
                        <a href="{{version.archivo.url}}">
                            {{version.documento.nombre}} | Subido: {{version.fecha}}
                        </a>
                    </li>
                    {% if forloop.last %}
                            <li>
                                <a class="botoncito" href="{% url 'documentos:ver_publicos' %}">Ver Todos</a>
                            </li>
                        </ul>
                    {% endif %}                        
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}