{% extends 'base/base.html' %}

{% load static %}

{% block custom_head %}

<head>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        @media screen and (max-width: 720px){
            .page-wrapper {
              width: 100%;
            }
        }
    </style>    
</head>

{% endblock %}

{% block content %}
    {% include "base/header.html" %}
    <div class="container">
        <div class="row">
            <br>
            <div class="col-lg-7">
                <div class="row">
                    {% include "carousel.html" %}
                </div>
                <div class="row main_documentos">
                    {% for version in versiones %}
                        {% if forloop.first %}
                            <h2><b>Ultimos Documentos Publicados</b></h2>
                            <ul>
                        {% endif %}
                        <li>
                            <a href="{{version.archivo.url}}">
                                {{version.documento.nombre}} | Subido: {{version.fecha}}
                            </a>
                        </li>
                        {% if forloop.last %}
                                <li>
                                    <a class="botoncito" href="{% url 'documentos:ver_publicos' %}">Ver Todos</a>
                                </li>
                            </ul>
                        {% endif %}                        
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="elem">
                            <a href="{% url 'seguimiento:pedir_test' %}" target="_blank">
                                <img class="fotos" src="{% static 'img/pedir_test.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'app:download_app' %}">
                            <img class="fotos" src="{% static 'img/download_app.jpg' %}" style="border-radius: 35px;">
                        </a>
                        <a href="{% url 'seguimiento:buscar_alta_aislamiento' %}">
                            <img class="fotos" src="{% static 'img/obtener_alta.png' %}">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="elem">
                            <a href="{% url 'inscripciones:inscripcion_social' %}" target="_blank">
                                <img class="fotos" src="{% static 'img/reclutamiento_social.jpeg' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="elem">
                            <a href="{% url 'permisos:pedir_ingreso_provincial' %}">
                                <img class="fotos"  src="{% static 'img/ingresoprovincial.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="elem">
                            <a href="{% url 'permisos:pedir_circulacion_temporal' %}">
                                <img class="fotos"  src="{% static 'img/circulaciontemporal.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{% url 'inscripciones:inscripcion_salud' %}">
                            <img class="fotos" src="{% static 'img/reclutamiento_salud.jpeg' %}">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'inscripciones:inscripcion_proyecto' %}">
                            <img class="fotos" src="{% static 'img/proyecto_estudiantil.gif' %}">
                        </a>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-md-12">                        
                        <a href="{% url 'provision:pedir_coca' %}">
                            <img class="fotos" src="{% static 'img/proyecto_estudiantil.gif' %}">
                            <div class="alert alert-danger" role="alert">
                                <h3> PARA SOLICITAR COCA, HAGA CLICK <strong>AQUÍ.</strong></h3>               
                            </div>
                        </a>                       
                    </div>
                </div>               
            </div>            
        </div>
    </div>
{% endblock %}