{% extends 'base_operadores.html' %}
{% load adminusers_tags %}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Listado de Usuarios: <b>{{app_name}}</b></h1>
                    <p style="float:right;">
                        {% if perms.operadores.operadores %}
                            <a href="{% url 'operadores:crear_operador' %}">
                                Crear Usuario
                                <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo Usuario">
                            </a>
                        {% endif %}
                    </p>
                </div> 
                <div class="row"> 
                    <div class="col-md-12">
                        <table class="listado" id="table">
                            <thead>
                                <tr>
                                    <th colspan="3">Operador</th>
                                    <th>Grupo</th>
                                    <th>Nivel Autorizacion</th>
                                    <th>Telefono</th>
                                    <th>Email</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for operador in operadores %}
                                    <tr class="fila_usuario">
                                        
                                        <td>{{operador.usuario.username}}</td>
                                        <td>{{operador.nombres}}</td>
                                        <td>{{operador.apellidos}}</td>
                                        <td>{{operador.subcomite}}</td>
                                        <td>{{operador.get_nivel_acceso_display}}</td>
                                        <td>{{operador.telefono}}</td>
                                        <td>{{operador.email}}</td>
                                        <td><!-- Icono de Activo -->
                                            {% if operador.usuario.is_active %}
                                                <b style="color:green;">Activo</b>
                                            {% else %}
                                                <b style="color:red;">Inactivo</b>
                                            {% endif %}
                                        </td>
                                        <td><!-- Acciones -->
                                            <a class="nolink" href="{% url 'operadores:ver_credencial' operador_id=operador.id %}">
                                                <img class="icons" src="/static/img/icons/access_card.png" alt="Ver Tarjeta">
                                            </a>
                                            <a class="nolink" href="{% url 'operadores:modificar_usuario'  operador_id=operador.id %}">
                                                <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                            </a>
                                            {% if operador.usuario %}
                                                <a class="nolink" href="{% url 'operadores:cambiar_password' operador_id=operador.id %}">
                                                    <img class="icons" src="/static/img/icons/changepassword.png" alt="Cambiar contraseña">
                                                </a>
                                                {% if operador.usuario.is_active %}
                                                    <a class="nolink" href="{% url 'operadores:desactivar_usuario' operador_id=operador.id %}">
                                                        <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                                    </a>
                                                {% else %}
                                                    <a class="nolink" href="{% url 'operadores:activar_usuario' operador_id=operador.id %}">
                                                        <img class="icons" src="/static/img/icons/check.png" alt="Activar">
                                                    </a>
                                                {% endif %}
                                                {% if perms.operadores.auditar_operadores %}
                                                    <a href="{% url 'operadores:auditoria_propia' user_id=operador.usuario.id %}">
                                                        <img class="icons" src="/static/img/icons/audit.png" alt="Crear Nuevo Usuario">
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}   