{% extends 'base/base.html' %}
{% load adminusers_tags %}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Listado de Usuarios: <b>{{app_name}}</b></h1>
                    <p style="float:right;">
                        {% if perms.operadores.crear_operador %}
                            <a href="{% url 'operadores:crear_operador' %}">
                                Crear Usuario
                                <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo Usuario">
                            </a>
                        {% endif %}
                    </p>
                    <p>{% include 'extras/buscador.html' %}</p>

                </div> 
                <div class="row"> 
                    <div class="col-md-12">
                        <table class="listado">
                            <tr>
                                <th colspan="3">usuario</th>
                                <th>organismo</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                            {% for operador in operadores %}
                                <tr>
                                    
                                    <td>{{operador.usuario.username}}</td>
                                    <td>{{operador.usuario.first_name}}</td>
                                    <td>{{operador.usuario.last_name}}</td>
                                    <td>{{operador.get_organismo_display}}</td>
                                    <td>{{operador.usuario.email}}</td>
                                    <td>{{operador.telefono}}</td>
                                    <td>
                                        <ul>
                                            {% for permiso in operador.usuario.user_permissions.all %}
                                                <li>{{permiso.name}}</li>
                                            {% endfor %}
                                        </td>
                                    <td>
                                        {% if operador.usuario.is_active %}
                                            <b style="color:green;">Activo</b>
                                        {% else %}
                                            <b style="color:red;">Inactivo</b>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="nolink" href="{% url 'operadores:ver_credencial' operador_id=operador.id %}">
                                            <img class="icons" src="/static/img/icons/access_card.png" alt="Ver Tarjeta">
                                        </a>
                                        <a class="nolink" href="{% url 'operadores:modificar_usuario'  operador_id=operador.id %}">
                                            <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                        </a>
                                        <a class="nolink" href="{% url 'operadores:cambiar_password' operador_id=operador.id %}">
                                            <img class="icons" src="/static/img/icons/changepassword.png" alt="Cambiar contraseña">
                                        </a>
                                        {% if operador.usuario.is_active %}
                                            <a class="nolink" href="{% url 'operadores:desactivar_usuario' operador_id=operador.id %}">
                                                <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                            </a>
                                        {% else %}
                                            <a class="nolink" href="{% url 'operadores:activar_usuario' operador_id=operador.id %}">
                                                <img class="icons" src="/static/img/icons/check.png" alt="Activar">
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}   