{% extends 'base_operadores.html' %}

{% load adminusers_tags %}
{% load static %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>Subcomites: {{subcomite.nombre}}</h1>
                        <p>{{subcomite.descripcion|safe}}</p>
                        <p>Cantidad de Operadores: {{subcomite.cant_miembros}}</p>
                        <p>Cantidad de Tareas Terminadas: {{subcomite.cant_tareas_terminadas}}</p>
                        <p>Cantidad de Tareas Pendientes: {{subcomite.cant_tareas_pendientes}}</p>
                    </div>
                    <div class="col-sm-4" style="padding: 20px;">
                        <form method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>Asignar Operador a este Comite:</p>
                            {{form}}
                            <button type="submit">Agregar</button>
                        </form>
                    </div>
                </div>
                <hr>
                <h3>Operadores Asignados</h3>
                <table class="listado table">
                    <tr>
                        <th>Usuario</th>
                        <th>Operador</th>
                        <th>Grupo</th>
                        <th>Nivel Autorizacion</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    {% for operador in subcomite.operadores.all %}
                        <tr class="fila_usuario">
                            <td data-title="Usuario: ">{{operador.usuario.username}}</td>
                            <td data-title="Operador: ">{{operador.apellidos}}, {{operador.nombres}}</td>
                            <td data-title="Grupo: ">{{operador.subcomite}}</td>
                            <td data-title="Nivel Autorizacion: ">{{operador.get_nivel_acceso_display}}</td>
                            <td data-title="Telefono: ">{{operador.telefono}}</td>
                            <td data-title="Email: ">{{operador.email}}</td>
                            <td data-title="Estado: ">
                                {% if operador.usuario.is_active %}
                                    <b style="color:green;">Activo</b>
                                {% else %}
                                    <b style="color:red;">Inactivo</b>
                                {% endif %}
                            </td>
                            <td data-title="Acciones: ">
                                <a class="nolink" href="{% url 'operadores:ver_credencial' operador_id=operador.id %}">
                                    <img class="icons" src="/static/img/icons/access_card.png" alt="Ver Tarjeta">
                                </a>
                                <a class="nolink" href="{% url 'operadores:modificar_usuario'  operador_id=operador.id %}">
                                    <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                </a>
                                {% if operador.usuario %}
                                    <a class="nolink" href="{% url 'operadores:cambiar_password' operador_id=operador.id %}">
                                        <img class="icons" src="/static/img/icons/changepassword.png" alt="Cambiar contraseña">
                                    </a>
                                    {% if operador.usuario.is_active %}
                                        <a class="nolink" href="{% url 'operadores:desactivar_usuario' operador_id=operador.id %}">
                                            <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                        </a>
                                    {% else %}
                                        <a class="nolink" href="{% url 'operadores:activar_usuario' operador_id=operador.id %}">
                                            <img class="icons" src="/static/img/icons/check.png" alt="Activar">
                                        </a>
                                    {% endif %}
                                    <a href="{% url 'operadores:auditoria_propia' user_id=operador.usuario.id %}">
                                        <img class="icons" src="/static/img/icons/audit.png" alt="Crear Nuevo Usuario">
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <hr>
                <h3>Tareas Pendientes</h3>
                <table class="listado table">
                <tr>
                    <th>Nombre</th>
                    <th>Prioridad</th>
                    <th>Inicio</th>
                    <th>Fecha Limite</th>
                    <th>Horas Restantes</th>
                    <th>Ultimo Cambio</th>
                    <th>Ver Detalle</th>
                </tr>
                {% for tarea in subcomite.tareas.all %}
                    <tr>
                        <td data-title="Nombre: ">{{tarea.nombre}}</td>
                        <td data-title="Prioridad: ">{{tarea.get_prioridad_display}}</td>
                        <td data-title="Inicio: ">{{tarea.begda}}</td>
                        <td data-title="Fecha Limite: ">{{tarea.endda}}</td>
                        {% with tarea.hrs_restantes as hrs %}
                            <td data-title="Horas Restantes: " class="
                                {% if hrs < 0 %}
                                    tiempo_negativo
                                {% elif hrs < 12 %}
                                    tiempo_limitado
                                {% else %}
                                    tiempo_disponible
                                {% endif %} 
                                "> 
                                {{hrs}} Horas
                            </td>
                        {% endwith %}
                        <td data-title="Ultimo Cambio: ">{{tarea.get_last_event.get_accion_display}}</td>
                        <td data-title=""><a href="{% url 'tareas:ver_tarea' tarea_id=tarea.id %}" target="_blank">(Ver Detalle)</a></td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </section>
    </section>
{% endblock %}