{% autoescape off %}
    Tu Ingreso Provincial a sido Aprobado.
    Fecha Aprobada de Arribo: {{ingreso.fecha_llegada|date:"d/m/Y H:i"}}

    Al ingresar a la provincia debera hacer cuarentena OBLIGATORIAMENTE en alguno de los hoteles habilitados(Sujeto a disponibilidad):
    
    SAN SALVADOR DE JUJUY:
    HOTEL OHASIS: Single $2.000 – Doble $2.500 (comidas: Familia o delivery)
    ERY NOA: Single $1.200 – Doble: $1.800 (comidas: familia o delivery)
    HOTEL BRISAS: $1.000 – Doble $500 POR PERSONA (comidas: familia o delivery)
    POSTA DE LOZANO: $2.500 la habitación doble - (Familia o delivery)
    GREGORIO I: $1.500 POR PERSONA depende la habitación (no incluye comida)

    YALA: 
    REFUGIO DE YALA: $500 (comidas: familia o delivery)

    LIBERTADOR:
    HOTEL LOS LAPACHOS: LIBRE SOLO PARA GENTE DE LIBERTADOR 

    TILCARA:
    Club Hostel: $1.200 por personas habitación compartida (comidas: delivery o familia)
    Hostel Waira: Single $600 Doble $1.100 (comidas: delivery o familia)
    Alas del Alma: $1.200 por persona (comidas: delivery o familia)

    ABRA PAMPA
    Hotel Suizo: $500 por persona (comidas opcional costo adicional)

    A travez de este link puede descargarlo o imprimir si permiso aprobado:
    http://coe.jujuy.gob.ar/{% url 'permisos:ver_ingreso_aprobado' token=ingreso.token %}

    Te esperamos,
    Cuidate y Cuidanos!
{% endautoescape %}