{% autoescape off %}
    Tipo: {{ingreso.get_tipo_display}}
    Origen: {{ingreso.origen}}
    Destino: {{ingreso.destino}}
    Fecha de Llegada Estimada: {{ingreso.fecha_llegada|date:"d/m/Y H:i"}}
    
    Vehiculo:
    Marca: {{ingreso.marca}}
    Modelo: {{ingreso.modelo}}
    Patente: {{ingreso.patente}}

    {{cuerpo}}

    A travez de este link puede acceder al mismo:
    http://coe.jujuy.gob.ar/{% url 'permisos:ver_ingreso_provincial' token=ingreso.token %}

    Cuidate y Cuidanos!
{% endautoescape %}