{% autoescape off %}
    Tu Ingreso Provincial ha sido Aprobado.
    Fecha Aprobada de Arribo: {{ingreso.fecha_llegada|date:"d/m/Y H:i"}}

    Al ingresar a la provincia debera hacer cuarentena OBLIGATORIAMENTE en alguno de los hoteles habilitados(Sujeto a disponibilidad)

    A través de este link puede descargarlo o imprimir su permiso aprobado:
    http://coe.jujuy.gob.ar/{% url 'permisos:ver_ingreso_aprobado' token=ingreso.token %}

    Tambien le recomendamos Imprimir el Permiso Nacional, en caso de que no lo tenga (Nosotros lo agregaremos en su panel para que pueda descargarlo).
    El mismo es accesible tambien desde: https://regresoacasa.argentina.gob.ar/

    Te esperamos,
    Cuidate y Cuidanos!
{% endautoescape %}