{% autoescape off %}
    Tu Ingreso Provincial a sido Registrado.
    Tipo: {{ingreso.get_tipo_display}}
    Fecha de Llegada Estimada: {{permiso.fecha_llegada|date:"d/m/Y H:i"}}
    Origen: {{permiso.origen}}
    Destino: {{permiso.destino}}
    
    Vehiculo:
    Marca: {{permiso.marca}}
    Modelo: {{permiso.modelo}}
    Patente: {{permiso.patente}}

    A travez de este link puede acceder al mismo:
    http://coe.jujuy.gob.ar/{% url 'permisos:ver_ingreso_provincial' token=permiso.token %}

    Pronto te avisaremos si fue aprobado para que puedas descargarlo,
    Cuidate y Cuidanos!
{% endautoescape %}