{% autoescape off %}
    La solicitud de ingreso a la provincia de Jujuy ha sido ingresada y está siendo tramitada, oportunamente, llegará la aprobación de la misma.
    Recuerde que también deberá portar el permiso nacional ante solicitud de las autoridades

    Todas las personas que lleguen a Jujuy, deberán realizar la cuarentena en un hotel pago por el pasajero o lugar informado por el COE, sin excepción

    Tipo: {{ingreso.get_tipo_display}}
    Origen: {{ingreso.origen}}
    Destino: {{ingreso.destino}}
    Fecha de Llegada Estimada: {{ingreso.fecha_llegada|date:"d/m/Y H:i"}}
    
    Vehiculo:
    Marca: {{ingreso.marca}}
    Modelo: {{ingreso.modelo}}
    Patente: {{ingreso.patente}}

    A travez de este link puede acceder al mismo:
    http://coe.jujuy.gob.ar/{% url 'permisos:ver_ingreso_provincial' token=ingreso.token %}

    Pronto te avisaremos si fue aprobado para que puedas descargarlo,
    Cuidate y Cuidanos!
{% endautoescape %}