{% extends 'base/base.html' %}

{% block content %}
    <section class="formulario">
        <section class="formulario-container">
            <h2>{{titulo}}</h2>
            <p class="texto">{{message}}</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <p class="texto"><b>Seguro desea continuar?<b></p>
                <div class="col-sm-4 offset-4"></div>
                    <div class="col-sm-2">
                        <input type="button" value="Cancelar" onclick="history.back()">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit">Confirmar</button>
                    </div>
                </div>
            </form>
        </section>
    </section>
{% endblock %}