{% extends 'base_georef.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Localidades</h2>
            {% if perms.operadores.menu_georef %}
                <a href="{% url 'georef:crear_localidad' %}">
                    Crear Localidad
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                </a>
            {% endif %}
        </div>
        <div class="row">
        <div>
            <table class="listado table" id="table">
                <thead>
                    <tr>
                        <th>Nacion</th>
                        <th>Provincia</th>
                        <th>Departamento</th>
                        <th>Nombre</th>
                        <th>Codigo Postal</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for localidad in localidades %}
                        <tr>
                            <td data-title="Nacion: ">{{localidad.departamento.provincia.nacion}}</td>
                            <td data-title="Provincia: ">{{localidad.departamento.provincia}}</td>
                            <td data-title="Departamento: ">{{localidad.departamento}}</td>
                            <td data-title="Nombre: ">{{localidad.nombre}}</td>
                            <td data-title="Codigo Postal: ">{{localidad.codigo_postal}}</td>
                            <td data-title="Editar: ">
                                <a href="{% url 'georef:mod_localidad' localidad_id=localidad.id %}">
                                    <img class="icons" src="{% static '/img/icons/change.png' %}">
                                </a>
                                <a href="{% url 'georef:delete_localidad' localidad_id=localidad.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}