{% extends 'base_georef.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Listado de Ubicaciones Estrategicas</h2>
            {% if perms.operadores.menu_georef %}
                <a href="{% url 'georef:crear_ubicacion' %}">
                    Crear Ubicacion
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo">
                </a>
            {% endif %}
        </div>
        <div class="row">
        <div>
            <table class="listado table" id="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Localidad</th>
                        <th>Direccion</th>
                        <th>Capacidad Maxima</th>
                        <th>Capacidad Disponible</th>
                        <th>Aclaraciones</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ubicacion in ubicaciones %}
                        <tr>
                            <td data-title="Tipo: ">{{ubicacion.get_tipo_display}}</td>
                            <td data-title="Nombre: ">{{ubicacion.nombre}}</td>
                            <td data-title="Localidad: ">{{ubicacion.localidad.nombre}}</td>
                            <td data-title="Direccion: ">{{ubicacion.calle}} {{ubicacion.numero}}{% if ubicacion.barrio %}, {{ubicacion.barrio}}{% endif %}</td>
                            <td data-title="Capacidad Maxima: ">{{ubicacion.capacidad_maxima}}</td>
                            <td data-title="Capacidad Disponible: ">{{ubicacion.capacidad_disponible}}</td>
                            <td data-title="Aclaraciones: ">{{ubicacion.aclaracion|safe}}</td>
                            <td data-title="Editar: ">
                                {% if ubicacion.tipo == 'AI' or ubicacion.tipo == 'IN' %}
                                    <a href="{% url 'georef:ver_ubicacion' ubicacion_id=ubicacion.id %}" class="nolink">
                                        <img class="icons" src="{% static '/img/icons/lupa.png' %}">
                                    </a>
                                {% endif %}
                                <a href="{% url 'georef:mod_ubicacion' ubicacion_id=ubicacion.id %}" class="nolink">
                                    <img class="icons" src="{% static '/img/icons/change.png' %}">
                                </a>
                                {% if ubicacion.latitud and ubicacion.longitud %}
                                    <a href="https://www.google.com/maps?q={{ubicacion.latitud|stringformat:".5f"}},{{ubicacion.longitud|stringformat:".5f"}}" target="_blank" class="nolink">
                                        <img class="icons" src="{% static '/img/icons/map.png' %}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'georef:geopos_ubicacion' ubicacion_id=ubicacion.id %}" class="nolink">
                                        <img class="icons" src="{% static '/img/icons/nomap.png' %}">
                                    </a>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'georef:delete_ubicacion' ubicacion_id=ubicacion.id %}" class="nolink">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}