{% extends 'base_inventario.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Inventario General</h2>
            {% if perms.operadores.menu_inventario %}
                <a href="{% url 'inventario:crear_item' %}">
                    Crear Item
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo Usuario">
                </a>
            {% endif %}
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Rubro</th>
                        <th>SubGrupo</th>
                        <th>Cantidad Disponible</th>
                        <th>Cantidad Distribuida</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subgrupo in subgrupos %}
                        <tr>
                            <td>
                                <a href={% url 'inventario:lista_rubro' rubro_id=subgrupo.rubro.id %}>
                                    {{subgrupo.rubro}}
                                </a>
                            </td>
                            <td>
                                <a href={% url 'inventario:lista_subgrupo' subgrupo_id=subgrupo.id %}>
                                    {{subgrupo}}
                                </a>
                            </td>
                            <td>{{subgrupo.cantidad_disponible}}</td>
                            <td>{{subgrupo.cantidad_distribuida}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}