{% extends 'base_inventario.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Inventario Detallado</h2>
            {% if perms.operadores.menu_inventario %}
                <a href="{% url 'inventario:crear_item' %}">
                    Crear Item
                    <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo Usuario">
                </a>
            {% endif %}
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th colspan="2">Rubro</th>
                        <th>Nombre</th>
                        <th>Cantidad Disponible</th>
                        <th>Cantidad Distribuida</th>
                        <th>Administrador</th>

                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                <a href={% url 'inventario:lista_rubro' rubro_id=item.subgrupo.rubro.id %}>
                                    {{item.subgrupo.rubro}}
                                </a>
                            </td>
                            <td>
                                <a href={% url 'inventario:lista_subgrupo' subgrupo_id=item.subgrupo.id %}>
                                    {{item.subgrupo}}
                                </a>
                            </td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.cantidad_disponible}}</td>
                            <td>{{item.cantidad_distribuida}}</td>
                            <td>{{item.responsable}}</td>
                            <td><a href="{% url 'inventario:ver_item' item_id=item.id %}" target="_blank">(Ver Detalle)</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}