{% extends 'base_inventario.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Inventario:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.crear_item %}
                                <li><a href="{% url 'inventario:crear_item'  %}">Cargar Elemento</a></li>
                            {% endif %}
                            {% if perms.operadores.ver_item %}
                                <li><a href="{% url 'inventario:lista_items'  %}">Ver Listado Items</a></li>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'inventario:menu' %}">Opcion del Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'users/info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}