{% extends 'base_inventario.html' %}

{% load seguridad_tags%}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Inventario:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.operadores.menu_inventario %}
                                <li><a href="{% url 'inventario:lista_general'  %}">Ver Listado General</a></li>
                                <li><a href="{% url 'inventario:lista_detallada'  %}">Ver Listado Detallado</a></li>
                                <hr>
                                <li><a href="{% url 'inventario:crear_rubro' %}">Crear Rubro</a></li>
                                <li><a href="{% url 'inventario:crear_subgrupo' %}">Crear Subgrupo</a></li>
                                <li><a href="{% url 'inventario:crear_item'  %}">Cargar Elemento</a></li>
                            {% endif %}

                            {% if perms.operadores.reportes %}
                                <hr>
                                <li><a href="{% url 'inventario:csv_inventario'  %}">Descargar Inventario</a></li>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <hr>    
                                <li><a href="{% url 'inventario:menu' %}">Opcion del Administrador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include 'info_user.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}