{% extends 'base/base.html' %}
{% load adminusers_tags %}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h1>Listado de Operadores:</h1>
                    <h3>{% include 'extras/buscador.html' %}</h3>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <table class="listado">
                            <tr>
                                <th>Ingreso</th>
                                <th colspan="3">Operador</th>
                                <th>Grupo</th>
                                <th>Nivel de Acceso</th>
                                <th>Acciones</th>
                            </tr>
                            {% for evento in presentes %}
                                <tr>
                                    <td>{{evento.fecha}}</td>
                                    <td>{{evento.operador.num_doc}}</td>
                                    <td>{{evento.operador.usuario.first_name}}</td>
                                    <td>{{evento.operador.usuario.last_name}}</td>
                                    <td>{{evento.operador.subcomite}}</td>
                                    <td>{{evento.get_nivel_acceso_display}}</td>
                                    <td>
                                        <a class="nolink" href="{% url 'operadores:ver_credencial' operador_id=evento.operador.id %}">
                                            <img class="icons" src="/static/img/icons/access_card.png" alt="Ver Tarjeta">
                                        </a>
                                        <a class="nolink" href="{% url 'operadores:checkout' operador_id=evento.operador.id %}">
                                            <img class="icons" src="/static/img/icons/logout.png" alt="Marcar Egreso">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-4">
                        <ul class="menu_botones">
                            {% if perms.operadores.control_asistencia %}
                                <li><a href="{% url 'operadores:checkin'  %}">Ingreso Operador</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}   